* {
    /* outline: 1px solid red; */
}
body {
    margin: 0;
    min-width: 1425px;
}
header {  
    padding: 30px 0 20px;
    border-bottom: 1px solid rgb(231, 231, 231);
    background-color: rgb(239, 239, 239);
}
nav {
    width: 1080px;
    margin: 0 auto;
    font-size: 0;
    text-align: justify;
}
nav::after {
    content: "";
    display: inline-block;
    width: 100%;
}
.logo {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
.logo a {
    display: inline-block;
    text-decoration: none;
    color: rgb(0,0,0);
}
.logo p {
    margin: 0;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
}
.logo img {
    height: 80px;
} 
nav ul {
    display: inline-block;
    padding: 0;
    width: 80%;
    vertical-align: middle;
}
nav ul::after {
    content: "";
    display: inline-block;
    width: 100%;
}
ul li {
    display: inline-block;
}
li a {
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    text-decoration: none;
    text-transform: capitalize;
    color: rgb(130, 130, 130);
}
.active {
    color: rgb(247, 164, 29);
}
nav a:hover {
    color: rgb(247, 164, 29);
}
section {
    padding: 80px 0 100px;
    background-color: rgb(252, 252, 252);
}
.information {
    margin: 0 auto;
    width: 970px;
    font-size: 0;
}
.information_container {
    display: inline-block;
    width: 49%;
}
h3 {
    font-size: 35px;
    font-weight: normal;
}
.information_container h2 {
    margin: 0;
    font-size: 60px;
    font-weight: normal;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.information_container h3 {
    margin: 0;
}
.information_container p {
    margin: 0;
    font-size: 19px;
}
.link_container {
    margin: 50px auto 0 ;
    width: fit-content;
}
.link_container a {
    display: inline-block;
    padding: 20px 50px;
    font-size: 28px;
    text-decoration: none;
    background: linear-gradient(#fcba4f 55%, #fc9e09 45%);
    color: rgb(255, 255, 255);
    border-radius: 4px;
}
.link_container p {
    font-size: 14px;
}
.box_img {
    margin-left: 4%;
    width: 47%;
    vertical-align: top;
}
article{
    padding: 80px 0 320px;
}
.article_container {
    margin: 0 auto;
    width: 990px;
}
.article_container h3 {
    margin: 0 0 30px;
}
.article_content {
    columns: 2;
    column-gap: 40px;
}
.article_content p {
    margin: 30px 0 0 0;
    font-size: 19px;
}
.article_content p:first-child {
    margin: 0;
}
footer {
    padding: 40px 0 15px;
    border-top: 1px solid rgb(231, 231, 231);
    background-color: rgb(238, 239, 239);
    font-size: 0;
}
.footer_container {
    margin: 0 auto;
    width: 1080px;
}
.copyright, .media {
    display: inline-block;
    width: 50%;
}
.copyright {
    vertical-align: middle;
}
.copyright p {
    margin: 0;
    font-size: 16px;
}
.media {
    text-align: right;
    vertical-align: middle;
}
.media a {
    display: inline-block;
    text-decoration: none;    
    color: rgb(0,0,0);
}
.media a:hover {
    color: rgb(247, 164, 29);
}
.media a + a {
    margin-left: 20px;
}
.media i {
    padding: 5px;
    font-size: 40px;
}