* {
    outline: 1px solid red;
}
body {
    margin: 0;
    min-width: 1425px;
}
header {  
    padding: 30px 0 20px;
    border-bottom: 1px solid rgb(231, 231, 231);
    background-color: rgb(239, 239, 239);
}
.header_container {
    width: 1080px;
    margin: 0 auto;
    font-size: 0;
    text-align-last: justify;
}
.logo {
    display: inline-block;

    vertical-align: middle;
}
.logo a {
    text-align-last: center;
    text-decoration: none;
    color: rgb(0,0,0);
}
.logo p {
    margin: 0;
    font-size: 18px;
    text-transform: uppercase;
}
.logo_container {
    width: 120px;
    height: 100px;
}
.logo_container img {
    height: 100%;
    object-fit: contain;
}
nav {
    display: inline-block;
    width: 80%;
    vertical-align: middle;
}
ul {
    display: inline-block;
    padding: 0;
    width: 100%;
}
li {
    display: inline-block;
}
nav a {
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    text-decoration: none;
    text-transform: capitalize;
    color: rgb(130, 130, 130);
}
.active {
    color: rgb(247, 164, 29);
}
nav a:hover {
    color: rgb(247, 164, 29);
}
section:first-child {
    padding: 80px 0 100px;
    background-color: rgb(252, 252, 252);
}
section:nth-child(2) {
    padding: 80px 0 320px;
}
.information_container {
    margin: auto;
    width: 970px;
    overflow: auto;
}
.information, .information_picture {
    display: inline-block;
}
h3 {
    font-size: 35px;
    font-weight: normal;
}
.information {
    width: 49%;
    vertical-align: top;
}
.information h2 {
    margin: 0;
    font-size: 60px;
    font-weight: normal;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.information h3 {
    margin: 0;
}
.information p {
    margin: 0;
    font-size: 19px;
}
.link_container {
    margin: 50px auto 0 ;
    width: 275px;
}
.link_container a {
    display: inline-block;
    padding: 20px 50px;
    font-size: 28px;
    text-decoration: none;
    background: linear-gradient(#fcba4f 55%, #fc9e09 45%);
    color: rgb(255, 255, 255);
    border-radius: 4px;
}
.link_container p {
    font-size: 14px;
}
.information_picture {
    width: 47%;
    float: right;
}
.box_img {
    width: 100%;
    object-fit: contain;
    vertical-align: bottom;
}
.content_container {
    margin: auto;
    width: 990px;
}
.content_container h3 {
    margin: 0 0 30px;
}
.content {
    columns: 2;
    column-gap: 40px;
}
.content p {
    margin: 0 0 30px 0;
    font-size: 19px;
}
.content p:nth-child(3n) {
    margin: 0;
}
footer {
    padding: 40px 0 15px;
    border-top: 1px solid rgb(231, 231, 231);
    background-color: rgb(238, 239, 239);
    font-size: 0;
}
.foot_container {
    margin: auto;
    width: 1080px;
}
.copyright, .media {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}
.copyright p {
    margin: 0;
    font-size: 16px;
}
.media {
    text-align: right;
}
.media a {
    display: inline-block;
    text-decoration: none;    
    color: rgb(0,0,0);
}
.media a:hover {
    color: rgb(247, 164, 29);
}
.media a + a {
    margin-left: 20px;
}
.media i {
    padding: 5px;
    font-size: 40px;
    vertical-align: middle;
}