body {
    margin-top: 0px;
    border-radius: 30px;
    font-family: Arial;
    margin: 0 auto;
}

header{
	margin: 0 auto;
	background-color: #eeeeee;
	width: 960px;
	height: 120px;
}

.clear_div {
    clear: both;
}

.float_clear {
    clear: both;
}

h1{
	float: left;
	margin: 10px 80px; 
	font-size:20px;
	font-weight:bold;
}

h2 {
    font-size:34px;
	font-weight:bold;
	line-height: 60px;
}

h3 {
    font-size:22px;
	font-weight:bold;
	line-height: 50px;
}

nav{
	display:inline;
	width: 700px;
	height: 100px;
	font-size: 30px;
}

li{
	float: left;
	margin: 50px 15px;
	text-decoration: none;
}

p{
	text-indent: 25px;
	line-height: 18px;
	font-size: 12px;
}

.ideasBox1{
	width: 860px;
	height: 300px;
	margin: auto;
	padding:50px;
	clear: both;
	background-color: #fdfdfd;
}

.ideasBox2{
	width: 850px;
	height: 300px;
	margin: auto;
	clear: both;
}

a{
	text-decoratio: none;
	color: #666666;
	margin-left: 5px;
}


#ideas{
	float: left;
	margin: 70px 60px 0px 300px;
	width: 300px;
	height: 280px;
	text-align: justify;
}

#tryitnow_BTN{
	background: url(img/try_btn.png) no-repeat;
	padding:12px 57px;
	border: 0px;
	overflow: hidden;
	text-indent:-999em;
	margin: 0px 70px;
}

#downloadImg{
	float: left;
	margin: 50px 60px 0px 0px;
	width: 200px;
	height: 300px;
}

#placeHolder_1{
	float: left;
	width: 300px;
	height: 250px;
	margin: 10px 10px 0px 300px;
	text-align: justify;
}

#placeHolder_2{
	float: left;
	width: 300px;
	height: 250px;
	margin: 10px 10px 0px 50px;
	text-align: justify;
}

footer{
	clear: both;
	font-size: 15px;
	margin: 0 auto;
	width: 760px;
	height: 50px;
	padding: 30px 100px 0px 100px;
	background-color: #eeeeee;
    text-decoration: none;
}