#wrap {
    width: 900px;
    height: 1340px;
}
#navbar {
    width: 900px;
    height: 50ox;
    background-color: #ddd;
    margin: auto;
}

#logo {
    width: 30px;
}

#text1 {
    width: 300px;
    height: 300px;
}

#box-content {
    width: 300px;
    height: 300px;
}
#box {
    width: 200px;
}

#c-title {
    width: 600px;
    height: 50px;
}

#text2-L {
    width: 300px;
    height: 300px;
}

#text2-R {
    width: 300px;
    height: 300px;
}

#footer {
    width: 900px;
    height: 50px;
    background-color: #ddd;
}