#footer {
  background-color:#DDDDDD;
  position: relative;
  height: 4em;
  margin: 0 auto;
  width: 85em;
}

#footer ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  position:absolute;
  right: 0;
  bottom: 0;
}

#footer li {
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
}

#footer p {
  margin: auto 0;
}

#footer img {
  width: 2em;
  height: 2em;
}
