#header {
  background-color: #E6E6E6;
  position:relative;
  margin: 0 auto;
  width: 85em;
  height: 7em;

}
#header img {
  padding-left:3em;
}


#header ul {
  display:flex;/*平均分散漂浮*/
  position:absolute;
  right: 0em;
  top: 2em;
}

#header li {
  list-style-type: none;/*刪除清單預設的圓點點*/
  width: 100%;
  padding:0 5em;
}

#header a {
  text-decoration:none;/*刪除超連結底線*/
}

#header a:link {
  color:black;
}/*原本的樣子*/

#header a:visited {
  color:#FF8800;
}/*點擊過後的樣子*/

#header a:hover {
  font-size:20;
  color:#0044BB;
  text-decoration:underline;
}/*滑鼠經過的變化*/

#header a:active {
  color:red;
  text-decoration:underline;
}/*滑鼠點擊時的效果*/
