
#topContainer {
  padding-bottom: 10em;
  padding-left:10em;
  margin: 0 auto;
  width: 85em;
}


#topContainer-left {
  width: 20em;
  float:left;
}

#topContainer-left img {
  width: 15em;
  height: 3em;
  padding-left: 5em;
  display:block;
}

#topContainer-left p2 {
  width: 15em;
  padding-left: 5em;
}

#topContainer-right {
  float:left;
  width: 20em;
}

#topContainer-right img {
  width: 24em;
  height: 21em;
}

#clear {
  clear:both;/*有float就要clear+指定高度才不會消失*/
}
