* {
    /* outline: 1px solid #000; */
    box-sizing: border-box;
}

html,body {
    margin: 0;
    padding: 0;
    font-family: Tahoma;
}

h1,h2,h3,h4 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: Trebuchet;
    font-weight: 100;
}

/* ///////////////////////  header  /////////////////////// */
header {
    width: 100%;
    font-size: 0;
    background-color: #eeeeee;
    text-align: center;
}

header nav {
    width: 74%;
    display: inline-block;
}

header .logo {
    display: inline-block;
    font-size: 0;
    vertical-align: middle;
    width: 12%;
}

header .logo img {
    height: 90px;
    display: inline-block;
}

header .logo img:hover {
    cursor: pointer;
}

header .logo h1 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

header .navbar {
    display: inline-block;
    line-height: 182px;
    width: 88%;
}

header .navbar a {
    display: inline-block;
    vertical-align: middle;
    line-height: initial;
    font-size: 18px;
    text-decoration: none;
    width: 10%;
    margin: 5%;
    padding: 2% 0;
    color: #969696;
    
}

header .navbar a:hover {
    color: #F3973E;
    cursor: pointer;
}

main {
    width: 100%;
    margin: 0 auto;
}

/* /////////////////////// main section /////////////////////// */

main section {
    width: 100%;
    background-color: #FDFDFD;
    font-size: 0;
    text-align: center;
}

main section .jumbotron{
    width: 80%;
    display: inline-block;
    /* margin: 0; */
    /* padding: 0; */
    line-height: 520px;
    padding-top: 50px;
}

main section .jumbotron .topic {
    line-height: initial;
    display: inline-block;
    /* vertical-align: top; */
    /* text-align: center; */
    width: 38%;
}

main section .jumbotron .topic .content {
    /* line-height: initial; */
    text-align: left;
}

main section .jumbotron .topic .content h2 {
    font-size: 64px;
    letter-spacing: 2px;
    font-weight: 400;
}

main section .jumbotron .topic .content h3 {
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 1px;
}

main section .jumbotron .topic .content p {
    font-size: 18px;
    font-weight: normal;
    color: #7E7E7E;
}

main section .jumbotron .topic aside {
    display: inline-block;
    margin-top: 20px;
}

main section .jumbotron .topic aside img {
    width: 260px;
}

main section .jumbotron .topic aside img,a:hover {
    cursor: pointer;
}

main section .jumbotron .topic p {
    font-size: 16px;
    font-family: Marlett;
    font-weight: 100;
    text-align: left;
    margin: 0;
}

main section .jumbotron figure {
    display: inline-block;
    width: 45%;
    line-height: initial;
    vertical-align: top;
    margin: 0;
    padding-left: 5%;
}

main section img{
    width: 100%;
}

/* /////////////////////// main article /////////////////////// */

main article {
    width: 100%;
    font-size: 0;
    background-color: #FFFFFF;
    text-align: center;
    line-height: 700px;
}

main article .jumbotron {
    width: 80%;
    display: inline-block;
    line-height: initial;
    vertical-align: top;
}

main article .jumbotron h3 {
    width: 83%;
    display: inline-block;
    font-size: 34px;
    font-weight: 400;
    text-align: left;
    margin-top: 65px;
    margin-bottom: 32px;
}

main article .paragraph {
    width: 83%;
    display: inline-block;
    font-size: 16px;
    text-align: left;
    vertical-align: top;
    column-count: 2;
    column-gap: 6%;
}

main article .paragraph p {
    width: 100%;
    color: #575757;
    margin: 0;
    margin-bottom: 35px;
    font-size: 20px;
    /* padding-top: 20px; */
}

/* /////////////////////// footer /////////////////////// */

footer {
    background-color: #EEEEEE;
    /* text-align: center; */
}
footer .jumbotron {
    width: 70%;
    line-height: 87px;
    /* display: inline-block; */
    /* text-align: left; */
    margin: 0 auto;
    font-size: 0;
}

footer .jumbotron .footnote {
    font-size: 14px;
    /* float: left; */
    display: inline-block;
    width: 50%;
    line-height: initial;
    vertical-align: middle;
}

footer .jumbotron .link {
    font-size: 18px;
    /* float: right; */
    text-align: right;
    display: inline-block;
    width: 50%;
    line-height: initial;
    vertical-align: middle;
}

footer .jumbotron .link a {
    margin: 12px;
    vertical-align: middle;
    color: #000000;
}
