html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.top {
  background-color: #f5f5f5;
}
.top .top-left {
  display: inline-block;
}
.top .top-left .img {
  background-image: url(./img/logo.png);
  width: 40px;
  height: 50px;
  margin-left: 240px;
  background-size: cover;
  margin-top: 20px;
}
.top .top-left .imgtext {
  color: #000;
  text-align: center;
  padding-left: 220px;
}
.top .top-text {
  display: inline-block;
  text-align: center;
  position: relative;
  top: -20px;
  margin-left: 40px;
  margin-bottom: 20px;
}
.top .top-text .text {
  color: #000;
  display: inline-block;
  width: 180px;
}
.above {
  margin: 0px auto;
  width: 80%;
  padding-top: 50px;
}
.above .above-left {
  display: inline-block;
  width: 400px;
  padding-right: 180px;
  position: relative;
  top: -80px;
  left: 180px;
}
.above .above-left h1 {
  font-size: 70px;
}
.above .above-left h3 {
  font-size: 30px;
}
.above .above-left button {
  font-size: 30px;
  color: #000;
  background-color: rgb(255, 187, 0);
  margin-top: 20px;
  margin-left: 80px;
}
.above .above-left span {
  margin: 20px;
  margin-left: 80px;
}
.above .bigimg {
  display: inline-block;
  background-image: url(./img/box.png);
  width: 380px;
  height: 350px;
  background-size: cover;
}
.article {
  width: 770px;
  height: 450px;
  margin: 0 auto;
  padding-top: 100px;
}
.article h1 {
  font-size: 30px;
}
.article .a1 {
  width: 45%;
  display: inline-block;
  margin-right: 40px;
}
.article .a2 {
  width: 45%;
  display: inline-block;
}
.foot {
  background-color: #f5f5f5;
}
.foot .f1 {
  display: inline-block;
  margin: 20px;
  margin-left: 330px;
}
.foot .f2 {
  display: inline-block;
  position: relative;
  top: 5px;
  left: 400px;
}
.foot .f2 .a {
  display: inline-block;
  background-color: #000;
  width: 20px;
  height: 20px;
}
.foot .f2 .b {
  display: inline-block;
  background-color: #000;
  width: 20px;
  height: 20px;
}
.foot .f2 .c {
  display: inline-block;
  background-color: #000;
  width: 20px;
  height: 20px;
}
.foot .f2 .d {
  display: inline-block;
  background-color: #000;
  width: 20px;
  height: 20px;
}
