#header{
  background-color: #ebefef;
  padding: 20px;
  margin: auto;

}
#logo{
  width: 20%;
  margin: auto;
  float: left;
  text-align: center;
}
#nav{
  padding: 40px;

}
#nav > a {
  display: inline-block;
  position: relative;
  width: 180px;
  text-align: center;
  color: black;
  font-family: cursive;
  font-size: 16pt;
}

#contect{
  width: 1300px;
  height: 360px;
  margin: auto;
  position: relative;
  padding: 10px;
  font-size: 25px;
}
#top{
  margin: auto;
  top: 20px;
  height: 500px;
}
#left{
  width: 500px;
  height: 340px;
  padding: 10px;
  margin: 50px;
  position: relative;
  float: left;

}
#left > h1{
  font-size: 50pt;
  margin-top: 20px;
  margin-bottom: 20px;
}
#left > h2{
  font-size: 25pt;
  margin-top: 20px;
  margin-bottom: 20px;
}

#object{
  width: 250px;
  margin: auto;
}
#object > p {
 margin-top: 0px;
 font-size: 10pt;
}
#right{
  width: 500px;
  height: 340px;
  padding: 10px;
  margin-top: 100px;
  position: relative;
  float: left;
}
#down{
  margin: 0px;
  top: 20px;
  height: 500px;
}
#clear{
  height: 800px;

}
#footer{
  background-color: #ebefef;
  height: 60px;
  margin: auto;
  padding: 10px;
}

#reser {
  margin-right:500px;
  margin-left: 100px;
  display: inline;
}
#logolink{
  width: 200px;
  margin: 10px;
  display: inline-block;
}
