 
*{
    /* outline: solid red 1px; */
    font-family: Arial, Helvetica, sans-serif;
    /* 字型 */
} 

.body{
    overflow-y:auto ; 
    margin: 0; 
    padding: 0;
}


.template{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: auto;
    opacity: .5;
}

header{
    margin: 0; 
    padding: 0;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #D7d7d7;
    height: 24%;
    width: 100%;
    background-color:#ededed;

}


.head-left{
    margin: 0; 
    padding: 0px 0px 0px 0px;
    height: 100%;
    width: 25%;
    float: left;

}

.head-left1{
    margin: 0; 
    padding: 8% 0 0 60%;
    display: inline-block;

}

.head-left2{
    margin: -35 0 0 0; 
    padding: 0% 0% 0% 56%;
    width: 44%;
    display: inline-block;
}

.txt20{
    font-size:20px;
    font-weight:bold;
    color: black;
    line-height: 135%;
    transition: color .5s;
}

.txt20:hover{
    font-size:20px;
    font-weight:bold;
    color: #ffb65a;
    line-height: 135%;
}


.head-right{
    margin: 0px 0px 0px 0px; 
    padding: 99px 0px 0px 27px;
    width: 65%;    
    float: left;
}

.head-right2{
    margin: 0px 6% 0px 0px; 
    padding: 90px 40px 90px 40px;
    display: inline;
}

.head-right2 {
    font-size:20px;
    font-weight:bold;
    color:  #808080;
    line-height: 135%;
    text-decoration:none ;
  }

.head-right2:hover {
    color: #ffb65a;
  }

.center{
  margin-top: 0%; 
  margin-bottom: 0%;
  padding-top: 5%;
  padding-bottom: 0%;
  padding-left: 0%;
  padding-right: 0%;
  /* padding-left: 19%;
  padding-right: 0%; */
  height: 67%;
  width: 100%;
  /* display: flex ; 
  align-items: center;
  justify-content: center;  */
  background-color:#FDFDFD;
}

.space{
    height: 10%;
}

.center-left{
    margin: 0px 0px 0px 19%; 
    padding: 0;
    height: 100%;
    width: 31%;
    float: left;

}

.center-txt{
    margin: 0; 
    padding: 0;
}

.txt90{
    font-size:90px;
    line-height: 100%;
    /* letter-spacing: 0%; */
}

.txt44{
    font-size:44px;
    line-height: 100%;
    /* letter-spacing: 0%; */
}

.txt25{
    font-size:25px;
    color: #595959;
}



.center-txt2{
    line-height: 135%;
    margin-top: 7px; 
    margin-bottom:58px;
    padding: 0;
}

.center-right{
    margin: 0px 0px 0px 0px; 
    padding-left: 3%;
    height: 100%;
    width: 28%;
    float: left;
}



.button{
    margin-top: 0; 
    margin-bottom:0;
    margin-left: 16%;
    margin-right: 25%;
    border: 0px 0px 0px 0px;
    padding: 25px 65px 25px 65px;
    width:59% ;
    height: 87px;
    background-image: linear-gradient(to top, #ff902a 0% ,#ff902a 50% ,#ffba65 51% ,#ffba65 100%) ;
    color:#fff;
    border-radius:10px;
    font-size:33px;
    text-decoration:none ;
}
/* 
.button:hover{
    margin-top: 36px; 
    margin-bottom:0;
    margin-left: 16%;
    margin-right: 25%;
    border: 0px;
    width:59% ;
    height: 87px;
    background-image: linear-gradient(to top, #ff902a 0% ,#ff902a 41% ,#ffba65 42% ,#ffba65 100%) ;
    color:#fff;
    border-radius:10px;
    font-size:33px;
} */

.minitxt{
    margin-top: 25px; 
    margin-bottom:0;
    margin-left: 16%;
    margin-right: 25%;
    width: 59%;
    font-size:19px;
    color: #595959;
}

.center2{
    margin-top: 0; 
    margin-bottom:0;
    margin-left: 0;
    margin-right: 0;
    height: 86%;
    width: 100%;
}

.center2-top{
    margin-top: 82px; 
    margin-bottom:21px;
    margin-left: 17%;
    margin-right: 17%;
    height: 8%;
    width: 66%;
}

.center2-bottom{
    /* height: 92%; */
    width: 100%;
    /* float: left; */
    /* display: flex ;  */
}

.center2-left{
    margin-top: 0; 
    margin-bottom:0;
    margin-left: 17%;
    margin-right: 0;
    width: 33%;
    float: left;
}

.center2-txt{
    margin-top: 0; 
    margin-bottom:43px;
    margin-left: 0;
    margin-right: 0;
    line-height: 140%;
}

.center2-right{
    margin-top: 0; 
    margin-bottom:0;
    margin-left: 2%;
    margin-right: 15%;
    width: 33%;
    float: left;
}

footer{
    margin: 0;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color:  #D7d7d7;
    height: 12%;
    width: 100%;  
    background-color:#eeeeee;
    /* align-items: center; */
    /* justify-content: center;  */
}

.footer-left{
    margin-top: 2%; 
    margin-bottom:0;
    margin-left: 15%;
    margin-right: 0%;
    width: 35%; 
    float: left;
    /* align-items: center; */
    /* justify-content: center;  */
}

.footer-txt{
    margin-top: 22px; 
    margin-bottom:0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    font-size:18px;
    color:#a6a6a6;

}

.footer-right{
    margin-top: 2%; 
    margin-bottom:0;
    margin-left: 358px;
    margin-right: 0%;
    width: 17%; 
    float: left;
    /* align-items: center; */
    /* justify-content: center;  */
}

.img{
    margin-top: 0; 
    margin-bottom:0;
    margin-left: 0;
    margin-right: 8%;
}

/* .A-img{
    border-color: #eeeeee;
    ;
} */