*{
    outline: solid red 1px;
} 

p {
    text-align: center;
}

/* p:empty{
    background-color: black;
    padding: 100px ;
}

p:nth-child(3n) {
    color: red;
}

p:nth-child(3n+1) {
    font-size: 24px;
} 

p:nth-child(-n+3) {
    line-height: 50px;
} */

/* p:nth-child(even) {
    font-size: 24px;
}

p:nth-child(odd) {
    color: red;
} */

/* div :only-of-type{
    color: blue;
}

div :only-child{
    color: blue;
    line-height: 60px;
} */
/* 
div p:nth-of-type(3n+2) {
    font-size: 24px;
} 

p:first-child {
    font-size: 32px;
}

p:last-child {
    color: green;
}*/

/* .study {
    margin: 0 auto;
    width: 500px;
    font-size: 24px;
} 

a:link {
    font-size: 32px;
    color: green;
}

a:visited {
    font-size:24px ;
    color: black;
}

a:hover{
    color: white;
}

a:active {
    background-color: blueviolet;
}

a:focus {
    background-color: blue;
}

p:lang(en-us) {
    color: yellow;
}

div * p {
    font-size: 50px;
}

p:first-line { 
    color: red;
    font-size: 40px;    
}

P:first-letter { 
    font-size: 200%;
    font-style: italic;
    font-weight: bold;
    /* float: left */
 } */
 
 /*建立全域變數*/
/* :root {
	--csscoke-red: #f00;
} */

/*套用變數*/
/* .section-item {
	color: var( --csscoke-red );
} */

p ::after{
    content: (很久很久以前有12T);
}