*{
  margin: 0px;
  padding: 0px;
}

.logo{
  height: 150px;
}

header{
  width: 100%;
  background-color: #eeeeee; 
  overflow: auto;
}

.head{
  width: 900px;
  margin: 0 auto;
}

.bar {
  float: right;
  line-height:  110px;
}

.bar li {
  display: inline-block;
  margin: 20px 40px;
}

a{
  padding: 2px;
  color: #B8B8B8;
  font-weight: bold; 
}

a:link{
  text-decoration: none;
}

a:hover {
  color: #F5BC84;
  cursor: pointer;
}

.button_box{
  margin: 0 auto;
  width: 200px;
}

.button{
  width: 200px;
  height: 45px;
  color: white; 
  background: linear-gradient(to bottom, #FFB366 50%,#F28500 50%);
  margin-top: 10px;
  border-radius: 5px;
  font-size: 20px;
  border: none;
}

.section_top{
  width: 100%;
  background-color: #FDFDFD;
  padding-top: 20px;
}

.ideas{
  width: 800px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.ideas_text{
  width: 340px;
  
}

.ideas_text p{
  line-height: 23px;
}

.picture_1{
  width: 300px;
  height: 300px;
  float: right;
  margin: 0px 100px 0px 0px;
}

h1{
  margin-top: 20px;
  font-size: 50px;
  font-weight: 100;
  text-align: left;
}

h2{
  font-size: 25px;
  font-weight: 100;
  letter-spacing: 1px;
}

p{
  text-align: justify;
  color: #5c5c5c;
 
}

.container{
  width: 800px;
  margin: 0 auto;
}


.section_down{
  padding-bottom: 200px;
}

.section_down h2{
  line-height: 100px;
  color: #3c3c3c;
}

.tip{
  font-size: 12px;
  text-align: left;
}

.paragraph{
  column-count: 2;
  column-gap: 100px;
  line-height: 20px;
}

.paragraph p{
  padding-bottom: 25px;
} 

.foot{
  background-color: #eeeeee;
  margin: auto;
}

.foot-p{
  font-size: 12px;
  line-height: 50px;
  display: inline-block;
  padding-top: 20px;
}

.fab {
  font-size: 35px;
  text-align: center;
  margin: 5px 2px;
}

.fab:hover {
  opacity: 0.7;
}

.icon{
  float: right;
  margin-top:10px;
  padding-left: 30%;
}

.icon a{
  color: black;
}
