header img {
  display:block;
  float:left;
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-left: 50px;
  margin-bottom: 10px;
}
header ul {
  list-style-type: none;
  float:right;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
}
header li {
  float:left;
  margin-left: 40px;
  margin-right: 40px;
  width: 10px;
  height:auto;
}
