header {
  background-color: #E6E6E6;
  width: 100%;
  height: 120px;
}
.top{
  /*background-color: grey;*/
  width: 100%;
  height: 400px;
  display: flex;
}
.bottom{
  /*background-color: white;*/
  width: 100%;
  height: 400px;
  margin-top:50px;
}

footer{
  background-color: #E6E6E6;
  width: 100%;
  height: 80px;
}
