footer {
	background-color: rgb(238,238,238);
}

.footer_wrapper {
	width: 700px;
	padding: 50px 0 30px;
	margin: 0 auto;    
    text-align-last: justify;
}

.footer_copyright {
    width: 300px;
    display: inline-block;
    vertical-align:middle;
    text-align-last: initial;
}

.footer_copyright p {
    font-size: 14px;
    color: rgb(90, 90, 90);
}

.footer_media {
    width: 200px;
    font-size: 0;
    display: inline-block;
    vertical-align:middle;
    text-align-last: initial;
}

.footer_media a {
    display: inline-block;
}

.footer_media a i {
    font-size: 32px;
    color: black;
}
