*{outline:solid 1px;}

body , h1 ,h2 ,h3 ,p{
	margin:0;
}

ul{
	padding-inline-start: 0;
}

.wrap{
	margin:0 auto;
}

/*header*/

.header{
	background-color:#eeeeee; 
	text-align: center;
	font-size: 0;
}

.header a{
	text-decoration: none;
	color: black;

}

.logo{
	display: inline-block;
	margin:20px 50px 20px 0;

}

.logo h1{
	font-size: 12px;
	line-height: 10px;
}

.logo img{
	margin-bottom: -10px;
}


.navbar{
	display: inline-block;
	
}

.navbar ul{
	font-size: 0;
}

.navbar li{
     display: inline-block;
     vertical-align:bottom;  
}

.navbar a{
	display: block;
	padding: 30px 50px 30px 50px;
    font-size: 16px;
    color: #818181;
}

.navbar a:hover{
	color: #f99303;
}

/*header*/


/*content*/
.content{
  width: 900px;
  margin-left: 245px;
  margin-top: 50px;
	
}

.box{
	width: 47%;
	display: inline-block;
	margin-right: 60px;
}

.description-up{
	margin-left:20px; 
} 

.description-up h2{
	font-size: 40px;
	letter-spacing: 2px;
	padding-left: 3px;
		
}

.description-up h3{
	font-size: 29px;
	line-height: 26px;

}

.description-up a:hover{
	color: red;
}

.button{
	display: block;
	width: 50%;
	text-align: center;
	padding:5px 20px;
	color: white;
	font-size: 25px;
	text-decoration: none;
	background-image:linear-gradient(#ffba53 50%,#f99203 50%);
	border-radius:8px;
	margin-bottom: -4px;
}

.description-up p{
	margin-bottom: 30px;
	padding-left: 2px;

}

.description-up a , span{
	margin-left: 50px;
}


.description-up span{
	font-size: 5px;
}

.description-down{
	margin-left:20px; 
	margin-top: 200px;
}

.description-down h3{
	padding: 0 0 30px 0;
	font-size: 29px;
}

.description-down p{
	margin:40px 0;
}


.imgbox{
	width: 45%;
	display: inline-block;
} 

.content{
	position: relative;
}

.imgbox img{
	position: absolute;
	top:0;
	right: 30px;
}

.imgbox p{
	margin:40px 0;
}
/*content*/


/*footer*/

.footer{
	background-color:#eeeeee; 
	margin-top: 200px;
}

.copyright{
	width: 950px;
	 margin:0 auto;
}

.copyright p{
	 width: 55%;
     padding:20px 0;
     display: inline-block;  
}

.contact{
	width: 40%;
	display: inline-block;
	font-size: 0;
	vertical-align: middle;
	text-align: right;
}

.contact img{
	margin-left: 20px;
}

/*footer*/





































