footer {
  background-color: #EEEEEE;
}

.footbox {
  margin: 0px auto;
  padding: 25px 0px;
  width: 850px;
  text-align-last: justify;
}

.footbox p {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
}
.footbox nav {
  display: inline-block;
  vertical-align: middle;
  font-size: 0px;
}

.footbox li {
  display: inline-block;
  margin-left: 20;
}
.footbox li i {
  font-size: 30px;
}
