* {
  font-family: sans-serif;
  outline: 1px black solid;
}
body {
    margin: 0;
    background-image: linear-gradient(#FCFCFC 50%, white 20%);
}

a {
  text-decoration: none;
  cursor: pointer;
}
a:link , a:visited{
  color:black;
}

a:hover {
  color: orange;
}


header {
  background-color: #EEEEEE;
  text-align:center;
}

.headbox {
  padding: 15px;
  width: 900px;
  margin: 0px auto;
  text-align-last: justify;
}
.title {
  display:inline-block;
  width: 100px;
  vertical-align: middle;
}
.title img {
  display: block;
  margin: 0px auto;
  vertical-align: middle;
}

.title h1 {
  margin: 0px auto;
  font-size: 12px;
  font-weight: normal;
  text-align-last: center;
  }

header nav{
  display: inline-block;
  vertical-align: middle;
  font-size: 0px;
  }

header nav li {
  display: inline-block;
  font-size: 15px;
  margin: 0px 53px;
  color: #585858;
  }

header nav li a:link{
  color: #585858;
}

header nav li a:visited{
  color: #585858;
}

header nav li a:hover{
  color: orange;
}