* {
  /* outline: 1px solid #000; */
  font-family: "Red Hat Display", sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  min-width: 992px;
}

body {
  text-align: center;
}

header {
  padding: 40px 0;
  background-color: #eee;
}

.logo {
  display: inline-block;
  margin-right: 100px;
  vertical-align: middle;
  font-size: 0;
}

h1 {
  font-size: 15px;
  margin: 0;
  font-weight: 500;
}

header a {
  text-decoration: none;
  color: #666;
  font-weight: 500;
  font-size: 14px;
  padding: 5px;
}

header a+a{
  margin-left: 95px;
}

header a:hover {
  color: #F28500;
}
main{
  padding-bottom: 130px;
}

section{
  padding-top: 65px;
}
.row2 {
  background-color: white;
}

.row1 {
  background-color: #fbfbfb;
  padding-bottom: 40px;
}

.box {
  width: 800px;
  margin: 0 auto;
}

h3,h4 {
  font-size: 27px;
  font-weight: 500;
  text-align: left;
  color: #333;
}

h4 {
  margin: 0;
  padding-bottom: 30px;
}

.column {
  width: 330px;
  display: inline-block;
  font-size: 15px;
  vertical-align: top;
  text-align: left;
}

.column:first-child{
  margin-right: 50px;
}

h1,h2,h3,p {
  margin: 0;
}

h2 {
  font-size: 45px;
  letter-spacing: 1px;
  line-height: 0.9;
  font-weight: 400;
  color: #333;
}

.column p {
  color: #333;
  line-height: 1.4;
}

.button_outer {
  padding-top: 20px;
  text-align: center;
}

.button_inner {
  display: inline-block;
  width: 200px;
}

button {
  width: 100%;
  border-color: #FFA000;
  border-radius: 5px;
  color: white;
  line-height: 50px;
  font-size: 20px;
  background: linear-gradient(to bottom, #FFA726 50%, #F28500 50%);
  border: none;
  cursor: pointer;
}

.dontWorry {
  text-align: left;
  line-height: 25px;
  color: #333;
}

.download {
  font-size: 0;
  
}
.download img {
  width: 100%;
}

.article {
  width: 100%;
  margin: 0;
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 80px;
          column-gap: 80px;
}

.article p {
  margin: 0;
  padding-bottom: 30px;
}

footer {
  padding: 25px 18%;
  background-color: #eeeeee;
}

.copyright {
  font-size: 14px;
  float: left;
  line-height: 25px;
  color: #333;
}

.contact {
  width: 140px;
  margin-left: auto;
  font-size: 0;
}

.contact a {
  color: black;
  /* line-height: 14.5px; */
}

i {
  font-size: 25px;
}

.contact a+a{
  margin-left: 15px;
}
