* {
  /* outline: 1px solid #000; */
  font-family: "Red Hat Display", sans-serif;
}


html, body {
  margin: 0;
  padding: 0;
  min-width: 992px;
}


body {
  text-align: center;
}

.navbar {
  background-color: #eee;
  padding: 40px 0;
}

.logo {
  display: inline-block;
  margin-right: 55px;
  vertical-align: middle;
}
.logo img {
  vertical-align: top;
}
.logo p {
  font-size: 15px;
  margin: 0;
  font-weight: 500;
}

ul {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 0;
}
ul li {
  display: inline-block;
  color: #607D8B;
  font-weight: 500;
  margin: 0px 55px;
  cursor: pointer;
  font-size: 16px;

}
ul li:hover {
  color: #F28500;
}

.row {
  padding: 30px 0;
  background-color: white;
}

.row1{
  background-color: #fafafa;
  padding-bottom: 50px;
}

.row2{
  padding-bottom: 130px;
}
.row .box {
  width: 800px;
  margin: 0 auto;
}
.row .box h4 {
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #333;
  text-align: left;
  margin-top: 0;
}

.column {
  width: 330px;
  display: inline-block;
  font-size: 15px;
  margin: 60px 65px;
  vertical-align: top;
  text-align: left;
}
.column h1, .column h2, .column h3, .column p {
  margin: 0;
}
.column h1 {
  font-size: 60px;
  letter-spacing: 1px;
  line-height: 50px;
  font-weight: 400;
}
.column h2 {
  font-size: 26px;
  font-weight: normal;
  letter-spacing: 1px;
}
.column p {
  color: #333;
  line-height: 20px;
}

.button_outer {
  /* margin: 0 auto; */
  margin-top: 20px;
  text-align: center;
}

.button_inner {
  display: inline-block;
  width: 200px;
}

.button_inner button {
  width: 100%;
  border-color: #FFA000;
  border-radius: 5px;
  color: white;
  line-height: 40px;
  font-size: 18px;
  background: linear-gradient(to bottom, #FFA726 50%, #F28500 50%);
  cursor: pointer;
}

.button_inner p {
  text-align: left;
  line-height: 25px;
}

.download {
  font-size: 0;
  
}
.download img {
  width: 100%;
}

.article {
  width: 100%;
  margin: 0;
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 80px;
          column-gap: 80px;
}
.article p {
  margin: 0;
  padding-bottom: 30px;
}

.footer {
  width: 100%;
  padding: 25px 0;
  background-color: #eee;
}

.copyright {
  width: 880px;
  color: #333;
  margin: 0 auto;

}
.copyright::after{
  content:'';
  display: block;
  clear: both;
}

.text {
  display: inline-block;
  vertical-align: middle;
  float: left;
  line-height: 25px;
}

.icons {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  margin-left: 400px;
}

.icons img {
  width: 25px;
  margin-left: 10px;
  cursor: pointer;
}
