
.headerbox , .footerbox {
    box-sizing: border-box;
    margin: 0 auto;
    text-align-last: justify;
    padding: 15px;
    width: 900px;
}

.banner , .about {
    width: 800px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    cursor: pointer;
}
a:link , a:visited{
    color:black;
}

a:hover {
    color: orange;
}

a:active {
    color: white;
}



@media  screen and (max-width: 800px) {
    .headerbox {
        width: 80%;
    }
    .headerbox>nav {
        display: inline-block;
        width: 80%;
    }
    .banner {
        width: 70%;
    }
    .banner-text {
        display: block;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 50px;
        text-align: center;
    }
    .img-frame {
        display: block;
        margin: 0 auto;
    }
    .img-frame > img {
        display: block;
        width: 100%;
    }
    .about {
        width: 70%;
    }
    .footerbox {
        width: 80%;
    }
 }

 @media  screen and (max-width: 400px) {
     .logo {
         display: block;
     }
    .headerbox>nav {
        display: block;
    }
    .banner {
        width: 100%;
    }
    .banner-text {
        display: block;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 50px;
        text-align: center;
    }
    .img-frame {
        display: block;
        margin: 0 auto;
    }
    .img-frame > img {
        display: block;
        width: 100%;
    }
    .about {
        width: 100%;
    }
    .article-text {
        column-count: initial;
    }
    .footerbox {
        width: 100%;
    }
 }