footer {
  background-color: #EEEEEE;
}

.footerbox p {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
}
.footerbox ul {
  text-align-last: inherit;
  display: inline-block;
  width: 150px;
  font-size: 0px;
  vertical-align: middle;
}

.footerbox li {
  display: inline-block;
}
.footerbox i {
  font-size: 30px;
}
