
header {
  background-color: #EEEEEE;
  border-bottom: 1px solid #E7E5E5;
}

.logo {
  display:inline-block;
  vertical-align: middle;
}

.logo img {
  display: block;
  margin: 0 auto;
}

.logo a {
  display: inline-block;
  margin: 0 auto;
}

.logo h1 {
  margin: 0;
  font-weight: normal;
  font-size: 12px;
  }

nav {
  text-align-last: inherit;
  display: inline-block;
  width: 750px;
  vertical-align: middle;
  
  }

nav li {
  display: inline-block;
  font-size: 15px;
  color: #585858;
  }

nav li a {
  display: inline-block;
  padding: 10px;
}
