

header {
  /* background-color: #EEEEEE; */
}

.headerbox {
  box-sizing: border-box;
  padding: 15px;
  margin: 0 auto;
  width: 900px;
  text-align-last: justify;
}
.logo {
  display:inline-block;
  vertical-align: middle;
}
.logo img {
  display: block;
  margin: 0 auto;
  vertical-align: middle;
}

.logo h1 {
  margin: 0;
  font-weight: normal;
  font-size: 12px;
  }

header nav{
  display: inline-block;
  width: 750px;
  vertical-align: middle;
  text-align-last: inherit;
  
  }

header nav li {
  display: inline-block;
  font-size: 15px;
  color: #585858;
  }

header nav li a {
  padding: 10px;
}

header nav li a:link{
  color: #585858;
}

header nav li a:visited{
  color: #585858;
}

header nav li a:hover{
  color: orange;
}
