section {
  background: #FDFDFD;
}

.banner {
  padding: 60px 0px 100px 0px;
  font-size: 0px;
} 

.img-frame {
  display: inline-block;
  width: 50%;
  height: 360px;
  text-align: right;
}

.img-frame img {
  height: 100%;
}

.banner-text {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}
.banner-text h2 {
  margin: 0;
  line-height: 1;
  font-size: 65px;
  font-weight: 400;
}

.banner-text h3 {
  margin: 0;
  font-size: 30px;
  font-weight: 350;
}

.banner-text > p {
  margin: 0;
  font-size: 16px;
  color: #585858;
}

.try-it-text {
  width: fit-content;
  margin: 16px auto 0 auto;
}

.try-it-text >a {
  display: inline-block;
}

.button {
  padding: 15px 50px;
  font-size: 25px;
  background: linear-gradient(to top, #F99303 50%, #FFBA53 50%);
  border: none;
  border-radius: 6px;
  opacity: 0.9;
  transition: 0.3s;
}

.button:hover {opacity: 0.6}

.try-it-text .button {
    color: white;
}

.try-it-text p {
  margin: 0;
  font-size: 12px;
  color: #585858;
}

.about {
padding: 100px 0px 180px 0px;}

.about h3 {
  font-size: 30px;
  font-weight: 350;
}
.article-text {
  column-count: 2;
  column-gap: 24px;
}

.article-text p:first-child {
  margin: 0;
}