/* style.css */
*{
    padding:0px;
    margin:0px;
}
.header {
}
.container {
    /* width: 1170px;  */
    margin-left: auto;
    margin-right: auto;
}
.head {
    width: 100%;
    border-bottom: 1px solid #cecccc;
    /* margin-left: 0; */
    /* margin-right: 0; */
    min-height: 150px;
    display: table;
    background-color: #eeeeee;
}

.logo {
    display: table-cell;
    vertical-align: middle;
}
.logo > img {
    padding-left: 50%;
}
.nav {
    display: table-cell;
    vertical-align: middle;
    right: 15%;
}
.nav > ul {
    display: inline-block;
    list-style: none;
}
.nav-button {
    float: right;
    position: relative;
    margin-left: 70px;
}
.nav-button:last-of-type {
    margin-left: 0;
}
.nav-button-wrap {
    padding-left: 15%;
}
li > a {
    text-decoration: none;
    color: #777777;
}
li > a:hover {
    color: #ff9966;
}

/* body */
.contentwrap {
    background-color: #fbfbfb;
}
.container.body {
    width: 70%;
    padding-top: 3%;
    display: flex;
    justify-content: center;
    padding-bottom: 3%;
}
.content {
}
.row {
    display: table;
}
.grid_2 {
    display: table-cell;
    float: left;
    width: 45%;
    margin-left: 2.5%
}
.grid_2 > .wrap > img {
    display: block;
    margin: auto;
}

#trybutton {
    background-image: url(../images/try_btn.png);
}
.buttonwrap {
    text-align: center;
}
.content > h1 {
    margin-left: 2.5%;
    padding-bottom: 3%;
}

/* footer */
.footer {
    padding-top: 5%;
}
.container.foot {
    background-color: #ff66ff;
}

.footer > div > .contentwrap {
    border-top: 1px solid #cecccc;
}

.container.footer {
    width: 70%;
    padding-top: 0;
    display: table;
    justify-content: center;
    min-height: 100px;
}
.container.footer > .content {
    display: table-cell;
    vertical-align: middle;
}
.sns {
    float: right;
    padding-right: 40px;
}
