
/*wrap*/
.wrap{
	margin: 0 auto;
}

/*header區*/
.header{
	background-color: #eee;
	
}

.header .logo h1{
	font-size: 14px;

}

.header .menu {
	text-align: center;
	font-size: 0;
}

.header .menu > li{
	display: inline-block;
	border: 1px solid #888;
  
} 
.header .menu  li a{
	text-decoration: none;
	color: #888;
	font-size: 16px;

}


/*footer區*/
.footer{
	background-color: #eee;
	padding: 30px 50px;
}

