
/*wrap*/
.wrap{
	margin: 0 auto;
}

/*header區*/
header{
	background-color: #eee;
}
.header-container{
	outline: 1px solid blue;
	width: 980px;
	margin: 0 auto;
	padding: 18px 0;
	font-size: 0; /*處理inline-block縫隙*/
}

.logo{
	outline: 1px solid #aaa;
	display: inline-block;
	vertical-align: middle; /*不懂*/

}
.logo a > p{
	font-size: 16px;
}

nav{
	outline: 1px solid #aaa;
	display: inline-block;
	margin: 0 0 0 50px;
	

}

.menu li{
	outline: 1px solid #aaa;
	display: inline-block;
	padding: 20px 30px;
}
.menu li a{
	font-size: 18px;
}


/*footer區*/
.footer{
	background-color: #eee;
	padding: 30px 50px;
}

