/* css reset */

body{
    min-width: 1440px;
    margin: 0 auto; /* chrome default margin:8 px; */
}

ul {
    margin: 0px;
    padding: 0px;
}
/* end of css reset */

* {
    outline: 1px solid red;
}

p {
    margin: 0px; /*reset <p> margin*/
}

a {
    display: inline-block;
    text-decoration: none;
}

h2 {
    margin: 0px; /*remove h2 default margin(top & bottom)*/
    font-size: 65px;
    font-weight: normal;
    color: #2C2C2C;
    line-height: 95%;
}

h3{
    margin: 0px; /*remove h3 default margin(top & bottom)*/
    font-size: 32px;
    font-weight: normal;
    color: #383838;
}

/*疊圖*/
body>img {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.6;
}
/*疊圖 end*/

.image {
    width: 100%;
}

.container {
    box-sizing: border-box;
    /*將內容往內擠到寬1440px的配置，其餘空間留白(但有背景，由上一層header設定)*/
    width: 1440px; /* 預設解析度1440*/
    margin: 0 auto;
}

header {
    border-bottom: #ddd solid 1px;
    background-color: #eeeeee;
}

.header_container {
    padding: 30px 250px 25px 210px;
    text-align-last: justify ;
}

.header_container h1 {
    display: inline-block;
    margin: 0px;
    font-size: 0px;  
    text-align-last: center;
    vertical-align: middle;
}

.header_container h1 p  {
    font-size: 14px;
    color: #333;
}

.brand {
    display: inline-block;
    width: 60px; /*?*/
}

header nav {
    display: inline-block;
    font-size: 0px;
    vertical-align: middle;
   
}

nav ul li {
    display: inline-block; 
}

nav ul li+li {
    margin-left: 100px;
}

nav a {
    padding: 15px 15px; /*增加點擊面積*/
    font-size: 16px;
    color: #7C7C7C; 
}

nav ul li a:hover { 
    scale: 1.1; /* transform: scale(1.1); */
}

section {
    font-size: 0px; 
    /*消除inline-block間的gap，<p>不影響？因為繼承沒有權重，而tag權重為001*/
    background-color: #FDFDFD;
}

.section_container {
    padding: 85px 230px;
}

.description {
    width: 45%;
    vertical-align: top;  
    float: left;
}

.description p {
    font-size: 18px;
    color: #454545;
}

.button_container{
    width: fit-content;
    margin: 30px auto;
}

.description a { 
    padding: 15px 40px; /* 做出按鈕 */
    border-radius: 5px; 
    font-size: 26px;
    color: #fff;
    background: linear-gradient(#FFBB56 50%, #F99302 50%);   
} 

.button_container p {
    margin-top: 8px;
    font-size: 12px;
}

.product_image {
    width: 45%;
    float: right;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.article_container {
    padding: 85px 250px 210px;
}

.article_text {
    margin-top: 40px;
    font-size: 18px;
    color: #454545;
    columns: 450px;
    column-gap: 40px;
}

.article_text p+p {
    margin-top: 40px;
}

footer {
    border-top: #ddd solid 1px;
    background-color: rgb(238,238, 238);
}

.footer_container {
    padding: 25px 230px 15px;
    text-align-last: justify;
}
footer p {
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
}

.footer_container div {
    display: inline-block;
    font-size: 0px;
    /*<a>下方會有空隙，是因為<i>視為文字，baseline & bottom間的空隙*/
    vertical-align: middle;
}

.icons a+a {
    margin-left: 25px;   
}

.icons i {
    font-size: 35px;
    color: black;
}

.icons a:hover {
    transform: scale(1.1);
}

.actived {
    color: #F99300
}
