/* css reset */
body{
    margin: 0; /* chrome default margin:8 px; */
}
p{
    margin: 0; /* chrome default margin-top/ margin-bottom:16 px; */
}
/* div間空隙 */
/* end of css reset */

body {
    font-family:Arial, Helvetica, sans-serif;
}

h1{
    font-size: 10px;
    font-weight: lighter;
    margin-top: 0px;
    /* margin-bottom: 0px; 外層容器有設定更大的argin-bottom，h1保留default不影響*/ 
    color: black;
}

h2 {
    font-size: 32px;
    font-weight:lighter;
    color:rgb(62,62,62);
    margin-top: 0px;
    margin-bottom: 0px; /*h2 margin(top & bottom) default depends on font size*/
}

h3{
    font-size: 18px;
    font-weight: lighter;
    color: rgb(62,62,62);
    margin-top: 0px;
    margin-bottom: 0px;

}

p {
    font-size: 6px;
    line-height: 14px;
    color: rgb(88,88,88);
}

a {
    text-decoration: none;
    color:rgb(88,88,88);
}

#wrapper {
    margin: 0 auto;
    width: 900px;
    
}
nav {
    width: 900px;
    background-color: rgb(238,238, 238);
    border: #ddd solid 1px;   
}

nav>div:first-child {
    display: inline-block;
    /* background-color: #FFB; */
    text-align: center;
    vertical-align: middle;
    margin-left: 100px;  
}

nav img {
    width: 25px;
    margin-top: 15px;
}

nav>div:first-child>div {
    margin-bottom: 15px;
}

nav>div:nth-child(2) {
    display: inline-block;
    /* background-color: aquamarine; */
}

ul li{
    display: inline-block;
    text-decoration: none;
    width: 100px;
    text-align: center;
    /* border: 1px solid #000; */
}

nav a{
    font-size: 10px;
    font-weight: lighter;
    color:rgb(154,154,154);
}

header{
    width: 520px; /*要用<header>作定位，需有寬度，不設值會與外層容器同寬，並非由內部內容撐開*/
    margin: 30px auto;
}

header>div:first-child {
    width: 240px;
    margin: 0 auto;
    display:inline-block;
    /* background-color: #0bb; */
    vertical-align: top;
    padding-right: 20px;
}

header>div:first-child button {
    color: #fff;
    background-image: linear-gradient(rgb(246,192,110) 50%, rgb(235, 153, 55) 50%);
    width: 130px;
    height: 35px;
    border-radius: 5px;
    border: 0px;
    font-size: 12px;
    cursor: pointer; /*不加<a>用js onclick，游標改pointer*/
}    

header>div:first-child div {
    width: 150px;
    margin: 15px auto;
}


header>div:nth-child(2) {
    width: 260px;
    display: inline-block;
    /* background-color:burlywood; */
    text-align: center;
}

header>div:nth-child(2) img {
    width: 220px;
}

main {
    width: 600px;
    margin: 0px auto;
}
main>div:first-child {
    padding: 20px 0px;
    /* background-color: #df5; */

}

.main__text {
    width: 280px;
    display: inline-block;
    vertical-align: top;
    /* background-color: #D4FFD4; */
    padding-right: 20px;
    margin-bottom: 100px;
}

footer {
    width: 900px;
    height: 45px;
    background-color: rgb(238,238, 238);
    border: #ddd solid 1px;
}

footer p {
    font-size: 5px;
    display: inline-block;
    /* background-color: #FFB; */
    /* margin-left: 10px 180px 0px 250px; */
    margin-left: 100px;
    margin-right: 350px;
    margin-top: 20px;
}

footer i {
    width: 15px;
    margin-right: 5px;
}


.act {
    color: rgb(235,155,48);
}
