*{
    outline: 1px solid red;

}

html {
    width: 1920px;
}

/*fonttype*/
h1 ,h2 ,p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

body {
    margin: 0;         /*因為header跟footer有白邊*/
    padding: 0;
}

/*header*/

header {
    background-color: #eeeeee;
    margin: 0; 
    padding: 0;
}

.web-logo {    
    text-align: center;
    padding: 30px 50px;
    font-size: 0;
}

.logo {
    display: inline-block;
    vertical-align:middle;
}

.logo-photo img {
    margin: 0 auto;
    width: 80px;
}

.logo-title {
    font-size: 30px;
}

.links {
    display: inline-block;
    width: 65%;
    vertical-align:middle;
}

.links a{
    display: inline-block;
    padding: 1% 7%;
    font-size: 20px;
}

a:hover {
    color:rgb(247, 107, 15);
}

/*banner*/

.banner-framework {
    background-color: rgb(248, 248, 248);
    padding: 80px 350px;
    margin-bottom: 80px;

}

.banner-content {
    display: inline-block;
    background-color: rgb(248, 248, 248);
    width: 45%;
    font-size: 0;
}

.banner-content h1 {
    font-size: 100px; /*em會繼承上層的設定數值*/
    margin: 0%;
    line-height: 1;
}

.banner-content h2 {
    font-size: 45px;
    margin: 0%;
}

.banner-content .banner-text {
    font-size: 22px;
    margin: 0;
    text-align: justify;
}

.botton-photo {
    background-image:linear-gradient(0deg ,rgb(255, 153, 57)50%, rgb(255, 191, 106) 50%);
    border-radius: 5%;
    text-align: center;
    margin: 0 auto;
    width: 40%;
    padding: 20px 30px;
    margin-top: 20px;
}

.botton-photo a{
    font-size: 20px;
    margin: 0;
    color:#eeeeee;
}

.banner-content .dontworry {
    font-size: 15px;
    color: rgb(66, 65, 65);
    min-width: 30%;
    padding: 0 25%;
}

.box {
    display: inline-block;
    vertical-align:top;
    margin-left: 8%;
    font-size: 0;
}

.box-photo{
    width: 550px;
}

/*article*/

.section-framework{
    padding: 0px 380px 150px;
    margin-bottom: 80px;
    font-size: 0%;
}

.section-title {
    font-size: 30px;
    margin: 40px 0;
}

.section-content {
    font-size: 22px;
    column-count: 2;
    column-gap: 70px;
}

/*footer*/

footer {
    background-color: #eeeeee;
    padding: 50px 100px;
}

.copyright {
    display:inline-block;
    vertical-align: middle;
    margin-left: 15%;
}

.icons {
    display:inline-block;
    width: 60%;
    vertical-align: middle;
    text-align: right;
    font-size: 0;
}

.icons-photo{
    display:inline-block;
    width: 40px;
    padding: 20px 30px;
}

