html {
    /*
    1. Correct the line height in all browsers.
    2. Prevent adjustments of font size after orientation changes in iOS.
    */
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    box-sizing: border-box;
}

body {
    font-family: 'helvetica', Arial, sans-serif;
    font-size: 20px;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/*
    base setting
*/

p {
    margin: 0;
    line-height: 1.5em;
}

h1, h2 {
    font-weight: 500;
    margin: 0;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 2rem;
}

a {
    text-decoration: none;
}

.inline-block {
    display: inline-block;
    vertical-align: middle;
    width: 49%;
}

.whole-max-width {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

.content-max-width {
    width: 65%;
    max-width: 1024px;
    margin: 50px auto 120px;
}


/*
    Header
*/

header {
    border-bottom: 1px solid #ddd;
    padding: 30px 0;
}
header, footer {
    background: #eee;
}

header .header__logo {
    width: 20%;
}

.header__logo a {
    display: block;
}

header .header__logo img {
    width: 100%;
    max-width: 80px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

header .header__menu {
    width: 70%;
    text-align: center;
    margin-left: 3%;
}

.header__menu .menu-button {
    font-size: 1.2rem;
    color: #666;
    display: inline-block;
    margin-right: 12%;
    cursor: pointer;
}

.header__menu .menu-button:last-child {
    margin-right: 0;
}

.header__menu .menu-button:hover {
    color: #f7c872;
}
.header__menu .menu-button--light {
    color: orange;
}


/*
    Content
*/
.index-content{
    color: #333;
}

.index-content__call-to-action {
    margin-bottom: 120px;
}

.index-content__call-to-action h2 {
    margin-bottom: 5px;
}

.index-content__call-to-action .download-photo {
    display: block;
    margin: 0 auto;
    max-width: 400px;
}

.index-content__article {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 5%; /* Chrome, Safari, Opera */
    -moz-column-gap: 5%; /* Firefox */
    column-gap: 5%;
    margin-top: 40px;
}

.index-content__words p {
    margin-bottom: 40px; /* margin collapsing */
}

.call-to-action-box {
    margin: 20px auto;
    width: 60%;
    min-width: 200px;
}

.call-to-action-box .call-to-action-box__button {
    outline: 0;
    border: 0;
    color: #fff;
    font-size: 1.8rem;
    border-radius: 5px;
    margin-bottom: .5rem;
    padding: 15px 0;
    width: 100%;
    background: #f57f00;
    background: linear-gradient(to bottom, #fac873 0%, #ffb133 50%, #f57f00 51%);
    cursor: pointer;
}

.call-to-action-box .call-to-action-box__description {
    font-size: .8rem;
}


/*
    Footer
*/
footer {
    color: #666;
    border-top: 1px solid #ccc;
    padding: 30px 0 25px 0;
}

footer .copyright {
    font-size: .9rem;
    color: #333;
}

footer .social-media {
    text-align: right;
    padding-right: 3%;
}

footer .social-media a {
    color: #000;
    font-size: 2rem;
    margin: 0 10px;
}

footer .social-media a:hover {
    color: orange;
}

footer .social-media i {
    display: inline-block;
}