body 
{
 margin:0;             
}

#logo
{
  position: relative;
  padding-top: 15px;
  left:15%;
  float:left;           //有float就要有clear
}

#content
{
  position: relative;
  left:12%;
  float: left;
}

#content ul
{
  padding-top: 45px;
  padding-bottom: 45px;
}

#content li
{
  display: inline;
  padding-left: 60px;
  padding-right: 60px;
}

#textcolor
{
  color:#FFBA3B;
}



#clear {
	clear: left;
}

header{
     background-color:#EDEDED;
	 margin:0 aoto;
	 display:block;
}

#content1
{
  //font-family:verdana;
  position: relative;
  left:22%;
  float:left;
}

#button
{
  position:relative;
  left:20%;
}

#note
{
  position:relative;
  left:20%;
  font-size:1;
}

#picture
{
  position: relative;
  right:20%;
  float:right;
}

#content3
{
	margin-top:5%;
	margin-bottom:30%;
}

#content3_title
{
	//font-family:verdana;
	
	position:relative;
	left:20%;
	margin-right:25%;
}

#content3_left
{
	//font-family:verdana;
	
	position:relative;
	left:20%;
	float:left;
	width:24%;
}

#content3_right
{
	//font-family:verdana;
	
    position:relative;
	left:25%;
	float:left;
	width:24%;
}

footer
{
	background-color:#E3E3E3;
	margin:0;
}

#copyright
{
	padding-top:20px;
	
	position:relative;
	left:20%;
	float:left;
	
}

#social_item ul
{
	position:relative;
	left:40%;
	float:left;
}

#social_item li
{
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}