body,
h1,
h2,
h3,
h4,
h5,
span,
a,
figure {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

.templatepic {
    width: 100vw;
    opacity: 30%;
    position: absolute;
    top: 0;
    left: 0;
}

.templatepic img {
    width: 100%;
}

header {
    background-color: #eee;
}

nav {
    width: 73%;
    padding: 76px 0;
    margin: 0 auto;
    font-size: 0;
}

.logo_box {
    width: 10%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.logo_box a {
    display: block;
}

.logo_box img {
    width: 45%;
}

.logo_box h1 {
    font-size: 1rem;
    color: black;
}

.menu {
    width: 90%;
    display: inline-block;
    vertical-align: middle;
}

.menu a {
    display: inline-block;
    margin-left: 5%;
    font-size: 1.6rem;
    text-align: center;
    padding: 1% 0;
    width: 15%;
}

.menu a:link {
    color: gray;
}

.menu a:visited {
    color: grey;
}

.menu a:hover {
    color: orange;
}

.maintext_container {
    padding: 100px 0;
    background-color: #FDFDFD;
}

.main_text_box {
    width: 65%;
    margin: 0 auto;
    font-size: 0;
}

.text {
    margin-right: 6%;
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.text h2 {
    font-size: 7rem;
    line-height: 1em;
    font-weight: 300;
}

.text h3 {
    font-size: 3.4rem;
    font-weight: 200;
    line-height: 1.2em;
}

.text>span {
    display: inline-block;
    font-size: 2.2rem;
    padding-bottom: 48px;
}

.btnbox {
    width: 55%;
    margin: 0 auto;
}

.btn {
    display: block;
    background: linear-gradient(#F99602 50%, #FFBB50 50%);
    color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 2rem;
    padding: 8% 0;
    margin-bottom: 10px;
}

.btn:hover {
    color: gray;
}

.btnbox>span {
    font-size: 1.5rem;
}

.imgbox {
    font-size: 0;
    display: inline-block;
    vertical-align: top;
    width: 44%;
    text-align: right;
}

.imgbox img {
    width: 88%;
}

.col_box {
    width: 65%;
    margin: 0 auto;
    column-count: 2;
    column-gap: 70px;
    padding: 190px 0 316px;
}

.col_box h3 {
    font-size: 3.3rem;
    font-weight: 500;
    column-span: all;
    margin-bottom: 56px;
}

.col_box p {
    font-size: 1.9rem;
    margin-bottom: 70px;
}

footer {
    background-color: #EEEEEE;
}

.outerbox {
    width: 70%;
    margin: 0 auto;
    font-size: 0;
    padding: 52px 0;
}

.copyright {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    font-size: 1.4rem;
}

.iconbox {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    text-align: right;
}

.iconbox a {
    display: inline-block;
    margin-right: 25px;
}

.iconbox i {
    font-size: 3.8rem;
    color: black;
}

.iconbox i:hover {
    color: #F99602;
}