* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", Verdana, sans-serif;
  outline: solid 1px red;
}

p {
  font-size: 16px;
  color: #515a5a;
}

a {
  text-decoration: none;
}

body {
  min-width: 1000px;
}

/*header*/

header {
  background-color: #f2f3f4;
  border-bottom: solid 1px #eaecee;
}

header .wrapper {
  width: 960px;
  font-size: 0;
  margin: 0 auto;
  padding: 30px 50px 30px 0;
}

.logo {
  display: inline-block;
  vertical-align: middle;
  margin-right: 60px;
}

.logo .imgbox {
  width: 60px;
  margin: 0 auto;
}

.logo img {
  width: 100%;
}

.logo h1 {
  font-size: 16px;
  font-weight: normal;
  color: black;
}

nav {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 80.8px - 60px);
  font-size: 0;
  margin-right: 0;
}

nav a {
  display: inline-block;
  font-size: 16px;
  color: #515a5a;
  padding: 20px;
  float: inline-end;
}

nav a + a {
  margin-left: calc((100% - 453.61px) / 4);
}

nav a:hover {
  color: orange;
}

/*main*/
/*intro*/

section {
  background-color: #FBFCFC ;
}

section .wrapper {
  width: 860px;
  vertical-align: top;
  font-size: 0;
  margin: 0 auto;
  padding: 60px 0 120px;
}

.intro_txt {
  display: inline-block;
  width: 50%;
  padding-right: 10px;
}

.intro_txt h2 {
  font-size: 30px;
  font-weight: 400;
}

.intro_txt p:first-child {
  font-size: 72px;
  font-weight: 400;
  color: black;
}

.intro_btn {
  width: 250px;
  margin: 24px auto;
}

.intro_btn button {
  background-image: linear-gradient(#ffbb55 50%, #f99303 50%);
  width: 250px;
  height: 60px;
  border: none;
  border-radius: 5px;
  font-size: 28px;
  font-weight: 400;
  color: white;
}

button:hover {
  opacity: 0.7;
}

.intro_btn p {
  font-size: 14px;
  color: #515a5a;
}

section .imgbox {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  padding-left: 10px;
}

section img {
  width: 100%;
}

/*article*/
article {
  background-color: white;
}

article .wrapper {
  width: 860px;
  column-count: 2;
  column-gap: 20px;
  margin: 0 auto;
  padding: 80px 0 160px;
}

article h2 {
  column-span: all;
  font-size: 30px;
  font-weight: 400;
}

article p {
  padding: 16px 0;
}

footer {
  background-color: #f2f3f4;
  border-top:   border-bottom: solid 1px #eaecee;;
}

footer .wrapper {
  display: flow-root;
  width: 960px;
  margin: 0 auto;
  padding: 30px 0 20px;
}

footer .copyright {
  display: inline-block;
  font-size: 14px;
  font-weight: lighter;
}

footer .media_link {
  font-size: 0;
  float: right;
}

.media_link a {
  display: inline-block;
  color: black;
  font-size: 15px;
}

.media_link a + a {
  margin-left: 20px;
}

.media_link a:hover {
  color: orange;
}
