* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", Verdana, sans-serif;
  outline: solid 1px red;
}

body {
  min-width: 1000px;
}

/*header*/

header {
  background-color: #f2f3f4;
}

/* 用float */
/* header .wrapper {
  width: 960px;
  margin: 0 auto;
  font-size: 0;
  display: flow-root;
  padding-right: 50px;
} */

/* 用float */
/* .logo {
  display: inline-block;
  text-align: center;
  margin-top:20px;
}


/* 不用float */
header .wrapper {
  width: 960px;
  margin: 0 auto;
  font-size: 0;
  display: flow-root;
}

/* 不用float */
.logo {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.logo a{
  text-decoration: none;
  color: black;
}

.logo img {
  width: 60px;
  vertical-align: middle;
}

.logo h1{
  font-size: 16px;
  font-weight: normal;
}

/* 不用float */
nav{
  display: inline-block;
  vertical-align: middle;
}

nav a {
  display: inline-block;
  font-size: 16px;
  color:#515a5a;
  text-decoration: none;
  text-align: center;
  line-height: 160px;
  margin: 0 65px 0;
}

nav a:first-child{
  margin-left: 56px;
}

nav a:last-child{
  margin-right: 0;
}

/* 用float */
/* nav{
  float: right;
  display: inline-block;
}

nav a {
  font-size: 16px;
  color:#515a5a;
  display: inline-block;
  text-decoration: none;
  margin: 0 65px 0;
  line-height: 160px;
} */

/* nav a:first-child{
  margin-left: 0;  
}

nav a:nth-last-child(1){
  margin-right: 0;
} */

nav a:hover {
  color: orange;
}

/*main*/

main {
  width: 860px;
  margin: 0 auto;
}

/*intro*/

.intro {
  font-size: 0;
  padding: 50px 0;
}

.intro .wrapper {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.intro_txt h2 {
  font-size: 30px;
  font-weight: 400;
}

.intro_txt p:first-child{
  font-size: 72px;
  font-weight: 400;
}

.intro_txt p:last-child{
  color:#515a5a;
  font-size: 16px;
}

.intro_btn {
  width: 250px;
  margin: 24px auto;
}

.intro_btn button {
  background-image: linear-gradient(#ffbb55 50%, #f99303 50%);
  width: 250px;
  height: 60px;
  border-radius: 5px;
  border:none;
  font-size: 28px;
  font-weight: 400;
  color:white;
}

button:hover{
  transform: scale(1.1);
}

.intro_btn p {
  font-size: 14px;
  color:#515a5a;
}

.intro_img {
  display: inline-block;
  width: 50%;
}

img {
  width: 100%;
}

/*article*/
article {
  column-count: 2;
  padding: 80px 0;
}

article h2 {
  font-size: 30px;
  font-weight: 400;
  column-span: all;
}

article p{
  color:#515a5a;
  font-size: 16px;
  padding: 16px 0;
  /* margin-top: 1px; */
}

footer {
  background-color:#f2f3f4;
}

footer .wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 30px 0 20px;
}

footer .copyright {
  display: inline-block;
  font-size: 14px;
  font-weight: lighter;
}

footer .media_link{
  /* display: inline-block; */
  font-size: 0;
  float: right;
}

.media_link a{
  display: inline-block;
  color: black;
  font-size: 15px;
  margin-left: 20px;
}

.media_link a:first-child{
  margin-left:0
}

.media_link a:hover {
  color: orange;
}

