* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px solid red;
}
body {
  min-width: 1440px;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
header {
  font-size: 0;
  background-color: #dbdbdb;
  border-bottom-style: solid;
  border-bottom-color: #cacaca;
  padding: 30px 15vw;
}

header > div {
  position: relative;
}
header h1 {
  display: inline-block;
  vertical-align: middle;
}
.logo_link {
  display: block;
}
.logo_img_container {
  display: block;
  width: 52px;
  margin: 0 auto;
}
.logo_companyname {
  text-transform: uppercase;
  font-size: 1rem;
  color: black;
}

header nav {
  display: inline-block;
  position: absolute;
  vertical-align: middle;
  right: 0;
  font-size: 0;
}
.menu_list li {
  display: inline-block;
}

.menu_list li a {
  display: block;
  color: #929292;
  padding: 40px 60px;
  font-size: 1rem;
}

.menu_list li a:hover {
  color: orange;
}
.menu_list .active {
  color: orange;
}

main section {
  padding: 50px 15vw;
  font-size: 0;
  text-align: center;
}
section:first-child {
  background-color: #efefef;
}
.event_page > div + div {
  margin-left: 5vw;
}

h2 {
  font-size: 5rem;
  font-weight: normal;
  line-height: 4rem;
}
h3 {
  font-size: 1.8rem;
  font-weight: normal;
}
p {
  font-size: 1rem;
}

.event {
  display: inline-block;
  vertical-align: top;
  width: 400px;
}
.event_title {
  text-align: start;
}
.apply_container {
  margin: 25px 0;
}
.apply_container div {
  display: inline-block;
}
.apply_container p {
  text-align: start;
  /* text-align: inherit; */
}
.apply_link {
  display: block;
  border: none;
  border-radius: 3px;
  background: linear-gradient(
    to bottom,
    #f5b75a 0%,
    #f5b75a 50%,
    #eb9937 50%,
    #eb9937 100%
  );
  color: white;
  font-size: 1.5rem;
  padding: 25px 55px;
}
.event_img_container {
  width: 400px;
  display: inline-block;
}
.article_title {
  display: block;
  text-align: start;
  margin: 0 auto;
}
.article_container {
  columns: 2;
  column-gap: 2rem;
  margin-top: 32px;
}

.article_container p {
  break-inside: avoid;
  text-align: start;
}
.article_container p + p {
  margin-top: 2rem;
}

footer {
  padding: 40px 15vw;
  background-color: #dbdbdb;
  font-size: 0;
  margin: 0 auto;
  border-top-style: solid;
  border-top-color: #cacaca;
}
.footer_container {
  position: relative;
}
.footer_container div {
  display: inline-block;
  vertical-align: middle;
}
.copyright {
  width: 50%;
  line-height: 2rem;
}
.community {
  width: 50%;
  min-width: 160px;
  text-align: end;
}

.community_list li {
  display: inline-block;
}
.community_list a i {
  color: black;
  font-size: 2rem;
}
.community_list a:hover {
  color: orange;
}
