* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
body {
  min-width: 1440px;
}

header {
  background-color: #dbdbdb;
  font-size: 0;
  text-align: center;
  border-bottom-style: solid;
  border-bottom-color: #cacaca;
}
header h1 {
  display: inline-block;
  vertical-align: middle;
}
header h1 a {
  display: block;
  padding: 30px 0;
}
.logo {
  width: 52px;
  height: 80px;
  display: block;
  margin: 0 auto;
}
header h1 p {
  font-size: 1rem;
  color: black;
}

header nav {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
}
header nav ul li {
  display: inline-block;
}

header nav ul li a {
  display: block;
  color: #929292;
  padding: 70px 55px;
  font-size: 1rem;
}

header nav ul li a:hover {
  color: orange;
}
.active {
  color: orange;
}

main section {
  padding: 50px 0 50px 0;
  font-size: 0;
  text-align: center;
}
section:first-child {
  background-color: #efefef;
}

h2 {
  font-size: 5rem;
  font-weight: normal;
  line-height: 4rem;
}
h3 {
  font-size: 1.8rem;
  font-weight: normal;
}
p {
  font-size: 1rem;
}

.pageOneLeft {
  width: 400px;
  display: inline-block;
  vertical-align: top;
  text-align: start;
}
.pageOneButton {
  text-align: center;
  margin: 25px 0;
}
.pageOneButton p {
  text-align: start;
}
.tryButton {
  border: none;
  border-radius: 3px;
  background: linear-gradient(
    to bottom,
    #ffd0a4 0%,
    #ffd0a4 50%,
    #f49602 50%,
    #f49602 100%
  );
  color: white;
  font-size: 1.5rem;
  padding: 25px 40px;
}
.pageOneRight {
  width: 400px;
  display: inline-block;
}
.pageTwoTitle {
  display: block;
  text-align: start;
  width: 964px;
  margin: 0 auto;
}
.pageTwoArticle {
  display: inline-block;
  columns: 2;
  width: 964px;
  margin-top: 32px;
}
.pageTwoArticle p {
  margin-right: 32px;
  margin-bottom: 32px;
  text-align: start;
}

footer {
  background-color: #dbdbdb;
  font-size: 0;
  text-align: center;
  border-top-style: solid;
  border-top-color: #cacaca;
}

footer > div {
  padding: 40px 0px;
  text-align: center;
}
footer div div {
  display: inline-block;
  vertical-align: middle;
}
.copyright {
  width: 482px;
  text-align: start;
}
.copyright p {
  display: inline-block;
}

.icon {
  width: 482px;
  text-align: end;
}
footer ul {
  display: inline-block;
  text-align: end;
}

footer ul li {
  display: inline-block;
}
footer ul li a {
  color: black;
  font-size: 1.2rem;
}
