:root {
	--header-footer-background-color: #EEEEEE;
	--header-color: #818181;
	--active-text-color: #F99603;
	--button-top-color: #fabc54;
	--button-bottom-color: #F99603;
	--page-width: 1400px;
}

body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	outline: solid;
}
/* 
#test {
	position: absolute;
	opacity: 0.3;
	width: 100%;
	height: auto;
	z-index: -1;
} */

/* || */

header {
	background-color: var(--header-footer-background-color);
	min-width: var(--page-width);
}

header>div {
	margin: 0 auto;
	width: var(--page-width);
	padding: 40px 0;
}

nav, .logo {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

.logo {
	margin: 0 40px;
}

.logo>img {
	width: 78px;
}

.logo>h1 {
	font-size: 1.3rem;
	margin: 0;
}

nav {
	font-size: 0;
}

nav>a {
	display: inline-block;
	font-size: 1.5rem;
	letter-spacing: -0.4px;
	width: 160px;
	margin-right: 70px;
}

nav>a:hover {
	color: var(--active-text-color);
}

nav>a:last-child {
	margin-right: 0;
}

/* || */

main {
	padding-top: 100px;
	padding-bottom: 210px;
	margin: 0 auto;
	width: calc(var(--page-width) - 200px);
}

main>div {
	font-size: 0;
	margin-bottom: 200px;
}

.left-side, .right-side {
	width: 50%;
	font-size: 1.5rem;
	display: inline-block;
	vertical-align: top;
}

.right-side>img {
	width: 100%;
}

h2, h3 {
	margin: 0;
	font-weight: initial;
	line-height: 1em;
}

h2 {
	font-size: 5rem;
	letter-spacing: -6px;
}

h3 {
	font-size: 3rem;
}

.left-side>h3 {
	letter-spacing: 0.6px;
	text-align: justify;
}

.left-side>p {
	margin: 0;
	line-height: 1.5em;
}

.button-group {
	padding: 30px;
	margin: 0 auto;
	width: fit-content;
}

button {
	font-size: 2.5rem;
	width: 330px;
	background: linear-gradient(to top, var(--active-text-color) 0, 50%, var(--button-top-color) 50%);
	border: 0;
	padding: 20px;
	border-radius: 5px;
	color: white;
}

article>h3 {
	margin-bottom: 60px;
}

article>div {
	columns: 2;
	column-gap: 70px;
}

article>div>p {
	margin: 0;
	margin-bottom: 60px;
	font-size: 1.5rem;
}

/*  */

footer {
	background-color: var(--header-footer-background-color);
	position: relative;
	padding: 0 15%;
	font-size: initial;
	line-height: 120px;
}

footer:first-child {
	font-size: 1.3rem;
}

.icon-group {
	height: fit-content;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 15%;
	line-height: 0;
	margin: auto 0;
	font-size: 0;
}

footer img {
	width: 45px;
	height: 45px;
	margin: 15px;
}