:root {
	--page-width: 1400px;
	--footer-icon-height: 45px;
}

body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	min-width: var(--page-width);
}

/* || */

header>div, main, footer>div {
	margin: 0 auto;
}

header {
	background-color: #EEEEEE;
	min-width: var(--page-width);
}

header>div {
	width: var(--page-width);
	font-size: 0;
}

nav, .logo {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

.logo {
	margin: 0 40px;
	padding: 40px 0;
}

.logo>img {
	width: 78px;
}

.logo>div {
	font-size: 1.3rem;
	margin: 0;
}

nav {
	font-size: 0;
}

nav>a {
	display: inline-block;
	font-size: 1.5rem;
	width: 160px;
	color: #818181;
}

nav>a+a {
	margin-left: 70px;
}

nav>a:hover {
	color: #F99603;
}

/* || */

main {
	margin-top: 100px;
	margin-bottom: 210px;
	width: calc(var(--page-width) - 200px);
}

main>div {
	font-size: 0;
	margin-bottom: 200px;
}

.product-description, .product-img {
	width: 47.5%;
	font-size: 1.5rem;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
}

.product-img {
	margin-left: 5%;
}

.product-img>img {
	width: 100%;
}

h2, h3 {
	margin: 0;
	font-weight: initial;
	line-height: 1em;
}

h2 {
	font-size: 5rem;
	letter-spacing: -6px;
}

h3 {
	font-size: 3rem;
}

.product-description>p {
	margin: 0;
	line-height: 1.5em;
}

.download {
	margin: 30px auto 0;
	width: 330px;
}

.download>button {
	font-size: 2.5rem;
	width: 330px;
	background: linear-gradient(to top, #F99603 0, 50%, #fabc54 50%);
	border: 0;
	padding: 20px;
	border-radius: 5px;
	color: white;
}

article>h3 {
	column-span: all;
}

article {
	columns: 2;
	column-gap: 70px;
}

article>p {
	margin: 0;
	margin-top: 60px;
	font-size: 1.5rem;
	display: inline-block;
}

/* || */

footer {
	background-color: #EEEEEE;
}

footer>div {
	box-sizing: border-box;
	width: var(--page-width);
	padding: 50px;
	line-height: var(--footer-icon-height);
}

.social-media-link {
	float: right;
	font-size: 0;
	line-height: 0;
	/* 讓 parent div 高度只有圖片高 */
}

.social-media-link>a {
	display: inline-block;
}

.social-media-link>a+a {
	margin-left: 15px;
}

.social-media-link img {
	width: var(--footer-icon-height);
	height: var(--footer-icon-height);
}