/*******************************/
/* FOR REUSE PURPOSES */
/*******************************/

/* Tag */
h1 {
    color: #2c2c2c;
    font-weight: normal;
    font-size: 60px;
    margin: 0;
}

h2 {
    font-weight: normal;
    font-size: 25px; 
    margin: 0;
}

p {
    color: #585858; 
    line-height: 1.5; 
    margin-top: 0;
}

ul {margin: 0; padding: 0;}
li {list-style-type: none;}
a {color: white; text-decoration: none;}

/* Container & Column */
.section {
    margin: 0 auto; 
    width: 70%;
}

.span-6-of-12{
    box-sizing: border-box; 
    float: left;
    padding: 20px;
    width: 50%;
}

/* Others */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*******************************/
/* HEADER */
/*******************************/
.header {
    background-color: #eee; 
    margin-bottom: 50px;
}

.links {
    padding: 35px 0;
}

.links li {
    float: left;
    line-height: 91px;
    margin-right: 7vw;
}

.links li:first-child {
    line-height: 0;
}

.links a {
    color: #818181; 
    display: block;
}

.links a:hover {color: #F99603;}

/*******************************/
/* TOPIC */
/*******************************/
.topic {padding: 0 40px; margin-bottom: 100px;}
.topic-idea h2 {color: #2c2c2c;}

.button {
    width: 100%;
    padding-top: 10px;
    margin-left: 20px;
}

.button a {
    background: linear-gradient(#ffb94f, #f99503); 
    border-radius: 10px;
    display: inline-block;
    font-size: 25px;
    padding: 25px 50px;
    text-transform: uppercase;
}

.button a:hover {background: linear-gradient(#f99503, #ffb94f);}
.button div {
    color: #2c2c2c;
    display: block;
    font-size: 9px;
}

.topic-img img {
    display: block;
    margin: 0 auto;
}

/*******************************/
/* ARTICLE */
/*******************************/
.article {margin-bottom: 100px;}
.article h2 {margin-left: 20px;}
.paragraph {
    column-count: 2;
    column-gap: 50px;
    padding: 20px;
}

/*******************************/
/* FOOTER */
/*******************************/
.footer {
    background-color: #eee; 
    position: relative;
    margin-bottom: 0;
}

.copyright {
    color: #585858;
    font-size: 8px;
    position: absolute;
    top: 50%;
}

.social {
    float: right;
    padding: 20px 0;
}

.social li {
    float: left; 
    font-size: 36px;
    margin-right: 20px;
}

.social li:last-child {
    margin-right: 0;
}
.footer i {color: #040404}
.footer i:hover {color: #818181}