/*-----global-----------------------------------*/
.clear {
    clear: both;
}

.header {
    background-color: #F0F0F0;
}

.footer {
    background-color: #F0F0F0;
}

/*-----header-----------------------------------*/
.logo {
    float: left;
    margin-left: 100px;
}

.menu {
    float: left;
}

.menu ul {
    list-style-type: none;
}

.menu li {
    float: left;
    margin: 25px 65px 0 0;
}

/*-----content1---------------------------------*/
.content1 {
    margin-bottom: 10%;
}

.content1-left {
    width: 300px;
    float: left;
    margin-left: 180px;
}

h1 {
    font-size: 36px;
    margin-bottom: 0px;
}

h3 {
    font-size: 24px;
    margin: 0px auto 0px;
    font-weight: normal;
}

.content1-left img {
    margin: 20px 0 0 45px;
}

.content1-left p {
    margin: 0 0 0 45px;
    font-size: 1px;
}

.content1-desc {
    font-size: 13px;
}

/*-----content2-------------------------------*/
.content2 {
    margin-bottom: 15%;
}

.content2-left {
    float:left;
    margin-left: 170px;
}

.content2-right {
    float:left;
    margin: 25px 0 0 50px;
}

.content2-left h3 {
    font-weight: normal;
}

.content2-left p {
    font-size: 13px;
}

.content2-right p {
    font-size: 13px;
}

/*-----footer-------------------------------*/
.footer p {
    float: left;
    font-size: 1px;
    margin: 30px 0 30px 150px;
}

.social {
    float: right;
    margin: 30px 150px 0 0;
}

.social li {
    list-style-type: none;
    display: inline;
    margin-right: 10px;
}
