* {
  outline: 1px solid red;
}

body {
  font-family: Helvetica, sans-serif;
  margin: 0;
}

header {
  background-color: #eee;
  padding: 30px 230px;
}

.logo-box {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  width: 75px;
}

.logo {
  display: inline-block;
  width: 100%;
  vertical-align: bottom;
}

.menu {
  display: inline-block;
  font-size: 0;
  vertical-align: middle;
  margin-left: 50px;
}

.menu .highlight {
  color: orange;
}

.menu a {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  color: grey;
  padding: 10px 10px;
}

.menu a:hover {
  color: orange;
}

.menu a + a {
  margin-left: 120px;
}

main {
  background-color: #fdfdfd;
}

.Banner-wrapper {
  font-family: Helvetica, sans-serif;
  padding: 50px 275px;
  height: 350px;
  background-color: #fdfdfd;
}

.Banner-content {
  display: inline-block;
  vertical-align: top;
  margin-right: 70px;
  width: 415px;
}

.Banner-content h2 {
  margin: 0;
  font-size: 54px;
  text-align: left;
}

.Banner-content h3 {
  font-size: 33px;
  margin: 0;
}

.Banner-content p {
  font-size: 19px;
  text-align: left;
  margin-top: 0;
}

.Banner-btn {
  text-align: center;
}

.Banner-content .btn {
  display: inline-block;
  width: 260px;
  height: 70px;
  background-image: linear-gradient(#f6b850 50%, #f19333 50%);
  line-height: 70px;
  font-size: 26px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  border: #eee;
}

.btn:hover {
  color: rgb(54, 51, 69);
}

.Banner-btn p {
  margin: 0;
  padding-left: 75px;
  font-size: 14px;
}

.Banner-toyimg {
  display: inline-block;
  font-size: 0;
  width: 368px;
}

.Banner-toyimg .toy-logo {
  width: 100%;
}

article {
  width: 840px;
  margin: 50px auto 100px;
}

article h2 {
  margin: 0;
  font-size: 30px;
}

.article-content {
  column-count: 2;
  column-gap: 30px;
}

.article-content p {
  font-size: 17px;
  margin: 0;
  padding: 20px 0;
}

footer {
  background-color: #eee;
  padding: 40px 260px 20px;
}

.copyright {
  display: inline-block;
  font-size: 10px;
  vertical-align: middle;
}

.icon {
  display: inline-block;
  font-size: 30px;
  margin-left: 500px;
  vertical-align: middle;
}

.icon a {
  margin-right: 10px;
  color: black;
}

.icon a:hover {
  color: #f6b850;
}
