* {
  outline: 1px solid red;
}

body {
  font-family: Helvetica, sans-serif;
  margin: 0;
}

header {
  background-color: #eee;
  padding: 30px 0;
}

.head {
  width: fit-content;
  margin: 0 auto;
  font-size: 0;
}

.logo-box {
  display: inline-block;
  vertical-align: middle;
  width: 75px;
}

.logo-box a {
  display: inline-block;
}

.logo {
  display: inline-block;
  width: 100%;
  vertical-align: bottom;
}

.menu {
  display: inline-block;
  vertical-align: middle;
  margin-left: 50px;
}

.menu .highlight {
  color: orange;
}

.menu a {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  color: grey;
  padding: 10px 10px;
}

.menu a:hover {
  color: orange;
}

.menu a + a {
  margin-left: 115px;
}

main {
  background-color: #fafafa;
}

.banner {
  width: fit-content;
  margin: 0 auto;
}

.banner-wrapper {
  font-family: Helvetica, sans-serif;
  padding: 50px 0;
  font-size: 0;
}

.banner-content {
  vertical-align: top;
  width: 415px;
  float: left;
}

.banner-content h2 {
  margin: 0;
  font-size: 54px;
  text-align: left;
}

.banner-content h3 {
  font-size: 32px;
  margin: 0;
}

.banner-content .banner-text {
  font-size: 18px;
  margin-top: 0;
}

.banner-content .btn {
  display: inline-block;
  width: 260px;
  height: 70px;
  background-image: linear-gradient(#f6b850 50%, #f19333 50%);
  line-height: 70px;
  font-size: 26px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  border: #eee;
}

.btn:hover {
  color: rgb(54, 51, 69);
}

.banner-btn .btn {
  text-align: center;
}

.banner-btn .btn-text {
  margin: 0;
  padding-left: 75px;
  font-size: 14px;
}

.banner-toypic {
  display: inline-block;
  font-size: 0;
  width: 368px;
  margin-left: 40px;
}

.banner-toypic .toy-box {
  width: 100%;
}

article {
  width: 840px;
  margin: 50px auto 100px;
}

article h2 {
  margin: 0;
  font-size: 32px;
}

.article-content {
  column-count: 2;
  column-gap: 74px;
}

.article-content p {
  font-size: 16px;
  margin: 0;
  padding: 20px 0 0;
}

footer {
  background-color: #eee;
  padding: 40px 0 20px;
}

.footer-container {
  width: 860px;
  margin: 0 auto;
}

.copyright {
  display: inline-block;
  font-size: 10px;
  vertical-align: bottom;
}
/* 對父元素icon下font-size:0，會導致元素中的圖案消失 */
.icon {
  /* display: inline-block; */
  font-size: 0;
  vertical-align: middle;
  float: right;
}

.icon a {
  color: black;
}
/* 對fab下font-size:32px，使字形重新長出來 */
nav .fab {
  font-size: 32px;
  padding-left: 15px;
}

.icon a:hover {
  color: #f6b850;
}

/* 使用：：after偽元素，
   來清除使用float造成的浮動 */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
