* {
  outline: 1px solid red;
}

body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  min-width: 1000px;
}

header {
  background-color: #eee;
  padding: 30px 0;
  border-bottom: 2px solid grey;
}

.head {
  width: fit-content;
  margin: 0 auto;
  font-size: 0;
}

.logo-box {
  display: inline-block;
  vertical-align: middle;
  width: 75px;
}

.logo-box a {
  display: inline-block;
}

.logo {
  /* display: inline-block; */
  width: 100%;
  /* vertical-align: bottom; */
}

.menu {
  display: inline-block;
  vertical-align: middle;
  margin-left: 50px;
}

.menu .highlight {
  color: orange;
}

.menu a {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  color: grey;
  padding: 10px 10px;
}

.menu a:hover {
  color: orange;
}

.menu a + a {
  margin-left: 115px;
}

.banner {
  background-color: #fafafa;
}

/* width設置：840px可以保證容器寬度等於840px
加總的寬度，即使低於這個寬度也不會造成
圖片也不會跑到容器下方去造成版面跑版，
而font-size：0清除圖片下方間隙 */
.banner-wrapper {
  display: flow-root;
  width: 830px;
  margin: 0 auto;
  padding: 50px 0;
  font-size: 0;
}

.banner-content {
  display: inline-block;
  width: 50%;
}

.banner-content h2 {
  margin: 0;
  font-size: 54px;
}

.banner-content h3 {
  font-size: 32px;
  margin: 0;
}

.banner-content .banner-text {
  font-size: 18px;
  margin-top: 0;
}

.banner-content .btn {
  display: inline-block;
  width: 260px;
  height: 70px;
  background-image: linear-gradient(#f6b850 50%, #f19333 50%);
  line-height: 70px;
  font-size: 26px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  border: #eee;
}

.btn:hover {
  color: rgb(54, 51, 69);
}

.banner-btn {
  width: fit-content;
  margin: 0 auto;
}

.banner-btn .btn-text {
  margin: 0;
  font-size: 14px;
}

.banner-wrapper .banner-pic {
  display: inline-block;
  width: 45%;
  float: right;
}

.banner-pic .toy-box {
  width: 100%;
}

/* 先在article容器設置總寬度840px，margin:0 auto讓元素置中 */
article {
  width: 840px;
  margin: 0 auto;
}

/* 之所以設容器section包住裡頭的元素，
原因是我在article設margin上方距離50px，下方距離100px，
但是這樣容器下方會有多出來的一個空白空間，
在section設padding將空白空間消掉 */
section {
  padding: 50px 0 100px;
}

article h2 {
  margin: 0;
  font-size: 32px;
}

.article-content {
  column-count: 2;
  column-gap: 74px;
  margin-top: 20px;
}

.article-content p {
  font-size: 16px;
  margin: 0 0 20px;
}

footer {
  background-color: #eee;
  padding: 40px 0 20px;
  border-top: 2px solid grey;
}

.footer-container {
  width: 860px;
  margin: 0 auto;
}

.copyright {
  display: inline-block;
  font-size: 10px;
  vertical-align: bottom;
}
/* 對父元素icon下font-size:0，會導致元素中的圖案消失 */
.icon {
  font-size: 0;
  float: right;
}

.icon a {
  color: black;
  display: inline-block;
  margin-left: 10px;
}
/* 對fab下font-size:32px，使字形重新長出來 */
nav .fab {
  font-size: 32px;
}

.icon a:hover {
  color: #f6b850;
}

/* 使用：：after偽元素，
   來清除使用float造成的浮動 */
.clearfix::after {
  content: "";
  display: block;
  clear: right;
}
