footer {
  background-color: #EEEEEE;
}

.footbox_text {
  text-align-last: justify;
  width: 850px;
  margin: 0px auto;
}

.footbox_text p {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  margin: 30px;

}
.footbox_text nav {
  display: inline-block;
  vertical-align: middle;
  font-size: 0px;
}

.footbox_text li {
  display: inline-block;
  margin-left: 20;
}
.footbox_text li i {
  font-size: 30px;
}
