.footbox {
  background-color: #EEEEEE;
  margin-top: 150px;
}

.footbox_text {
  /*display: inline-block;*/
  text-align-last: justify;
  width: 850px;
  margin: 0px auto;
}

.footbox p {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  margin: 30px;

}
.footbox_text nav {
  display: inline-block;
  vertical-align: middle;
}

.footbox_text li {
  display: inline-block;
  padding: 0 0 0 20;
}
.footbox_text li i {
  font-size: 30px;
}
