* {
  font-family: sans-serif;
  outline: 1px black solid;
}
body {
    margin: 0;
    background-image: linear-gradient(#FCFCFC 50%, white 20%);
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
a:hover {
  color: orange;
}

header {
  background-color: #EEEEEE;
  text-align:center;
}

.box_container {
  display:inline-block;
  padding: 15px;
  text-align-last: justify;
  width: 900px;
}
.title {
  display:inline-block;
  width: 100px;
  vertical-align: middle;
}
.title img {
  display: block;
  margin: 0px auto;
  vertical-align: middle;

}

.title h1 {
  margin: 0px auto;
  text-align-last: initial;
  font-weight: normal;
  font-size: 12px;
  }

header nav{
  display: inline-block;
  vertical-align: middle;
  }

header nav li {
  display: inline-block;
  margin-right: 90px;
  }
