/*黑體*/
@import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css);



/*-----footer-----*/

footer{
  background-color: 000;
  width: 100%;
  height: 70px;
}

footer p{
  font-family: 'cwTeXHei', sans-serif;
  font-size: 12pt;
  color:FFF;
  width: 49%;
  margin-left:22px;
  margin-top:22px;
  float:left;
}

footer ul{
  list-style: none;
  margin-top:22px;
  float:right;
}

footer li{
  float: right;
  padding-left:25px;
  padding-right:25px;
}
