
/*黑體*/
@import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css);

/*------globle------*/

.allfont{
  font-family: 'cwTeXHei', sans-serif;
  font-size: 15pt;
}

.clear{
  clear:both;
}

/*-----private------*/

/*-----header-----*/
header{
    background-color: 000;
    width: 100%;
    height: 70px;
}
header img{
float:left;
display: block;
width: 70px;
height: 70px;
margin-left: 10px;
margin-bottom:10px;
}


header list{
  list-style:none;
  float: right;
  padding-top: 3px;
  padding-left: 30px;
  padding-right: 50px;
  width: auto;

}

header p{
  font-family: 'cwTeXHei', sans-serif;
  font-size: 15pt;
  color:FFF;
  float: left;
  margin-left: 50px;
  margin-right: 50px;
  width:10px;
  height:auto;
}
