
/*黑體*/
@import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css);


/*------globle------*/



/*------top------*/
.left{
  width: 49%;
  height: 430px;
  margin-top:90px;
  margin:0 auto;
  float:left;
}

.left_in{
    width: 49%;
    margin: 0 auto;
}

.left_in img{
  margin-top: 40px;
  margin-left: 60px;
  width:50px;
  height:50px;
}


.right{
  width: 49%;
  height: 430px;
  margin-top:90px;
  margin:0 auto;
  float:left;
}
.right img{
  margin-top: 28px;
  width: 100%;
}

/*------mid------*/

.mid{
  font-family: 'cwTeXHei', sans-serif;
  font-size: 20pt;
  height: 50px;
  margin-top:30px;
}

/*------down-----e-*/

.down_left{
  width: 49%;
  height: 250px;
  margin:auto;
  display:inline-block;
}



.down_right{
  width: 49%;
  height: 250px;
  margin:auto;
  float: right;
}


/*-----private------*/

/*-----section-----*/

.section{
  background-color:FFF;
  height:430px;
  margin-top: 20px;
}

section p{
  font-family: 'cwTeXHei', sans-serif;
  font-size: 15pt;
}

section h1{
  font-family: 'cwTeXHei', sans-serif;
  font-size: 20pt;
}

/*-----section_down-----*/

.section_down{
  background-color:FFF;
  height:430px;
  margin-top:20px;
}

section_down p{
  font-family: 'cwTeXHei', sans-serif;
  font-size: 15pt;
}

section_down h1{
  font-family: 'cwTeXHei', sans-serif;
  font-size: 20pt;
}
