
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');

* {
    outline: 0.5px solid red;
    font-family: 'Hind', sans-serif;
}

body {
    min-width: 1440px;
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

h1 {
    display: inline-block;
    
}

h1,h2,h3 {
    margin: 0;
    font-size: 0;
    /* font-weight: normal; */
}

h2,h3 {
    line-height: 1;
}

nav ul {
    font-size: 0;
}

/* 頁首 */
header {
    background-color: #EEEEEE;
    padding: 24px 310px 47px 280px;
    border-bottom: 1px lightgray;
}


.header__container {
    display: inline-block;
    width: 924px;
    /* margin: 0 auto; */
    text-align-last: justify;
}

/* 頁首 - logo */
.header__logo {
    vertical-align: middle;
}

.header__logo a {
    color: black;
    display: block;
}

.header__logo p {
    color: black;
    font-size: 10px;
}

.header__logo-img {
    width: 56px;
    margin: 0 auto;
}

.header__logo-img img {
    width: 100%;
}



/* 頁首 - 導覽列 */
nav {
    display: inline-block;
    vertical-align: middle;
}


.header__nav li {
    display: inline-block;
    font-size: 15px;
    color: #818181;
}


li+li {
    margin-inline-start: 118px;
}


.header__nav a {
    display: block;
    padding: 10px;
    color: gray
}

.header__nav a:hover {
    color: orange
}


/* 頁中 */
/* 頁中 - introduction */
.introduction {
    background-color:#FDFDFD;
    padding: 70px 0 103px 0;
}


.intro__container {
    display: block;
    width: 928px;
    margin: 0 auto;
    text-align-last: justify;
}

.intro__textandbtn {
    display: inline-block;
    max-width: 434px;
    vertical-align: top;
    text-align-last: auto;
}

.intro__textandbtn-txt h2 {
    font-size: 50px;
    margin: 0;
    display: block;
}

.intro__textandbtn-txt h3 {
    font-size: 38px;
    margin: 0;
    font-weight: normal;
    display: block;
}

.intro__textandbtn-txt p {
    font-size: 20px;
    color: #595959;
}

.intro__btn {
    max-width: 250px;
    margin: 0 auto;
    margin-block-start: 20px;
}

.intro__btn a {
    display: block;
    width: 250px;
    background: -webkit-linear-gradient(#FFBA53 50%, #F99303 50%);
    border-radius: 8px;
    padding: 15px 0px;
    text-align: center;
}

.intro__btn a:hover {
    background: -webkit-linear-gradient(#F2B14F 50%, #EE8C01 50%);
}

.intro__btn-txt {
    color: #ffffff;
    font-weight: normal;
    font-size: 24px;
}

.intro__btn-descr {
    font-size: 14px;
}

/* introduction - 圖片 */
.intro__img {
    display: inline-block;
    /* width: 370px; */
}

.intro__img img {
    width: 434px;
    vertical-align: bottom;
}

/* 頁中 - description */
.description {
    background-color: rgb(255, 255, 255);
    padding: 64px 0 224px 0;
}

.descr__container {
    width: 968px;
    margin: 0 auto;
    display: block;
    column-count: 2;
    column-gap: 40px;
}

.descr__container h3 {
    column-span: all;
    font-family:  'Hind', sans-serif;
    font-weight: normal;
    margin-block-end: 30px;
    font-size: 45px;
    display: block;
    color: #3E3E3E;
}

.descr__container p {
    margin: 0 auto 30px;
    font-size: 20px;
    color:#595959
}

.description__container p:nth-child(7) {
    margin: 0 auto 0;
}
.description__container p:nth-child(4) {
    margin: 0 auto 0;
}


/* 頁尾 */
footer {
    background-color:#EEEEEE;
    border-top: lightgray solid 1px;
    padding: 30px auto;
    display: block;
}

.footer__container {
    display: block;
    width: 780px;
    margin: 0 auto;
    text-align-last: justify;
    padding:20px;
}

/* 頁尾 - copyright */
.footer__copyright {
    display: inline-block;
    vertical-align: middle;
    font-size: 11px;
}

/* 頁尾 - sns links */

.footer__snslinks {
    display: inline-block;
    max-height: 30px;
    vertical-align: middle;
}

.footer__snslinks li {
    display: inline-block;
    font-size: 30px;
}

.footer__snslinks li+li {
    margin-inline-start: 20px;
}

.footer__snslinks a {
    display: block;
    height: 30px;
}

