* {
    outline: 0.7px solid red;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-width: 1440px;
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    margin: 0;
    font-size: 0;
    display: inline-block;
    font-weight: normal;
}

nav ul {
    font-size: 0;
}

/* 頁首 */
header {
    background-color: lightgray;
    padding: 20px 0;
    font-size: 0;
}


.header__container {
    display: block;
    width: 970px;
    margin: 0 auto;
    text-align-last: justify;
}

/* 頁首 - logo */
.logo {
    vertical-align: middle;
}

.logo a {
    color: black;
    display: block;
}

.logo p {
    color: black;
    font-size: 10px;
}

.logo-img {
    width: 56px;
    margin: 0 auto;
}

.logo-img img {
    width: 100%;
}



/* 頁首 - 導覽列 */
nav {
    display: inline-block;
    vertical-align: middle;
}


.nav-list li {
    display: inline-block;
    font-size: 15px;
}


li+li {
    margin-inline-start: 100px;
}


.nav-list a {
    display: block;
    padding: 10px;
    color: gray
}

.nav-list a:hover {
    color: orange
}


/* 頁中 */
main {
    padding-block-end: 120px;
}


/* 頁中 - introduction */
.introduction {
    background-color: rgb(248, 248, 248);
    padding: 30px 0;
}


.intro__container {
    display: block;
    width: 900px;
    margin: 30px auto;
    text-align-last: justify;
}

.intro-textandbtn {
    display: inline-block;
    max-width: 370px;
    vertical-align: top;
    text-align-last: auto;
}

.intro-txt h2 {
    font-size: 50px;
    margin: 0;
    font-weight: normal;
    display: block;
}

.intro-txt h3 {
    font-size: 28px;
    margin: 0;
    font-weight: normal;
    display: block;
}

.intro-btn {
    max-width: 250px;
    margin: 0 auto;
    margin-block-start: 20px;
}

.intro-btn a {
    display: block;
    width: 250px;
    background: -webkit-linear-gradient(#f6c781 50%, #ffb23e 50%);
    border-radius: 3px;
    padding: 20px 0px;
    text-align: center;
}

.intro-btn a:hover {
    background: -webkit-linear-gradient(#f4c175 50%, #ffa927 50%);
}

.btn-txt {
    color: #ffffff;
    font-weight: normal;
    font-size: 20px;
}

.btn-descr {
    font-size: 14px;
}

/* introduction - 圖片 */
.intro-img {
    display: inline-block;
    width: 370px;
}

.intro-img img {
    width: 100%;
    vertical-align: bottom;
}

/* 頁中 - description */
.description {
    background-color: rgb(255, 255, 255);
    padding: 30px 0;
}

.descr__container {
    /* max-height: fit-content; */
    width: 880px;
    margin: 30px auto;
    display: block;
    column-count: 2;
    column-gap: 78px;
    text-align: initial;
}

.descr__container h3 {
    column-span: all;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin-block-end: 30px;
    font-size: 28px;
    display: block;
}

.descr__container p {
    margin: 0 auto 30px;
}


/* 頁尾 */
footer {
    background-color: rgb(238, 238, 238);
    border-top: lightgray solid 1px;
}

.footer__container {
    display: block;
    width: 780px;
    margin: 0 auto;
    text-align-last: justify;
    padding: 30px;
}

/* 頁尾 - copyright */
.copyright {
    display: inline-block;
    vertical-align: middle;
    font-size: 11px;
}

/* 頁尾 - sns links */

.snslinks {
    display: inline-block;
    max-height: 30px;
    vertical-align: middle;
}

.snslinks li {
    display: inline-block;
    font-size: 30px;
}

.snslinks li+li {
    margin-inline-start: 20px;
}

.snslinks a {
    display: block;
    height: 30px;
}