
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');

* {
    outline: 0.5px solid red;
    font-family: 'Hind', sans-serif;
}

body {
    min-width: 1440px;
    margin: 0;
}

a {
    text-decoration: none;
}

h1 {
    display: inline-block;
    
}

h1,h2,h3 {
    margin: 0;
    font-size: 0;
}

h2,h3 {
    line-height: 1;
}

nav ul {
    font-size: 0;
    margin: 0;
    padding: 0;
}

/* 頁首 */
.header {
    padding: 24px 0 48px ;
    background-color: #EEEEEE;
    border-bottom: 1px lightgray;
}


.header__container {
    display: block;
    margin: 0 270px;
    width: 924px;
    text-align-last: justify;
}

/* 頁首 - logo */
.header__logo {
    vertical-align: middle;
}

.header__logo a {
    display: block;
    color: #000;
}

.header__logo p {
    margin:0;
    color:#000;
    font-size: 15px;
}

.header__logo-img {
    margin: 0 auto;
    width: 70px;
}

.header__logo-img img {
    width: 100%;
}



/* 頁首 - 導覽列 */
nav {
    display: inline-block;
    vertical-align: middle;
}


.header__nav li {
    display: inline-block;
    font-size: 15px;
}


.header__nav li+li {
    margin-inline-start: 118px;
}


.header__nav a {
    display: block;
    padding: 10px;
    color: #818181;  
}

.header__nav a:hover {
    color: #F99303
}


/* 頁中 */
.introduction {
    background-color:#FDFDFD;
    padding: 70px 0 103px 0;
}


.introduction__container {
    margin: 0 auto;
    text-align-last: justify;
    width: 928px;
}

.introduction__content {
    display: inline-block;
    max-width: 434px;
    vertical-align: top;
    text-align-last: auto;
}

.introduction__content-txt h2 {
    margin: 0;
    font-size: 50px;
    font-weight: 300;
}

.introduction__content-txt h3 {
    margin: 0;
    font-size: 38px;
    font-weight: normal;
}

.introduction__content-txt p {
    margin: 0;
    font-size: 20px;
    color: #595959;
}

.introduction__btn {
    margin: 20px auto 0;
    width: 250px;
}

.introduction__btn a {
    display: block;
    width: 100%;
    background: -webkit-linear-gradient(#FFBA53 50%, #F99303 50%);
    border-radius: 8px;
    padding: 15px 0px;
    text-align: center;
}

.introduction__btn a:hover {
    background: -webkit-linear-gradient(#F2B14F 50%, #EE8C01 50%);
}

.introduction__btn-txt {
    margin:0;
    color: #ffffff;
    font-weight: normal;
    font-size: 24px;
}

.introduction__btn-descr {
    margin:0;
    font-size: 14px;
}

/* introduction - 圖片 */
.introduction__img {
    display: inline-block;
}

.introduction__img img {
    vertical-align: bottom;
    width: 434px;
}

/* 頁中 - description */
.description {
    background-color: rgb(255, 255, 255);
    padding: 64px 0 224px 0;
}

.description__container {
    width: 968px;
    margin: 0 auto;
    display: block;
    column-count: 2;
    column-gap: 40px;
}

.description__container h3 {
    column-span: all;
    font-family:  'Hind', sans-serif;
    font-weight: normal;
    margin-block-end: 30px;
    font-size: 45px;
    display: block;
    color: #3E3E3E;
}

.description__container p {
    margin: 0 auto 30px;
    font-size: 20px;
    color:#595959
}

.description__container p:nth-child(7) {
    margin: 0 auto;
}
.description__container p:nth-child(4) {
    margin: 0 auto;
}


/* 頁尾 */
.footer {
    background-color:#EEEEEE;
    border-top: lightgray solid 1px;
    padding: 30px auto;
}

.footer__container {
    margin: 0 auto;
    padding:20px;
    width: 990px;
    text-align-last: justify;
}

/* 頁尾 - copyright */
.footer__copyright {
    display: inline-block;
    vertical-align: middle;
    font-size: 11px;
}


.footer__snslinks {
    display: inline-block;
    padding: 0;
    max-height: 30px;
    vertical-align: middle;
}

.footer__snslinks li {
    display: inline-block;
    font-size: 30px;
}

.footer__snslinks li+li {
    margin-inline-start: 20px;
}

.footer__snslinks a {
    display: block;
    height: 30px;
}