#header{
	background-color: #EEE;
	background-bottom:1px solid black;
}
#header>div{
	text-align: center;
}
#header>div>div{
	margin:0 20px 0 100px; 
	float: left; 
	position: relative;
}
#header ul{
	display: inline-block;
	background-color: #EEE;
	padding:50px;
	margin:0;
}
#header ul li{
	background-color: #EEE;
	float: right;
	width: 120px;
	text-align: center;
	position: relative;
}