#header{
	background-color: #EEE;
	background-bottom:1px solid black;
	padding:27px;
}
#header div{
	margin:0 20px 0 100px; 
	float: left; 
	position: relative;
}
#header ul{
	display: inline-block;
	background-color: #EEE;
	padding:50px;
}
#header ul li{
	background-color: #EEE;
	float: left;
	width: 120px;
	text-align: center;
	position: relative;
}