#second_container{
	clear: right;
}
#second_container div{
	float:left;
	margin: auto;
}
#second_container div div{
	float: left;
	width: 350px;
	padding:0 30px;
	display: inline-block;
}
#second_container div div span{
	display: block;

}