body {
  background-color: #efefef;
  text-align: center;
  margin: 0
  padding: 0;
  background-color: white;
}

li {
  display: inline;
  margin: 20px;
}
button {
  background-image: url(images/try_btn.png);
}
#navigation {

}

#content {
  align-self: center;
  width: 80%;
  length: 80%;

}

.column1 {
  width: 495px;
  float: left;
  background-color: white;
}
.column2 {
  width: 495px;
  float: right;
  background-color: white;
}
#footer {
    clear: both;
}
