@CHARSET "UTF-8";
.d1{
}

.content1{
	margin:10px 60% 10px 200px;
	width:470px;	
	float:left;
}

.ideas{
	font-size:50px;
	font-weight:bold;
}

.placeholder{
	font-size:30px;
	font-weight:bold;
}
.detail{
	line-height:1.5em;
	color:#555753;
}

.d2{
}

.d2 img {
	padding:3% 60% 0%24%;;
}
.d2  p{
		padding:0% 59% 0% 25%;;
	   font-size:8px;
	   	color:#888a85;
}

.d3{
}
.d3 img{
position:relative;
left:44em;
top:-15em;
}

.d4{
position:relative;
top:-12em;
}

.d4  h3{
	text-align:center;
	font-size:25px;
}

.content2{
height:auto;
width:960px;
position:relative;
left:230px;
}

.d4 p{
width:40%;
padding:2%;
line-height:2em;
float:left;
color:#888a85;
}







