@CHARSET "UTF-8";
*{
margin:0;
padding:0;	
}

ul{
	list-type:none;
	position:relative;
    top: -10em;
	padding:5% 5% 5% 20%;
	
}

li{
	display:inline;
	text-align:center;
	padding:50px;
}

.nav{
	background-color:#eeeeec;
	width:auto;
	height:9em;
}

.nav img{
	position:relative;
	left:150px;
	padding:30px;
}
