body { 
    margin: 0; /*因為header跟footer有白邊*/
}

/*fonttype*/

h1 ,h2 ,p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

/*header*/

header {
    height: 250px;
    background-color: #eeeeee;

    border-style:solid;
    border-color:#3165aa;
    border-width: 2px;
}

.title {    
    text-align: center;
    margin: 45px 200px;

    border-style:solid;
    border-color:#3165aa;
    border-width: 2px;
}

.logo {
    display: inline-block;

    border-style:solid;
    border-color:#3165aa;
    border-width: 2px;
}

.logo-photo {
    position: relative;
    top: 20px;
}

.logo-title {
    position: relative;
}

.links {
    display: inline-block; /*在沒有設定位置時用inline-block有下方空隙的問題*/
    position: relative;
    bottom: 35px;
    margin: 0 20px;

    border-style:solid;
    border-color:#3165aa;
    border-width: 2px;
}

a {
    margin: 0px 80px;
}

a:hover {
    color:rgb(247, 107, 15);
}

/*main*/

article {
    padding: 25px 120px;
}

/*part1*/

.section-content-a {
    padding: 150px 250px;
}

.section-content-aa {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 100%;
    bottom: 70px;
    margin: 0%;    

    border-style:solid;
    border-color:#c90751;
    border-width: 2px;
}

h1 {
    font-size: 100px; /*em會繼承上層的設定數值*/
    margin: 0%;

    border-style:solid;
    border-color:#3165aa;
    border-width: 4 px;

}

h2 {
    font-size: 45px;
    margin: 0%;

    border-style:solid;
    border-color:#3165aa;
    border-width: 2px;
}

p {
    margin: 0;
    font-size: 22px;
}

.botton-photo {
    margin-top: 30px;
    position: relative;
    left: 20%;
    width: 300px;
}

.dontworry {
    font-size: 15px;

    color: rgb(66, 65, 65);
    line-height: 1;
    position: relative;
    left: 20%;
}

.box-photo {
    display: inline-block;
    padding-left: 20px;
    width: 500px;

    border-style:solid;
    border-color:yellow;
    border-width: 2px;
}

/*part2*/

.content-title {
    margin: 40px 0;
}

.section-content-b {
    width: 65%;
    position: relative;
    left: 15%;

    border-style:solid;
    border-color:#3165aa;
    border-width: 3px;
}

.section-content-ba {
    display: inline-block;
    position: relative;
    width: 48%;

    border-style:solid;
    border-color:#c90751;
    border-width: 3px;
}

.section-content-bb {
    display: inline-block;
    position: relative;
    width: 48%;
    left: 3%;

    border-style:solid;
    border-color:#c90751;
    border-width: 3px;
}

/*footer*/

footer {
    background-color: #eeeeee;
    height: 150px;
    padding: 30px;

    border-style:solid;
    border-color:#3165aa;
    border-width: 2px;
}

.copyright {
    display:inline-block;
    position: relative;
    left: 20%;
    top: 10%;

    border-style:solid;
    border-color:#3165aa;
    border-width: 2px;
}

.icons {
    display:inline-block;
    position: relative;
    left: 50%;
    top: 25%;

    border-style:solid;
    border-color:#3165aa;
    border-width: 2px;
}