/* *{
    outline: 1px red solid;
}  */

/*font-type*/
h1,h2,h3,p,a {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    margin: 0;
}

a{ 
    text-decoration:none;
}
        
/* T2開始再觀察屬性重複寫reset*/
/*消除白邊，定高防跑版*/

body {
    margin: 0;  
    min-width: 1300px;
    /* background-image: url(1920\ ver.png);
    background-repeat: no-repeat; */
}

/*header*/

header {
    padding: 40px 0 60px; 
    border-bottom: 1px solid #d3d3d3;
    background-color: #eeeeee;
}

nav {   
    font-size: 0;
    width: 1200px;
    margin: 0 auto; 
    text-align-last: justify;
}

.nav-logo-wrap {
    display: inline-block;
    position: relative;
    right: 85px;
}

.nav-logo-wrap p {
    color: black;
    font-size: 24px;
    font-family: 'Rajdhani', sans-serif;
}

.nav-logo-wrap a {
    display: block;
}

.nav-logo {
    width: 75px;
    margin: 0 auto;
}

.nav-logo img{
    width: 100%;
}

.nav-links {
    display: inline-block;
    position: relative;
    bottom: 50px;
}

.nav-links a {
    color: #5a5a5a;
    font-size: 24px;
    padding: 0 5px;
}

.nav-links a+a{
    margin-left:160px;
}

.nav-links a:hover {
    color:#F86B0D;
}


/*banner*/

.banner-wrap {
    background-color: #f8f8f8;
    padding: 90px 0 140px;
}

.banner-content {
    width: 1180px;
    margin: 0 auto;
    font-size: 0;
}

.banner-description {
    display: inline-block;
    width: 560px;
    vertical-align: top;
}

.banner-description h2 {
    font-size: 100px;
    line-height: 100px;
}

.banner-description h3 {
    font-size: 44px;
    line-height: 64px;
}

.banner-description>p {
    font-size: 26px;
    line-height: 36px;
}   

.banner-button {
    width: 350px;
    margin: 35px auto 0;
}

.banner-button a {
    display: inline-block;
    background-image:linear-gradient(0deg ,#ff9939 50%, #ffbe5a 50%);
    width: 350px;
    height: 90px;
    border-radius: 10px;
    text-align: center;
    color:#eeeeee;
    font-size: 30px;
    line-height: 90px;
}

.banner-button>p {
    font-size: 18px;
    color: rgb(66, 65, 65);
    line-height:40px;
}

.banner-button a:hover {
    background-image:linear-gradient( 0deg ,
    #e7771a 0%, #e7771a 6%, 
    #ff9939 7%,#ff9939 54%,
    #ffbe5a 55%,#ffbe5a 100%);
    line-height: 80px;
}

.banner-button a:active {
    background-image:linear-gradient(0deg ,#ff9939 50%, #ffbe5a 50%);
    line-height: 90px;
}

.banner-box-image {
    position: relative;
    display: inline-block;
    left: 100px;
    width: 550px;
}

.banner-box-image img {
    width: 100%;
}


/*article*/

article {
    padding:85px 0 320px;
}

section {
    width: 1250px;
    margin: 0 auto;
}

section h3 {
    font-size: 44px;
    line-height: 64px;
}

.section-description {
    font-size: 26px;
    line-height: 36px;
    column-count: 2;
    column-gap: 50px;
}

.section-description p{
    padding-top:40px;
}


/*footer*/

footer {
    background-color: #eeeeee;
    padding: 45px 0 20px;    
    border-top: 1px solid #d3d3d3;
}

.footer-wrap {
    margin:0 auto;
    width: 1300px;
    text-align-last: justify;
}

.copyright {
    display:inline-block;
    vertical-align: middle;
    position: relative;
    left: -30px;
}

.copyright p {
    margin: 0;
    font-size: 18px;
}

.icons {
    display:inline-block;
    vertical-align: middle;
    font-size: 0px;
}

.icons a{
    display:inline-block;
}

.icons a+a{
    margin-left: 20px;
}

.icons i {
    font-size: 45px;
}

.fa-brands {
    color: #000;
    padding: 5px;
}

.fa-brands:hover {
    color: #F86B0D;
}