/* 疊入設計稿 */
/* .prototype {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .6;
  z-index: 2;
} */

* {
  /* visualize the area of each element */
  /* outline: 1px solid blue;  */
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  margin: 0 auto;
  min-width: 1000px;
  font-weight: 200;
  
}

/* -- header -- */
header {
  background-color: #eee;
  padding: 25px 0;
}
/* 使用layout-wrapper 協助內元素內縮及置中 */
.layout-wrapper {
  width: 900px;
  margin: 0 auto;
  font-size: 0; /* 消除inline-block空白字元間隙 */
}
h1 {
  display: inline-block;
  width: 15%;
  margin: 0;
  text-align: center;
  vertical-align: middle;
}
h1 a {
  display: inline-block;
  text-decoration: none;
  color: #333;
}

h1 span {
  display: inline-block;
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  position: relative;
  bottom: 10px;
}
nav {
  display: inline-block;
  width: 85%;
  text-align: left;
  vertical-align: middle;
}
nav a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  font-size: 14px;
  color: #555;
}
nav a:hover {
  color: #fa0;
}
.first-menu-item {
  margin-left: 40px;
}
nav a + a{
  margin-left: 80px;
}

/* -- main -- */

main .layout-wrapper {
  width: 770px;
}
.intro {
  padding: 50px 0 80px 0;
  background-color: #fdfdfd;
}
.intro-text {
  display: inline-block;
  width: 50%;
}
.intro-text h2{
  margin: 0;
  font-size: 50px;
  font-weight: 300;
}
.intro-text h3 {
  margin: 0;
  font-size: 28px;
  font-weight: 300;
}
.intro-text p {
  margin: 0;
  margin-bottom: 15px;
  font-size: 16px;
  color: #555;
  line-height: 1.5;
}

/* button-component block */
.button-try {
  width: 200px;
  margin: 0 auto;
}
.button-try button {
  display: inline-block;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 13px 0;
  font-size: 22px;
  color: #fff;
  background: linear-gradient(#f6ba53 50%, #f19533 50%);
  border-radius: 4px;
}
.button-try span{
  font-size: 12px;
  display: inline-block;
  padding: 5px 0;
  color: #555;
}
.intro-img-box {
  display: inline-block;
  width: 45%;
  text-align: center;
  vertical-align: top;
  margin-left: 5%;
}
.intro-img-box img {
  width: 100%;
  object-fit: contain;
}

/* article */
.article-content {
  width: 100%;
  padding: 50px 0 185px 0;
}
.article-content h3{
  margin: 0;
  font-size: 26px;
  font-weight: 300;
}
.article-content-text {
  padding: 20px 0;
  column-count: 2;
  column-gap: 20px;
}
.article-content-text p {
  display: inline-block; /* 解決margin collapse的問題 */
  margin: 13px 0;
  font-size: 14px;
  color: #555;
  line-height: 1.6;
}


/* -- footer -- */
footer {
  padding: 10px 0;
  background-color: #eee;
}
footer .layout-wrapper {
  width: 800px;
}
.copyright{
  display: inline-block;
  width: 50%;
  font-size: 12px;
  text-align: left;
  vertical-align: middle;
}
.social-media {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
  text-align: right;
}
.social-media a {
  display: inline-block;
}
.social-media a + a {
  margin-left: 15px;
}
.social-media i {
  font-size: 30px;
  color: #000;
}