* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px solid blue;
}
body {
  font-family: Helvetica, sans-serif;
  color: #333;
  font-weight: 100;
}

/* header */

header {
  background-color: #eee;
}
/* 將內元素內縮 */
.header_wrap {
  width: 900px;
  margin: 0 auto;
  padding: 15px 0;
}
.logo {
  display: inline-block;
  vertical-align: middle;
}
.logo h1 {
  font-size: 12px;
  font-weight: 100;
  position: relative; /* 讓logo字體視覺靠近圖片 */
  top: -10px;
}

nav {
  display: inline-block;
  vertical-align: middle;
}
nav a {
  text-decoration: none;
  color: #888;
  font-size: 14px;
}
/* 設定Home anchor顏色 */
nav a:first-child {
  color: #fa0;
  margin-left: 80px;
}
nav a + a {
  margin-left: 110px;
}

/* main */

main {
  background-color: #fdfdfd;
  margin-bottom: 100px;
  padding: 40px 0 60px 0;
}
/* 將main的內元素內縮 */
.main_wrap {
  width: 800px;
  margin: 0 auto;
  font-size: 0;
}
.main_left {
  width: 45%;
  display: inline-block;
  font-size: 12px;
  vertical-align: top;
}
.main_left h2 {
  font-size: 50px;
  font-weight: 100;

}
.main_left h3 {
  font-size: 28px;
  font-weight: 100;
}
.main_left p {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 200;
}
.main_right {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  padding-left: 50px;
}
.main_right img{
  width: 320px;
}
.button-try {
  text-align: center;
  margin-top: 20px;
}
.button-try a {
  display: inline-block;
  color: #fff;
  padding: 15px 38px;
  font-size: 20px;
  border-radius: 4px;
  text-decoration: none;
  background: linear-gradient(#f6b850 50%, #f19333 50%);
}
.button-try p {
  margin-right: 75px;
  font-size: 11px;
  color: #555;
  line-height: 2;
}

/* section */
section {
  margin-bottom: 150px;
}
/* 將section的內元素內縮 */
.section_wrap {
  width: 800px;
  margin: 0 auto;
}
section h3 {
  font-size: 30px;
  font-weight: 100;
}
/* 將content切割成2欄 */
section .content {
  column-count: 2;
  column-gap: 40px;
  padding: 20px 0;
}
.content p {
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 1.5;
}
.content p + p {
  margin-top: 24px;
}

/* footer */

footer {
  height: 70px;
  background-color: #eee;
}
/* 清除浮動 */
footer::after {
  content: '';
  clear: both;
  display: table;
}
.right-declaration {
  float: left;
  width: 50%;
  text-align: center;
  line-height: 70px;
  font-size: 11px;
}
.social-media {
  float: left;
  width: 50%;
  text-align: center;
}
.social-media i {
  font-size: 30px;
  color: #000;
  margin-right: 15px;
  line-height: 70px;
}