* {
  /* outline: 1px solid blue; */
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  margin: 0 auto;
  min-width: 1000px;
  font-weight: 200;
}

/* -- header -- */
header {
  background-color: #eee;
  padding: 20px 0;
}
/* 使用wrapper 協助內元素內縮及置中 */
.wrapper {
  width: 900px;
  margin: 0 auto;
  font-size: 0; /* 消除inline-block空白字元間隙 */
}
h1 {
  display: inline-block;
  width: 15%;
  margin: 0;
  text-align: center;
  vertical-align: middle;
}
h1 a {
  display: inline-block;
  text-decoration: none;
  color: #333;
}

h1 span {
  display: inline-block;
  width: 100%;
  font-size: 12px;
  font-weight: 400;
}
nav {
  display: inline-block;
  width: 85%;
  text-align: center;
  vertical-align: middle;
}
nav a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  font-size: 14px;
  color: #555;
}
nav a:hover {
  color: #fa0;
}
nav a + a {
  margin-left: 100px;
}

/* -- main -- */
main .wrapper {
  width: 750px;
}
.intro {
  padding: 50px 0 80px 0;
  background-color: #fdfdfd;
}
.intro-text {
  display: inline-block;
  width: 50%;
}
.intro-text h2{
  margin: 0;
  font-size: 50px;
  font-weight: 300;
}
.intro-text h3 {
  margin: 0;
  font-size: 28px;
  font-weight: 300;
}
.intro-text p {
  margin: 0;
  margin-bottom: 15px;
  font-size: 16px;
  color: #555;
  line-height: 1.5;
}

/* button-component block */
.button-try {
  width: 200px;
  margin: 0 auto;
}
.button-try button {
  display: inline-block;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 13px 0;
  font-size: 22px;
  color: #fff;
  background: linear-gradient(#f6ba53 50%, #f19533 50%);
  border-radius: 4px;
}
.button-try span{
  font-size: 12px;
  color: #555;
}
.intro-img-box {
  display: inline-block;
  width: 45%;
  text-align: center;
  vertical-align: top;
  margin-left: 5%;
}
.intro-img-box img {
  width: 100%;
  object-fit: contain;
}

.main-content {
  width: 100%;
  padding: 30px 0 100px 0;
}
.main-content h3{
  margin: 0;
  font-size: 26px;
  font-weight: 300;
}
.main-content-text {
  padding: 20px 0;
  column-count: 2;
  column-gap: 20px;
}
.main-content-text p {
  display: inline-block; /* 解決margin collapse的問題 */
  margin: 10px 0;
  font-size: 14px;
  color: #555;
  line-height: 1.6;
}


/* -- footer -- */
footer {
  padding: 10px 0;
  background-color: #eee;
}
footer .wrapper {
  width: 800px;
}
.copyright{
  display: inline-block;
  width: 50%;
  font-size: 12px;
  text-align: left;
  vertical-align: middle;
}
.social-media {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
  text-align: right;
}
.social-media a {
  display: inline-block;
}
.social-media a + a {
  margin-left: 15px;
}
.social-media i {
  font-size: 30px;
  color: #000;
}