.header {
    background: #ddd;
    font-size: 10px;
    line-height: 10px;
}

.header .logo img{
  width: 50px;
  
  position: relative;
}

.header .logo  {
  display: inline-block;
  height: auto;
}

.header .logo h1 a {
  color: #2d2d2d;
  
}

.header .logo a:hover {
  text-decoration: none;
}
.header .menu {
  float: right;
  padding-top: 10px;
  
}
.header .menu nav ul li {
  display: inline-block;
  width: 150px;
  padding-right: 80px;
}

.header .menu nav ul li h2 a {
  color: #2d2d2d;
}

.header .menu nav ul li h2 a:hover {
  color: #4da5f5;
}

.header .menu a {
  text-decoration: none;
}

.focus .about .imgg{
  padding-top: 150px;
  text-align: center;
}

.focus .about {
  
  font-size: 14px;
}

.focus .imgbg img {
  width: 550px;
  padding-left: 0;
}

.focus {
  margin-top: 60px;
}

.focus1 {
  padding-bottom: 100px;
}

.focus1 .tac {
  padding-top: 40px;
  height: 350px;
}

.focus1 .tacb {
  padding-top: 40px;
  height: 350px;
}

.footer {
  background:#000;
  border-top:1px solid #ddd;
  padding:10px 0;
}
.footer p { 
  float:left;
  color:#fff;
  height:30px;
  line-height:30px;
}
.footer .social {
  float:right;
}
.footer .social li { 
  display:inline-block;
}
.footer .social img { 
  margin-left:10px;
}












