* {
    outline: 1px solid red;
}

body{
    margin: 0;
}

.head{
    background-color: #eeeeee;
    height: auto;
    text-align: center;
    vertical-align: middle;
    padding: 20px 50px;
}

.logo{
    display: inline-block;
    vertical-align: middle;
}

.navbar{
    display: inline;
    vertical-align: middle;
}

ul{
    display: inline;
}

.Home{
    color: #fa8900;
}

li{
    display: inline;
    margin: 30px;
}

li a{
    text-decoration: none;
    color: #939393;
}

.main{
    margin: 50px 150px;
    margin-bottom: 300px;
}

h1{
    margin: 0;
    font-size: 3em;
}

h2{
    margin: 0;
}

p{
    margin: 0;
}

.top-block{
    width: 45%;
    float: left;
}

.try-it-button{
    width: 200px;
    height: 50px;
    background-image: linear-gradient(#ffba54 50%, #f99204 50%);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.3em;
}

.button{
    width: 200px;
    margin: auto;
    margin-top: 30px;
}

.button-text{
    font-size: 10px;
}

.img{
    margin-left: 100px;
    display: inline-block;
}

.middle-block{
    margin-top: 100px;
    margin-bottom: 30px;
}

.textbox{
    margin-bottom: 20px;
}

.text2{
    width: 45%;
    display: inline-block;
}

.text3{
    width: 45%;
    float: right;
}

.footer{
    height: 100px;
    background-color: #eeeeee;
}

.footertext{
    display: inline-block;
    margin: 40px;
    margin-left: 200px;
}

.icon{
    float: right;
    margin: 40px;
    margin-right: 150px;
}

i{
    margin: 5px;
}