* {
    outline: 1px solid red;
}
body{
    margin: 0;
}
.head{
    background-color: rgba(223, 223, 223, 0.964);    
    text-align: center;
    padding: 20px;
}

.logo{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}




.navbar{
    display: inline;
    vertical-align: middle;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

li a{
    text-decoration: none;
    color: grey;
}

.navbar li{
    padding: 30px;
    display: inline;
    margin: 20px;
}

.content{
    width: 70%;
    margin: 50px auto;
    padding: 20px;
    margin-bottom: 200px;
}

.text{
    width: 45%;
    margin: 10px;
    float: left;
    margin-right: 25px;
}

.img{
    display: inline;    
    margin-left: 20px;
}

h1{
    margin: 0;
    padding: 0;
    font-size: 4em;
}

h2{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}

.button{
    width: 200px;
    margin: auto;
}

.tryitbutton{
    font-size: 20px;
    color: white;
    width: 200px;
    height: 60px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    background-image: linear-gradient(#fbb570 50%, #FF9224 50%);
}

.h2{
    margin-top: 100px;
    margin-left: 10px;
}

.block{
    height: 100px;
}

.text1{
    width: 45%;
    display: inline-block;
    margin: 20px 10px;
    margin-right: 25px;
}

.text2{
    width: 45%;
    display: inline-block;
    margin: 20px 0;
    margin-left: 25px;
}


footer{
    height: 120px;
    background-color: rgba(223, 223, 223, 0.964);    text-align: center;
}

.footertext{
    display: inline;
    margin: 50px 0px 50px 200px ;
    float: left;
}

.icon{
    display: inline;
    margin: 50px 200px 50px 0px;
    float: right;
}
i{
    margin: 5px;
}