* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;

   }

html{
    font-size:15px;
}

html * {
    font-size: 1rem;
}

h1, h2, h3, h4 { 
    margin: 0;
    padding: 0;
    /* 文字標籤下面有預設margin、需要手動歸零 */
}


/* navbar_start */


 nav{
    background-color:#eeeeee;
    padding: 25px 0 25px 0;

 }

.menu{
    text-align: justify;
    width: 900px;
    margin: 0 auto;
}

.nav_logo{
    display: inline-block;
    text-align: center;
    
}
.logo_img{

    display: inline-block;
    height:70px;
    object-fit: cover;
}

nav .title{
    align-items: center; 
}

.nav_item{ 
    display: inline-block;
}

nav ul{
    display: inline-block;
    text-align: center;
    margin-left:50px;
    transform: translateY(150%);
    position: absolute;
    width:800px;
} /* position + transform定位 */

nav ul > li {
    display: inline-block;
    margin-right: 100px;
  }
nav a{
    color:#818181;
    text-decoration: none;
}
nav ul > li > a:hover {
    color: #f99203;

}

/* navbar_end */

/* main_start */

/* section_one */

main{
    height: 1000px;
}
main > .background{
    background-color: #FDFDFD;
    height: 45%;
}
.container{
    padding-top: 50px;
    width: 800px;
    font-size: 0; /* 讓width可以55分沒有空隙 */
}

.col-6{
 display: inline-block;
 width:45%;
}

.information_text{
    vertical-align:top; /* 對齊上面 */
    margin-right: 40px;
}
.information_text p{
    color:#585858;

}
div h2{
    font-size: 3.5rem;
    font-weight: bold;
}

.information_text > h4{
    white-space: nowrap;
}

div h4{
    font-size: 2rem;
}

.information_img{
    display: inline-block;

}

.information_img img{
    display: inline-block;
    vertical-align:top;
    width: 100%;
}

.information_button{
    display: block;
    text-align: center;
}
.information_button p{
    color:#585858;
    text-align: unset;
    margin-right: 50px;
    font-size: 0.5rem;
}
.myButton {
	box-shadow:inset 0px 39px 0px -13px #febc59;
	background-color:#f99203;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
    align-items: center; 
	cursor:pointer; 
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:10px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
    margin: auto;
}
.myButton:hover {
	background-color:#febc59;
}
.myButton:active {
	position:relative;
	top:1px;
}

/* section_one_end */

/* section_two_start */

.section_title{
    margin:150px 0 20px 0;
}

.box{
    width: 750px;
    column-count: 2;
    column-gap: 50px;    
}

p {    
    text-align: justify;
}

/* section_two_end */

/* footer_start */

footer{
    background-color:#eeeeee;
    padding: 30px 200px 30px 200px;
    margin-top: 100px;
    text-align-last: justify; /* 設last元素即可不用偽元素 */
}

/* footer:after {
    content: '';
    display: inline-block;
    width: 100%;
  } */


.footer_text{
    display: inline-block;
    color:#585858;
}
.footer_media_icon{
    display: inline-block;
}

.footer_media_icon i{
    display: inline-block;
    margin-left: 20px; 
}

.footer_media_icon a{
    color: black;
}

.footer_media_icon a:hover{
    color: #f99203;
}