body{
	margin: 0;
}

li{
	display: inline;
}

a{
	text-decoration: none;
}

.clearfix:after{
	content: "";
	display: block;
	clear: both;
}

.clear{
	clear: both;
}

/*-----------------------------header-----------------------------*/

header{
	background-color: #efefef;
}

.container{
	width: 850px;
	margin: 0 auto;
}

.link-logo{
	float: left;
	margin: 20 0 30 0;
}

header ul{
	float: left;
	margin-top: 55px;

}

header li{
	margin: 0 40 0 40;
	font-size: 16px;
}

header a{
	color: gray;
}

.logo{
	width: 90px;
	height: 100px;
}

#home-color{	
	color: orange;
}

/*-----------------------------section1-----------------------------*/
.section1{
	background-color: #fdfdfd;
	padding-bottom:80px;
}

.container-section1{
	width: 730px;
	margin: 0 auto;
}

.content-section1{
	width: 45%;
	float: left;
	margin-top: 40px;	
}

h1{
	font-size: 48px;
	font-weight: 400;
	line-height: 5pt;
	margin-bottom: 30px;
}

h2{
	font-size: 24px;
	font-weight: 400;
	line-height: 5pt;
	color: #282828;
	margin-bottom: 10px;
}

p{
	font-size: 13px;
	line-height: 14pt;
	color: gray;
	margin-bottom: 25px;
}

.button{
	font-size: 18px;
	color: white;
	background: linear-gradient(0deg, #ff9000 50%, #ffb938 50%);
	border-radius: 5px;
	padding: 12 38 12 38;
	margin-left: 50px;

}

#under-button{
	font-size: 10px;
	margin-left: 50px;
	margin-top: 12px;
}

.big-logo{
	float: right;
	width: 330px;
	height: 320px;
	margin-top: 45px;
}

/*-----------------------------section2-----------------------------*/
.section2{
	margin-top: 60px;
	margin-bottom: 135px;
}

.container-section2{
	width: 770px;
	margin: 0 auto;
	
}

.section2 h2{
	margin-bottom: 25px;
}

.content1-section2{
	width: 45%;
	display: inline-block;
}

.content2-section2{
	width: 45%;
	display: inline-block;
	margin-left: 40px;
}

.section2 p{
	font-size: 14px;
}

/*-----------------------------footer-----------------------------*/
footer{
	background-color: #efefef;
}

.footer-container{
	width: 830px;
	margin: 0 auto;
}

footer p{
	font-size: 12px;
	float: left;
	margin: 30 0 20 0;
}

footer ul{
	margin: 0;
	float: right;
	margin-right: 45px;
	margin-top: 25px;
}

footer li{
	margin: 0 5 0 5;
	display: inline-block;
}

footer img{
	width: 28px;
	height: 28px;
}
