body{
	margin: 0;
}

.clearfix{
	clear: both;
}

/*-----------------------------header-----------------------------*/

header{
	background-color: #efefef;
	padding:10 0 20 0;
}

.container{
	width: 80%;
	margin: 0 auto 0 auto;
}

nav{
	padding-top: 15px;

}

li{
	display: inline;
	margin: 0px 30px 0px 50px;
	font-size: 20px;
}

a{
	text-decoration: none;
	color: gray;
}

.p1{
	float: left;
}

#h{	
	color: orange;
}

/*-----------------------------section-----------------------------*/
.section1{
	background-color: #fdfdfd;
	padding: 10 0 80 0;
}

.container1{
	width: 66%;
	margin: 0 auto 0 auto;
}

.content1-1{
	width: 40%;
	float: left;
	margin-top: 40px;	
}

h1{
	font-size: 48px;
	font-weight: 400;
	line-height: 5px;
}

h2{
	font-size: 24px;
	font-weight: 400;
	line-height: 5px;
	color: rgb(34, 34, 31);
}

p{
	font-size: 13px;
	line-height: 20px;
	color: gray;
	margin-bottom: 25px;
}

.button{
	font-size: 18px;
	color: white;
	background: linear-gradient(0deg, #ff9000 50%, #ffb938 50%);
	border-radius: 5px;
	padding: 12 38 12 38;
	margin-left: 50px;

}

#under-button{
	font-size: 10px;
	margin-left: 50px;
}

.big-logo{
	float: right;
	width: 350px;
	height: 350px;
	margin-top: 45px;
}

/*-----------------------------section2-----------------------------*/
.section2{
	margin-top: 50px;
	margin-bottom: 135px;
}

.container2{
	width: 68%;
	margin: 0 auto 0 auto;
	
}

#h2-2{
	margin-bottom: 40px;
}

.content2-1{
	width: 45%;
	float: left;
}

.content2-2{
	width: 45%;
	float: right;
	margin-top: 50px;
	position: relative;
	right: 20px;	
}

.p2-2{
	font-size: 14px;
}

/*-----------------------------footer-----------------------------*/
footer{
	background-color: #efefef;
	height: 80px;
}

.footer-container{
	width: 70%;
	margin: 0 auto 0 auto;
}

#footer-tag{
	font-size: 12px;
	float: left;
	margin: 40 0 0 0;
}

.footer-nav{
	float: right;
	margin-right: 20px;
	margin-top: 25px;
}

.footer-ul{
	margin: 0;
}

.footer-li{
	margin: 0 5 0 5;
}

.footer-picture{
	width: 30px;
	height: 30px;
}
