#idea {
  /* margin-top: 23vh; */
  padding-top: 68px;
  /* outline: 1px solid red; */
}

.idea {
  margin: 0 auto;
  max-width: 775px;
}

.idea-container {
  /* outline: 1px dashed yellow; */
}

.col-left {
  min-width: 360px;
  float: left;
  /* outline: 3px dashed red; */
}

.col-right {
  min-width: 360px;
  float: right;
  /* outline: 3px dashed blue; */
}

.idea-text {
  width: 360px;
  /* outline: 4px dotted black; */
}
.idea-text h1 {
  font-size: 60px;
  text-transform: uppercase;
  color: #333;
}

.idea-text h2 {
  font-size: 30px;
  line-height: 1;
  color: #333;
}

.idea-text p {
  padding: 2px;
  line-height: 1.5;
  color: #666;
  /* outline: 1px solid green; */
}

.try-me {
  width: 230px;
  margin: 40px auto;
  /* outline: 1px solid blue; */
}

.try-button {
  width:100%;
  height: 60px;
  border-radius: 5px;
  text-transform: uppercase;
  font: 24px/60px 'OpenSans';
	color: #fbf9f9;
	background-image: linear-gradient(0deg, #f38100 0%, #fcbd5f 70%);
}

.try-me h6 {
  padding: 5px 0px;
  /* outline: 1px solid pink; */
}

.col-right .toolbox {
  width: 360px;
  margin: 0 auto;
}
