.intro {
  margin: 115px auto;
  max-width: 830px;
  /* outline: 1px solid red; */
}

.intro h2 {
  padding: 35px 0px;
  font-size: 30px;
  color: #333;
}

.intro p {
  width: 400px;
  line-height: 1.5;
}

p:first-child {
  margin-top: 0px;
}
