h1, h2, h3, body, p{
    margin: 0;
}
button{
    border: 0;
}

a {
    text-decoration: none;
    color: inherit;
}


/*
h1~h6
mt 16px
mb 16px

p
mt 16px
mb 16px

ul
pl 40px
mt 16px
mb 16px
list-style:none;
*/