
body {
	margin: 0;
}
#header > div {
	background-color: #ebefef;
	width: 100%;
	height: 10px;
	margin: auto;
	padding: 10px 10px;
}
#content_up > div{
	width: 50%;
}
#content_down > div {
 width: 100%;
 margin: auto;
}

.clear {
	clear: both;
}
/*----------------header-----------------*/
#logo{
	background-color: #ebefef;
	margin: auto;
	float: right;
	text-align: center;
}
#logo_pic{
	background-color: #ebefef;
	position: relative;
}
#tt {
	padding: 12px 0px;
	float: left;
}

#tt > ol {
	display: inline-block;
	position: relative;
	left: 30%;
	width: 160px;
	top: -90px;
	text-align: center;
		font-size: 18px;
}

/*----------------content_up------------*/
#content_up{
	margin: 10%
}
#left {
	max-width: 45%;
	float: left;
}
#left > P{
	font-size: 20px;
}
#left_in {
	position: relative;
	top:30px;
 text-align : center
}
#right{
	float:right;
}
#right > img {
			width:100%;
	    display: block;
			padding-left:15%;
}

#left > h2{
	font-size: 50px;
}
/*------------content_down----------------*/
#content_down{
	padding-right:10%;
 	margin: 10%;
 }
#content_down > h2{
		font-size: 30px;
}

.down_left{
	max-width: 50%;
	position: relative;
	float: left;
	font-size: 20px;
}
.down_right{
	max-width: 50%;
	position: relative;
	left: 15%;
	float: left;
	font-size: 20px;
}

/*------------------footer--------------------*/
#footer {
	background-color: #ebefef;
}
#freecopy {
	width: 50%;
	float: left;
}
#bottom {
	width: 100%;
	padding: 0 100%;
  margin: 20px auto;
	float: left;
}

#logolink {
	width: 20%;
	float: right;
}

#logolink > li {
	display: inline-block;
	width: 20%;
	text-align: center;
	float:right;
		position: relative;
}
