#title {
  width: 54em;
  height: 5em;
  margin-left: 13em;
  padding-left: 2em;
  padding-right: 2em;

  display: flex;
  align-items: center;
}

#h1{
  height: 3em;
  margin-left: 0em;
  padding-left: 0em;
  padding-right: 0em;
  text-align:left;
}

#word{
  margin-left: 0em;
  padding-left: 0em;
  padding-right: 0em;
  padding-left: 5em;
}

#content-left {
  display:block;
  width: 20em;
  height: 18em;
  margin-left: 7em;
  padding-left: 2em;
  padding-right: 2em;
  float:left;
}
#content-right {
  display:block;
  width: 20em;
  height: 18em;
  margin-left: 3em;
  padding-left: 2em;
  padding-right: 2em;
  float:left;
}
#clean {
  clean:both;/*有float就要clean+指定高度才不會消失*/
}
