#header {
  background-color: #E6E6E6;
  width: 90m;
  height: 10em;
}

#topContainer {
  background-color: #ffffff;
  width: 85em;
  height: 30em;
}


#bottomContainer {
  background-color: white;
  width: 85em;
  height:30em;
}

#footer {
  background-color:#DDDDDD;
  width: 85em;
  height: 4em;
}
