.clear {
	clear: both;
}

body {
	background-color: #EEE;
	margin: 0px;
}

/************ header start ************/
.headerBox {
	width: 1200px;
	margin: 0 auto;
}

#logo {
	float: left;
	margin-left: 150px;
}

#nav {
	float: left;
	padding: 40px 0;
}

#nav ul {
	list-style-type: none;
	margin: 0;
}

#nav li{
	display: inline;
	padding-right: 100px;
}
/************ header end ************/


/************ content1 start ************/
#content1 {
	padding-top: 50px;
	background-color: #00FFFF;

}

.content1Box {
	width: 800px;
	margin: 0 auto;
}

#try-Button {
	margin-left: 70px;
}

#little-note {
	margin: 0;
	padding-left: 70px;
	font-size: 10px;
}
#content1-left{

	float: left;
	margin-right: 50px;
	margin-left: 50px;
}

#content1-right{
	float: left;
}
/************ content1 end ************/



/************ content2 start ************/
#content2 {
	background-color: #E8CCFF;
	padding-top: 50px;
}

.content2Box {
	width: 900px;
	margin: 0 auto;
}

#content2-left{

	float: left;
	width: 390px;
	margin-left: 100px; 
	margin-right: 20px;

}
#content2-right{

	float: left;
	width: 390px;
	margin-top: 45px;
}
/************ content2 end ************/


/************ footer start ************/
#copyright {
	position: relative;
	left: 25%;
	float: left;
	font-size: 12px;
}
#social-items li {
	position: relative;
	right: 25%;
	float: right;
	display: inline;
	padding: 10px;
}
/************ footer end ************/


