:root {
    --width-template: 1440px;
    --width-slogans: 425px;
    --width-logo: 60px;
    --height-logo: 80px;
    --color-background: #EFEFEF;
    --color-background-main: white;
    --color-text-simple: #5C5C5C;
    --color-text-heading: black;
    --color-text-heading-detail: #3C3C3C;
    --color-text-nav: #828282 --color-nav-hover: #F99603;
    --color-footer-outline: #D4D4D4;

    /* Magic number, to align template */
    --padding-header: 30px 210px 45px;
    --padding-main: 70px 0 240px;
    --padding-footer: 32px 215px 20px;
}

body {
    color: var(--color-text-simple);
    background-color: var(--color-background);
    margin: auto;
    min-width: var(--width-template);
}

h1,
h2,
h3 {
    color: var(--color-text-heading);
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
}

img {
    width: 100%;
}

/* Strictly set width for contents of template */
.content {
    width: var(--width-template);
    box-sizing: border-box;
    margin: auto;
    font-size: 0;
}

/* Clear surrounding effect after elements using "float" */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

header .content {
    text-align-last: justify;
    padding: var(--padding-header);
}

header :is(h1, nav) {
    display: inline-block;
    vertical-align: middle;
}

h1 .img-container {
    width: var(--width-logo);
    height: var(--height-logo);
    margin: auto;
}

h1 img {
    object-fit: cover;
    object-position: 0 0;
    height: 100%;
}

h1 p {
    font-size: 16px;
    font-weight: 100;
    padding-top: 6px;
}

nav {
    margin: 12px 50px 0 0;
}

nav :is(ul, li, a) {
    display: inline-block;
    padding: 0;
}

nav li~li {
    margin-left: 100px;
}

nav a {
    padding: 15px;
    font-size: 18px;
    text-decoration: none;
    color: var(--color-text-nav);
}

nav a:hover {
    color: var(--color-nav-hover);
}

main {
    background-color: var(--color-background-main);
    padding: var(--padding-main);
}

.banner {
    box-sizing: border-box;
    font-size: 0;
    padding: 0 260px 0 270px;
    /* Magic number, used to align template */
}

.banner .slogans {
    width: 50%;
    float: left;
}

.banner .slogans h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    font-weight: 900;
    line-height: 70px;
}

.banner .slogans h3 {
    font-size: 35.2px;
    letter-spacing: -0.3px;
    font-family: 'Roboto', sans-serif;
}

.banner .slogans>p {
    font-size: 19px;
    line-height: 26px;
}

.button-set {
    width: 265px;
    margin: 30px 75px;
}

.button-set a {
    background: linear-gradient(to bottom, #FFBD59 50%, #F99300 50%);
    text-align: center;
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-family: serif;
    font-size: 28px;
    padding: 13px 0;
    text-decoration: none;
    font-weight: 500;
    width: 100%;
}

.button-set a:hover {
    background: linear-gradient(to bottom, #EFAD49 50%, #D97300 50%);
}

.button-set p {
    padding: 4px 0 0;
    font-size: 14px;
}

.banner .img-container {
    width: 46%;
    /* Magic number, used to align template */
    float: right;
}

.detail-container {
    padding: 0 245px;
    margin-top: 170px;
}

.detail-container h2 {
    font-weight: 100;
    font-size: 35.5px;
    color: var(-color-text-heading-detail);
}

.detail {
    columns: 2;
    column-count: 2;
    gap: 50px;
    padding-top: 30px;
}

.detail p {
    font-size: 19px;
    line-height: 26.5px;
}

.detail p~p {
    margin-top: 35px;
}

footer {
    border-top: 1px solid var(--color-footer-outline);
}

footer .content {
    padding: var(--padding-footer);
    text-align-last: justify;
}

footer .content>:is(p, div) {
    display: inline-block;
    vertical-align: middle;
}

footer p {
    font-size: 14px;
}

.sns {
    /* Magic number, to align template */
    margin-right: 20px;
}

.sns a {
    display: inline-block;
    font-size: 36px;
    color: black;
}

.sns a:hover {
    transform: scale(1.2)
}

.sns a~a {
    margin-left: 25px;
}