body {
    position: relative;
    color: #5C5C5C;
    background-color: #EFEFEF;
    margin: auto;
}

img {
    width: 100%;
}

h1,
h2,
h3 {
    color: black;
}

header {
    width: 1080px;
    height: 110px;
    margin: auto;
    padding: 36px 50px;
    font-size: 0;
}

header>* {
    display: inline-block;
    vertical-align: middle;
}

.logo {
    color: black;
    margin: 0 26px;
}

.logo .img-container {
    width: 60px;
    display: block;
    margin: auto;
}

.logo p {
    font-size: 16px;
    margin: -16px auto;
}

nav {
    margin-top: 20px;
    padding: 0 50px;
}

nav * {
    display: inline-block;
}

nav ul {
    padding-left: 0px;
}

nav a {
    padding: 14px;
    font-size: 18px;
    text-decoration: none;
    color: #828282;
}

nav li~li {
    margin-left: 100px;
}

nav a:hover {
    color: #F99603;
}

main {
    width: 100%;
    margin: auto;
    padding: 45px 100px;
    background-color: white;
    border: 0px;
}

.banner {
    width: 1100px;
    margin: 20px auto;
}

.banner>* {
    display: inline-block;
    vertical-align: top;
}

.banner .slogans {
    width: 450px;
}

.banner .slogans h1 {
    color: black;
    margin: 0 0 -10px 0;
    font-size: 70px;
    font-weight: 100;
}

.banner .slogans h2 {
    color: black;
    margin: 0;
    font-size: 35.2px;
}

.banner .slogans>p {
    font-size: 19px;
    line-height: 26px;
    margin: 0;
}

.button-set {
    margin: 28px 75px 28px 75px;
}

.button-set a {
    background: linear-gradient(to bottom, #FFBD59 50%, #F99300 50%);
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-family: serif;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    padding: 15px 0;
    text-decoration: none;
    width: 260px;
}

.button-set a:hover {
    background: linear-gradient(to bottom, #EFAD49 50%, #D97300 50%);
}

.button-set p {
    margin: 4px 0px;
    font-size: 14px;

}

.banner .img-container {
    width: 420px;
    margin-left: 40px;
}

.content-container {
    width: 1140px;
    margin: 175px auto;
}

h2 {
    font-weight: 100;
    font-size: 35.5px;
    margin-bottom: 10px;
}

.content {
    width: 985px;
    columns: 2;
}

.content * {
    display: inline-block;
    width: 450px;
}

.content p {
    font-size: 18.8px;
    line-height: 26.5px;
}

footer {
    width: 1010px;
    margin: auto;
    font-size: 14.5px;
}

footer .container {
    margin: 26px auto;
}

footer .container>* {
    display: inline-block;
    vertical-align: middle;
}

.sns {
    padding-left: 544px;
}

.sns a {
    width: 36px;
    display: inline-block;
}

.sns a~a {
    height: 36px;
    margin-left: 17px;
}

.sns img {
    width: 100%;
}