#footer ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding-left: 12em;
  padding-top: 1em;
}

#footer li {
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
  width: 2em;
  height:auto;
}

#externalLinks {
  padding-left: 25em;
}

#externalLinks img {
  width: 2em;
  height: 2em;
}
