#header ul {
  list-style-type: none;
  display: flex;/*平均分散漂浮*/
  align-items: center; /*將高置中*/
  padding-left: 8em; /*左側外距*/
  padding-top: 1em; /*上方外距*/
}

#header img{
  width: 10em;
  height: 7.5em;
}

#header li {
  padding-left: 3em;
  padding-right: 1em;
  width: 7em;
  height:auto;
}

#header a {
  display: inline-block;
  width: 100%;
  height: auto;
  text-decoration: none;/*刪除超連結底線*/
  padding: 1em;
  text-align: center;/*水平置中*/
}

#header a:link {
  color:black;
}/*原本的樣子*/

#header a:visited {
  color:#FF8800;
}/*點擊過後的樣子*/

#header a:hover {
  font-size:20;
  color:#0044BB;
  text-decoration:underline;
}/*滑鼠經過的變化*/

#header a:active {
  color:red;
  text-decoration:underline;
}/*滑鼠點擊時的效果*/
