#topContainer-left {
  width: 25em;
  height: 21em;
  margin-left: 13em;
  padding: 2em;
  float:left;
}

#topContainer-left img {
  width: 15em;
  height: 3em;
  padding-left: 5em;
}

#topContainer-left p2 {
  width: 15em;
  padding-left: 5em;
}

#topContainer-right {
  width: 25em;
  height: 21em;
  margin-right: 13em;
  padding: 2em;
  float:left;
}

#topContainer-right img {
  width: 24em;
  height: 21em;
}

#clean {
  clear:both;/*有float就要clean+指定高度才不會消失*/
}
