*{
    /* outline: solid 1px; */
}

body{
    margin: 0;
    padding: 0;
}

.template{
    width: 100%;
    height: auto;
    position: absolute;
    opacity: 0.3;
}

header{
    background-color: #efefef;
}

.nav{
    font-size: 0;
    width: 75%;
    margin: 0 auto;
    padding: 30px 0;
}

.logo{
    width: 8%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-left: 2%;
} 

.logoimg{
    width: 70%;
    vertical-align: middle;
}

h1{
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-top: -5px;
}

.list{
    width: 85%;
    font-size: 0;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5%;
    padding-inline-start: 0px;
    padding: 0 
}

.list a{
    font-family: sans-serif;
    font-size: 17px;
    display: inline-block;
    margin: 0 1%;
    padding: 0.5% 5%;
    text-decoration:none;
    color: black;
    
}

a:hover{
    color: #f59830;
}

main{
    width: 80%;
    font-size: 0;
    margin: 0 auto;
    padding: 5%;

}

figure{
    width: 40%;
    background-color: #fdfdfd;
    vertical-align: top;
    display: inline-block;
    margin: 0 0 0 11%;
}

figure h2{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 70px;
    font-weight: 500;
    margin: 0;
    line-height: 60px;
}

figure h3{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 35px;
    font-weight: 300;
    margin: 0;
}

figure p{
    color: #808080;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    margin: 0;
}

.box_image{
    display: inline-block;
    font-size: 0;
    vertical-align: top;
    margin-left: 3%;
}

.try_it_now{
    width: 53%;
    margin: 0 auto;
    padding: 6% 0;
}

button{
    background: linear-gradient(#f9b94c,#f59530);
    color: white;
    font-size: 28px;
    width: 100%;
    border: none;
    border-radius: 8px;
    margin-bottom: 5px;
    padding: 15px 0 ;
    cursor: pointer;
}

.button_text{
    font-size: 16px;
}

section{
    font-size: 0;
    width: 82%;
    margin: 0 auto;
    padding: 16% 0 11% 0;
}

section h3{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 35px;
    font-weight: 300;
    margin: 0 0 3% 0;
}

.info{
    column-count: 2;
    column-gap: 50px;
}

.info p{
    color: #808080;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 8% 0; 
}

footer{
    background-color: #efefef;
    padding: 2%;
}

.footer_container{
    width: 1140px;
    vertical-align: middle;
    margin: 0 auto;
}

.footer_container p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    display: inline-block;
    padding-left: 10%;
    
}

.social{
    font-size: 0;
    width: 60%;
    display: inline-block;
    vertical-align: middle;}

.social_icon{
    text-align: right;
}

i{
    font-size: 35px;
    margin-left: 25px;
    cursor: pointer;
}

.social i:hover{
    color: #f59830;
}