    header, section, footer, nav, article, figure, figcaption {
			display: block;}
	body {
		    color: #272727;
			background-color: #ffffff;						
			font-family: Georgia, Times, serif;
			line-height: 1.4em;	
			text-align: center;		
			width: 100% ;
			margin: 0px auto 0px auto; }
	
	header {
		    background-color: #f0f0f0;
		    height: 160px ;}
   
    img.logo {
    	    width:152px;
    	    height: 102px;
    	    margin:  20px 0px 0px 0px; }		    
    nav  {   
            float: right;
           /*clear: both; */                  
            margin: 40px 150px 0px -200px; }
    
	nav li {
		    display: inline;
		    margin: 30px 60px 30px 60px;}
		   
	nav li a {
		    color: #484853;
		    text-decoration:none; }
	nav li a:hover, nav li a.current {
			color: #FF9933;}
	
    section { 
            width:720px;
            text-align: center;}       
    article.ideas {
    	    
            float: left;
            }         
    h1, h2 {
    	    font-family: Arial, Verdana, sans-serif;
    	    font-weight: normal; }
    h1  {  	    
    	    font-size: 52px;   	   
    	    letter-spacing: 0.1em;
    	    margin: 80px 0px 25px 0px;
    	    position: relative;
    	    left: 180px; }
    .ideas h2 {   	    
    	    font-size: 32px;   	    
    	    position: relative;
    	    left:250px;    
    	    margin: 0px 0px 10px 0px;}
    .ideas p {   	    
    	    width: 360px;
    	    text-align: left;
    	    position: relative;
    	    left: 250px;}
    figure  {
    	    width: 151px;
    	    height: 39px;
            position: relative;
            left: 270px;}
    figcaption {
    	    font-size: 90%;
			text-align: left;}
	img.download {
		    width: 326px ;
		    height: 317px ;
		    float: left;
            clear: right;
            position: relative;
            left: 350px;
            margin: 70px 0px 0px 0px ; }
    
          	
            
    footer {   
            float: left;
            clear: both; } 
    
    
