*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    outline: 1px solid red;

}
.t1{
    width: 1000px;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    opacity: .3;
}
body{
    margin: 0;
}
header{
    width: 1000px;
    background-color: #eee;
    margin-bottom: 45px;
}
header .header-container{
    width: 800px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 30px 0;
    text-align: center;
    word-spacing: -1em;
}
header .logo{
    width: 15%;
    display: inline-block;
    margin: 0;
}
header .logo a{
    display: block;
}
header .logo img{
    width: 45%;
    vertical-align: middle;
}
header nav{
    width: 85%;
    display: inline-block;
}
header nav a{
    display: inline-block;
    margin: 0 40px;
    text-decoration: none;
    color: #888;
    font-size: 17px;
}
header nav a:hover{
    color: #f90;
}



main{
    width: 1000px;
}
.banner{
    width: 700px;
    margin: auto;
    font-size: 0;
}
.banner .banner-intro{
    width: 50%;
    height: 100%;
    display: inline-block;
    /* text-align: center; */
    vertical-align: top;
    box-sizing: border-box;
}
.banner .banner-intro .title{
    padding-left: 25px;
    text-align: left;
}

.banner .banner-intro .title h1{ 
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 50px;
    font-weight: 500;
    color: #222;
}
.banner .banner-intro .title h2{
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: 400;
    color: #222;
}
.banner .banner-intro .title p{
    font-size: 16px;
    font-weight: 300;
    color: #888;
    margin-top: 0;
    margin-bottom: 10px;
}
.banner .banner-intro .try-button{
    width: 50%;
    margin: auto;
    text-align: center;
}
.banner .banner-intro .try-button button{
    padding: 10px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    background: linear-gradient(0deg, #f90 45%, #fb5 45%);
    color: #fff;
    margin: 0;
    display: block;
    text-align: center;
    border: none;
}
.banner .banner-intro .try-button p{
    text-align: left;
    font-size: 10px;
    font-weight: 300;
    color: #888;

}
.banner .banner-image{
    width: 50%;
    display: inline-block;
    text-align: center;
}
.banner .banner-image img{
    width: 90%;
}


.content{
    width: 700px;
    margin: 80px auto 0;
    padding-left: 20px;
    box-sizing: border-box;
}
.content h2{
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    color: #777;
}
.content .content-text{
    color: #777;
    columns: 250px 2;
    vertical-align: top;
}
.content .content-text span{
    display: block;
    padding-bottom: 3ex;
    line-height: 1.5;
}
.content .content-text span:nth-child(3){
    padding-bottom: 0;
}


footer{
    width: 100%;
    height: 80px;
    background-color: #eee;
    margin-top: 180px;
    padding-top: 10px;
}
footer .footer-container{
    width: 70%;
    height: 100%;
    margin: auto;
    font-size: 0;
}
footer .copyright{
    display: inline-block;
    width: 50%;
    font-size: 16px;
    line-height: 80px;
    vertical-align: middle;
    color: #777;
}
footer .link-icon{
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    text-align: right;
}
footer .link-icon a img{
    width: 30px;
    padding: 12px;
}

