footer {
    background-color: rgb(239, 239, 239);
    border-top: 1px solid rgb(217, 217, 217);
    padding: 60px 0 30px 0;
}

.footer-box {
    margin: 0 auto;
    width: 1000px;
    font-size: 0;
    text-align-last:justify ;
}

.footer-box p {
    display: inline-block;
    font-size: 14px;
    color: rgb(87, 87, 87);
    margin: 0;
    vertical-align: middle;
}

.footer-icon {
    display: inline-block;
    vertical-align: middle;
}

.footer-icon i {
    color: #000;
    text-decoration: none;
    font-size: 40px;
}
.footer-icon a+a{
    margin-left: 25px;
}

.footer-icon a i:hover {
    color: #fa0;
}