footer{
    background-color: rgb(239,239,239);
    border-top:1px solid rgb(217, 217, 217);
    padding: 30px 0 80px 0;
}
.footer-box{
    margin: 0 auto;
    width: 1000px;
    columns: 2;
}
.footer-box p{
    font-size:13.5px;
    color:rgb(87,87,87);
 }
 .footer-icon{
    text-align: right;
 }
 .footer-icon a{
    margin-left:25px ;
    color: #000;
    text-decoration: none;
 }
.footer-icon a:hover{
 color:#fa0 ;
 cursor: grab;
}