.service {
    background-color: rgb(253, 253, 253);
    padding: 75px 0;
}

.service-box {
    margin: 0 auto;
    width: 950px;
    font-size: 0;
    text-align-last: justify;
}
.service-box-wrap{
    display: inline-block;
    width: 400px;
    vertical-align: middle;
    text-align-last:left;
}

.service h2 {
    font-size: 60px;
    color: rgb(40, 40, 40);
    margin: 0;
}

.service p {
    margin: 0;
    font-size: 18px;
    color: rgb(87, 87, 87);
}

.service-img {
    display: inline-block;
    vertical-align: middle;
    width: 450px;
}

.service-img img {
    width: 100%;
}

.service-button {
    padding: 20px 0 120px;
}

.button-box {
    margin: 0 auto;
    width: 220px;
}

.service-button a {
    display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    border-radius: 5px;
    background-image: linear-gradient(rgb(255, 188, 82)55%, rgb(249, 148, 2)45%);
}

.service-button p {
    font-size: 8px;
}

.service-button a:hover {
    color: aquamarine;
}


article {
    background-color: rgb(255, 255, 255);
    padding: 50px 0 150px;
}

.article-box {
    width: 950px;
    margin: 0 auto;
}

.article-box-title {
    columns: 2;
    column-gap: 40px;
}

.article-box-title p {
    margin: 0 0 35px 0;
    line-height: 25px;
    font-size: 18px;
    color: rgb(87, 87, 87);
}

.service h3,
article h3 {
    font-size: 30px;
    color: rgb(60, 60, 60);
    font-weight: 400;
}

.service h3 {
    margin: 0;
}

article h3 {
    margin: 0 0 35px 0;
}

.article-box p:nth-child(3),
.article-box p:nth-child(6) {
    margin: 0;
}