* {
  outline: 1px solid red;
}

body {
  width: 1225px;
  font-family: 'Nunito', sans-serif;
  margin: 0 auto;
  color: #6c6c6c
}

p,
a {
  color: grey;
  text-decoration: none;
}


h1, h2, h3, p {
  margin: 0;
}
.container {
  width: 80%;
  margin: 0 auto;
}

/* header */
header {
  background-color: #eeeeee;
}

.nav-wrapper {
  padding: 28px 0;
}

.nav-brand {
  display: inline-block;  
}

.nav-brand-link {
  display: inline-block;
  width: 173px;
  text-align: center;  
  vertical-align: middle; 
  font-size: 0;
}


.nav-brand-name {
  font-size: 16px;
  font-weight: bold;
  color: black;
  margin: 0;
}

nav {
  display: inline-block;
}


.nav-item {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  color: #868686;
}

.nav-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.nav-list li+li {
  margin-left: 92px;
}

.nav-list:first-child {
  margin-left: 25px;
}

.nav-link {
  display: inline-block;
  padding: 5px;
  /* 增加padding讓點擊的反應範圍變大 */
}

.nav-link:hover {
  color: #f4b352;
}

/* main */
.main-wrapper {
  margin: 57px auto 175px;
}

.section {
  padding: 0 90px 120px 105px;
  background-color: #fdfdfd;
}

.section-title {
  font-size: 65px;
  color: black;
  line-height: 65px;
}

.section-img-container {
  width: 365px;
  height: 340px;
  float: right;
}

.section-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* 在img-container上設寬高,img本身設寬高100%,加上object-fit：contain以防未來換圖比例跑掉或圖片排版跟接下來元素重疊 */
.section-msg {
  width: 50%;
}


.banner {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
}

.section-description {
  font-size: 17px;
  margin-bottom: 33px;
  color: #6c6c6c
}

.section-button-container {
  text-align: center;
}

.section-button {
  background-image: linear-gradient(#ffba54 50%, #f99303 50%);
  display: inline-block;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
  color: white;
}

.section-button:hover {
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
  ;
}


.section-button-note {
  font-size: 12px;
  text-align: left;
  padding-left: 90px;
}

.clearfix {
  clear: both;
}

.article {
  padding: 0 85px;
}

.article-banner {
  margin-bottom: 20px;
}

.article-content {
  columns: 2 auto;
  display: inline-block;
  font-size: 16px;
  color: #6c6c6c;
}

.article-content p {
  padding: 20px 18px 20px 0;
  break-inside: avoid-column;
  /* to avoid column-break */
}


/* footer */
footer {
  background-color: #eeeeee;
}

.footer-wrapper {
  text-align-last: justify;
  padding: 27px 0 15px;
}

.copyright {
  display: inline-block;
  font-size: 16px;
  padding-left: 54px;
}

.social-media {
  display: inline-block;
  font-size: 0;
  vertical-align: middle;
}

.social-media-link {
  display: inline-block;
}

i {
  color: black;
  font-size: 32px;
  margin-left: 15px;
}

i:hover {
  color: #f4b352;
}

.social-media:last-child {
  margin-right: 123px;
}