/* reset CSS start*/
body {
  width: 1225px;
  font-family: 'Nunito', sans-serif;
  margin: 0 auto;
  color: #6c6c6c
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

p {
  margin: 0;
  color: grey;
}

ul,
li {
  list-style-type: none;
  /* 拿掉前方圈圈 */
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  /* 拿掉底線 */
}


.container {
  width: 80%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: grey;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* reset CSS end */
* {
  outline: 1px solid red;
}

header {
  background-color: #eeeeee;
}

.nav-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-brand {
  display: inline-block;
}

.nav-brand-link {
  display: inline-block;
  width: 173px;
  text-align: center;
  vertical-align: middle;
}


.nav-brand-name {
  font-size: 16px;
  font-weight: bold;
  color: black;
}

nav {
  display: inline-block;
}


.nav-item {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  color: #868686;
}


.nav-list li+li {
  margin-left: 92px;
}

.nav-list:first-child {
  margin-left: 25px;
}

.nav-link {
  display: inline-block;
  padding: 5px;
  /* 增加padding讓點擊的反應範圍變大 */
}

.nav-link:hover {
  color: #f4b352;
}

/* main */
.main-wrapper {
  margin: 57px auto 175px;
}

.section {
  font-size: 0;
  display: inline-block;
  text-align: left;
  padding: 0 90px 139px 105px;
}

.section-title {
  font-size: 80px;
  color: black;
}

.section-img-container {
  width: 365px;
  height: 419px;
  float: right;
  margin-left: 52px;
}

.section-img {
  width: 100%;
  height: 100%;
}

.banner {
  font-weight: 600;
  font-size: 30px;
}

.section-description {
  font-size: 16px;
  margin-bottom: 26px;
  color: #6c6c6c
}

.section-button-container {
  text-align: center;
}

.section-button {
  background-image: linear-gradient(#ffba54 50%, #f99303 50%);
  display: inline-block;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
  color: white;
}

.section-button:hover {
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
  ;
}


.section-button-note {
  font-size: 11.5px;
  text-align: left;
  padding-left: 80px;
}

.article {
  padding: 0 83px;
  font-size: 0;
}

.article-content {
  columns: 2 auto;
  display: inline-block;
  font-size: 16px;
  color: #6c6c6c;
}

.article-content p {
  padding: 20px 20px 20px 0;
}


/* footer */
footer {
  background-color: #eeeeee;
}

.footer-wrapper {
  text-align-last: justify;
  padding: 27px 73px 15px 54px;
}

.copyright {
  display: inline-block;
  font-size: 16px;
  vertical-align: super;
}

.social-media {
  display: inline-block;
  font-size: 0;
}

.social-media-link {
  display: inline-block;
}

i {
  color: black;
  font-size: 32px;
  margin-left: 15px;
}

i:hover {
  color: #f4b352;
}

.social-media:last-child {
  margin-right: 50px;
}