/* line 5, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

.header {
		padding: 40px;
		font-family:verdana;
		background-color:#E5E5E5  ;
		font-weight: 700;
		text-align: center;
		/*margin-left: 300px;
		color: maroon;
		*/
		
	}
.header .logo{
	position: absolute;
	top: 20px;
	position:relative;

}

.header a
{
	text-decoration: none;
	display: inline-block;
	width: 200px;
	text-align: center;
	color:inherit;
}
.content{
	border-top:1px solid #D5D5D5;
	border-bottom: 1px solid #D5D5D5;
}
.content .unit p{
	padding: 90px 0 50px 0;
}
.content .unit {
display: inline-block;
width: 47%;
vertical-align: top;
background-color: #FDFDFD;

}
.content .unit p{
padding: 5px 0 20px 0;
 background-color: #FDFDFD;
 margin: 0px 4%;
}
.content .content1 {
	text-align: center;
	margin-left:5px;
}
.content .content1 h2{
	font-size: 50px;
	margin-left:5px;
}
.content .content1 h3{
	font-size: 25px;
	margin-left: 5px
}
.content .content1 p{
	margin-left: 5px;
	padding:60px;
     
}
.mainWidth h3{
font-size: 40px;
}
.blockBottom{
	margin-left: 200px;
	margin-right: 200px;
}
.tryIt{
	text-align: center;
}
.tryIt button{
	background-color: orange  ;
	color:white;

}
.footer button{
	text-align: right;
}

.footer{
		background-color: #E5E5E5 ;
		text-align:center;
		font-size:12px;
		padding:15px;
	}
