
body {
	margin: 0;
}

#header > div {
	background-color: #ebefef;
	width: 920px;
	height: 100px;
	margin: auto;
	padding: 10px 10px;
}

#content_up > div, #content_down > div {
	width: 920px;
	height: 360px;
	margin: auto;
	padding: 10px 10px;
}

#footer > div {
	background-color: #ebefef;
	width: 920px;
	height: 70px;
	margin: auto;
	padding: 10px 10px;
}

.clear {
	clear: both;
}

/*--------------------header--------------------*/

#header {
	background-color: #ebefef;
	border-bottom: 1px solid #ebefef;
	padding: 25px;
}

#logo {
	background-color: #ebefef;
	margin: auto;
	float: left;
	text-align: center;
}

#logo_Pic{
	background: url(../img/logo.png) no-repeat center center;
	width: 100px;
	height: 80px;
}

#nav {
	padding: 24px 0px;
	float: left;
}

#nav > li {
	display: inline-block;
	position: relative;
	left: -10px;
	width: 160px;
	text-align: center;
}

/*--------------------content_up--------------------*/

#content_up {
	padding: 25px;
}

#left {
	width: 380px;
	height: 340px;
	padding: 0 10px;
	margin: 10px;
	position: relative;
	left: 40px;
	float: left;
	font-size: 18px;
}

#left > h1 {
	margin: 5px 10px;
	font-size: 50px;
}

#left > h2 {
	margin: 5px 10px;
	font-size: 30px;
}

#left > p {
	margin: 5px 10px 25px 10px;
	font-size: 16px;
}

#left > img {
	margin: 0px 60px;
	text-align: center;
}

#left > #button {
	margin: 0px 60px;
	font-size: 16px;
}

#right {
	background: url(../img/box.png) no-repeat center center;
	width: 380px;
	height: 340px;
	padding: 0 10px;
	margin: 10px;
	position: relative;
	left: 40px;
	float: left;
	font-size: 18px;
}

/*--------------------content_down--------------------*/

#content_down {
	padding: 25px;
}

#object {
	padding: 0px 50px;
	margin: -15px 0;
	font-size: 18px;
}

.text {
	width: 390px;
	padding: 0 5px;
	margin: 10px;
	position: relative;
	left: 40px;
	float: left;
	font-size: 18px;
}

/*--------------------footer--------------------*/
#footer {
	background-color: #ebefef;
	border-bottom: 1px solid #ebefef;
	padding: 25px;
}

#author {
	width: 255px;
	padding: 0 5px;
	margin: 10px 0;
	float: left;
}

#link {
	width: 250px;
	padding: 10px 0px;
	margin: 8px 0;
	float: right;
}

#link > li {
	display: inline-block;
	width: 50px;
	text-align: center;
}
