@import url(headbox.css);
@import url(footer.css);

/* 方便比對切版精確度 */
.template {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
}

/* article */

.content {
  /* justify-content: center;
  width: auto;
  height: auto; */
  /* padding-top: 30px; */
  /* V1 */
  /* font-family: sans-serif; */
  /* width: 1256px; */

  /* v2 */
  font-family: sans-serif;
  width: auto;
  font-size: 0;
  margin: 60px auto;
  padding: 0 150px;
}

.intro {
  /* width: 900px;
  padding-left: 180px;
  margin-top: 60px; */
  /* width: 400px;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 20px; */

  /* v2 */
  width: 400px;
  display: inline-block;
  padding-left: 100px;
  vertical-align: top;
}

.intro_title {
  font-size: 60px;
  font-weight: 500;
  line-height: 60px;
  margin: 0;
}

.intro_secondtitle {
  font-size: 25px;
  font-weight: 300;
  margin: 0;
}
.intro_content {
  color: #808080;
  font-size: 15px;
}
.intro_imgcontainer {
  display: inline-block;
  /* width: 500px; */
}

/* button */

.intro_button-orange {
  background-color: orange;
  color: #fff;
  font-size: 25px;
  border-radius: 10px;
  height: 60px;
  width: 230px;
  background-image: linear-gradient(#ffba53 50%, #f99303 50%);
}

.intro_buttontext {
  font-size: 12px;
  display: block;
  margin: 5px 0;
}

/*-----   article  --------- */

.article_boxmodel {
  padding: 150px 25px 180px 25px;
}

.wrapper {
  /* width: 1100px; */
  column-count: 2;
  column-gap: 50px;
  margin: 0 auto;
}
.article_title {
  /* v2 */
  column-span: all;
  font-size: 25px;
  margin: 5px 20px;
}

/* Ｑ：如何抓寬度？ */
.article_content_fontstyle {
  /* v2 */
  font-size: 14px;
  line-height: 24px;
}
