@import url(headbox.css);
@import url(footer.css);

/* 方便比對切版精確度 */
.template {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
}

/* article */

.article {
  /* justify-content: center;
  width: auto;
  height: auto; */
  /* padding-top: 30px; */
  /* V2 */
  font-family: sans-serif;
  width: 1256px;
}

.intro {
  width: 900px;
  padding-left: 180px;
  margin-top: 60px;
}
.intro_text {
  font-family: "Source Sans Pro", sans-serif;
  width: 400px;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 20px;
}

.intro_title {
  font-size: 60px;
  font-weight: 500;
  line-height: 60px;
  margin: 0;
}

.intro_h3 {
  font-size: 25px;
  font-weight: 300;
  margin: 0;
}
.intro_p {
  color: #808080;
  font-size: 15px;
  margin: 0 0 30px 0;
}

.intro_img {
  vertical-align: top;
}

.intro_button {
  padding-left: 65px;
}
.intro_button-orange {
  background-color: orange;
  color: #fff;
  font-size: 25px;
  border-radius: 10px;
  height: 60px;
  width: 230px;
  background-image: linear-gradient(#ffba53 50%, #f99303 50%);
  padding-left: 5px;
}

.intro_button_text {
  margin: 5px 0;
  font-size: 12px;
}

/* Main:Right */

.intro_img {
  padding-left: 30px;
}

/*-----   Section  --------- */

.content {
  width: 1256px;
  margin-top: 150px;
}

.wrapper {
  width: 1100px;
  column-count: 2;
  column-gap: 50px;
  margin: 0 auto;
}
.content_title {
  font-family: "Source Sans Pro", sans-serif;
  column-span: all;
  font-size: 25px;
  /* margin: 0 0 20px 20px; */
}

/* Ｑ：如何抓寬度？ */
.content_p {
  width: 400px;
  line-height: 24px;
}
