.web_socialcontainer {
  /* background-color: gainsboro; */
  /* height: 75px; */
  /* width: 1256px; */
  /* border: 1px solid #d8d8d8; */
  /* overflow: hidden; */
  /* margin-top: 170px; */

  /* v2 */
  background-color: gainsboro;
  border: 1px solid #d8d8d8;
  line-height: 40px;
  vertical-align: middle;
  padding-top: 30px;
}

.web_social_text {
  /* float: left; */
  margin-left: 190px;
  font-size: 12px;
}

/* RightLink */

.web_social_link {
  /* float: right; */
  /* padding-right: 340px; */
  display: inline-block;
  padding: 20px 0 0 450px;
}

.web_socialLogo_logostyle {
  font-size: 30px;
  margin-left: 30px;
}

.web_socialLogo_logostyle:hover {
  color: orange;
  font-size: 50px;
}
