.footer {
  background-color: gainsboro;
  height: 75px;
  width: auto;
  border: 1px solid #d8d8d8;
  overflow: hidden;
}

p.footerP {
  float: left;
  padding-top: 30px;
  margin-left: 190px;
  font-size: 12px;
}

/* RightLink */

.socialLink {
  float: right;
  margin-right: 340px;
}

.socialLogo {
  font-size: 14px;
}

i.socialLogo {
  font-size: 30px;
  padding-top: 35px;
  margin-left: 20px;
}
