html {
  display: block;
}

body {
  margin: 0;
}

/* header ----------------------------------------- */

.headerSection {
  font-family: sans-serif;
  background-color: #eeeeee;
  width: 910px;
  height: auto;
  marrgin: 0 auto;
}

/* left :logo */
.log {
  padding-top: 20px;
  padding-bottom: 40px;
  float: left;
  width: 85px;
  text-align: center;
  display: block;
}

#log img {
  width: 52px;
  height: 80px;
  display: block;
  margin: 0 auto;
}

.text {
  font-size: 15px;
  text-align: center;
}

/* right:nav */
.headerLink {
  float: right;
  display: block;
}
li {
  display: inline;

  padding-top: 20px;
  padding-bottom: 30px;
  margin-left: 110px;
}
