* {
  outline: 1px solid red;
  font-family: sans-serif;
}

/* html的用途不被用為容器，它主要用於定義翻譯網頁內容 */
/* html {
  display: block;
  width: 1400px;
  height: auto;
} */

body {
  /* 知道為何這邊別人會用margin？ */
  margin: 0 auto;
  width: 1256px;
  box-sizing: border-box;
}

/* header ----------------------------------------- */

.web_top {
  /* overflow: hidden; */
  /* V2 */
  background-color: #eeeeee;
  width: 1256px;
  text-align: center;
}
/* left :logo */
.web_top_logo {
  /* V1 */
  /* float: left; */
  /* text-align: center; */
  /* padding-top: 20px;
  padding-left: 180px; */
  /*
  margin-right: 50px;*/
  /* margin-top: 5px; */
  /* v2 */
  width: 85px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 30px;
}
.web_top_logo img {
  margin-top: 20px;
}

.web_top_logo_text {
  /* margin-right: 10px;
  margin-top: -10px; */
  /* V2 */
  font-size: 13px;
  color: #333;
  /* display: block; */
  text-align: center;
}

/* right:nav */

.web_top_nav {
  /* padding: 10px; */
  /* display: inline-block; */
  /* display: inline; */
  /* margin-top: 60px; */
  /* margin-right: 140px; */
  /* padding-right: 50px; */
  /* padding-top: 5px;
  padding-left: 10px;
  width: 1500px; */
  vertical-align: middle;

  /* V2 */
  display: inline-block;
  width: auto;
  margin-right: 50px;
}
.web_top_nav_link {
  /* display: inline; */
  /* margin-left: 110px;
  margin-top: 200px;
  padding-right: 40px;
  margin-right: 10px; */
  /* V2 */
  display: inline-block;
  text-decoration: none;
  color: #333;
  line-height: 160px;
  margin-left: 100px;
}

.web_top_nav-hover:hover {
  color: orange;
  font-size: 20px;
}
