/* 看板輔助用 */

* {
  outline: 1px solid red;
  font-family: sans-serif;
}

/* 方便比對切版精確度 */
.template {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
}

/* Body */

body {
  margin: 0 auto;
  box-sizing: border-box;
}

body .wrap {
  min-width: 1000px;
}

/* HEADER */

header {
  background-color: #eeeeee;
}
.container {
  text-align: center;
  font-size: 0;
  padding: 30px 0;
}

header h1 {
  display: inline-block;
  vertical-align: middle;
  margin-right: 80px;
}

header nav {
  display: inline-block;
  vertical-align: middle;
}
header nav a {
  font-size: 14px;
  text-decoration: none;
  color: #333;
  padding: 0 20px;
}

header nav a:first-child {
  margin-right: 100px;
}
header nav a:nth-child(2) {
  margin-right: 50px;
}
header nav a:nth-child(3) {
  margin-right: 70px;
}
header nav a:nth-child(4) {
  margin-right: 80px;
}
header nav a:last-child {
  margin-right: 40px;
}
header nav a:hover {
  color: orange;
}

/* --------- Main ----------- */

main {
  font-size: 0;
  padding-bottom: 90px;
}

/* SECTION */

main div.content {
  padding: 60px 90px;
  margin: 0 auto;
  /* overflow: hidden; */
}
main div.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

main div section {
  width: 400px;
  float: left;
  margin-left: 150px;
}

section h2 {
  font-size: 60px;
  font-weight: 500;
  margin: 0;
}

section h3 {
  font-size: 28px;
  font-weight: 500;
  margin: 0;
}
section p {
  color: #333;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

/* BUTTON */

section .button_container {
  padding: 15px 0 0 60px;
}

section button {
  color: #fff;
  font-size: 25px;
  border-radius: 10px;
  border: none;
  height: 60px;
  width: 230px;
  background-image: linear-gradient(#ffba53 50%, #f99303 50%);
}

section .button_container p {
  font-size: 12px;
  margin: 0;
}

/* Section img */
div figure {
  float: right;
  padding-right: 80px;
}

/*-----   article  --------- */

article .wrap {
  column-count: 2;
  column-gap: 50px;
  margin: 0 auto;
  padding: 70px 100px;
}
article h3 {
  /* v2 */
  column-span: all;
  font-size: 25px;
}

article p {
  font-size: 15px;
  font-weight: 500;
}

/* left column */
article h3,
article p:nth-child(3),
article p:nth-child(4) {
  margin-left: 120px;
}

p:nth-child(2) {
  margin: 0 0 0 120px;
}

article p:nth-child(3),
article p:nth-child(4) {
  padding: 25px 0;
}

/* right column */
article p:nth-child(6),
article p:last-child {
  padding: 10px 0;
}
/* ----------FOOTER----------- */

footer {
  background-color: gainsboro;
  border: 1px solid #d8d8d8;
  padding: 20px 0;
}

footer::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

footer span {
  font-size: 12px;
  margin: 0 auto;
  float: left;
  padding: 8px 0 0 190px;
}

footer nav {
  margin: 0;
  float: right;
  padding-right: 180px;
}

footer a {
  font-size: 30px;
  margin-right: 20px;
  color: #333;
}
