/* 看板輔助用 */

* {
  outline: 1px solid red;
  font-family: sans-serif;
}

/* 方便比對切版精確度 */
.template {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
}

/* 
V2:
html的用途不被用為容器，它主要用於定義翻譯網頁內容 
*/
/* html {
    display: block;
    width: 1400px;
    height: auto;
  } */

body {
  /* v2 */
  /* margin: 0 auto;
  box-sizing: border-box;
  font-size: 0; */
  width: 1265px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* header */

header {
  background-color: #eeeeee;
  font-size: 0;
  padding: 30px 0;
}
.container {
  /* overflow: hidden; */
  /* v1 */
  /* background-color: #eeeeee;
    width: 1256px; */
  /* text-align: center; */
  /* V2 */
  /* width: auto; */
  /* padding: 0 35px;
  text-align: center; */
  /* v3 */
  text-align: center;
}

header h1 {
  /* initial */
  /* float: left; */
  /* text-align: center; */
  /* padding-top: 20px;
    padding-left: 180px; */
  /*
    margin-right: 50px;*/
  /* margin-top: 5px; */
  /* v1 */
  /* width: 85px;
    display: inline-block; */

  /* v2 */
  /* text-decoration: none;
  width: 85px;
  display: inline-block;
  vertical-align: middle;
  padding: 0 50px 10px 0; */

  /* v3 */
  display: inline-block;
  vertical-align: middle;
  margin-right: 90px;
}

nav {
  /* padding: 10px; */
  /* display: inline-block; */
  /* display: inline; */
  /* margin-top: 60px; */
  /* margin-right: 140px; */
  /* padding-right: 50px; */
  /* padding-top: 5px;
    padding-left: 10px;
    width: 1500px; */
  /* vertical-align: middle; */

  /* V1 */
  /* display: inline-block; */
  /* width: auto; */
  /* margin-right: 50px; */

  /* v2 */
  display: inline-block;
  vertical-align: middle;
}
nav a {
  /* display: inline; */
  /* margin-left: 110px;
    margin-top: 200px;
    padding-right: 40px;
    margin-right: 10px; */
  /* V1 */
  /* display: inline-block;
    text-decoration: none;
    color: #333;
    line-height: 160px;
    margin-left: 100px; */
  /* V2 */
  /* display: inline-block; */
  font-size: 14px;
  text-decoration: none;
  color: #333;
  padding: 0 20px;
  /* margin-right: 70px; */
}
nav a:first-child {
  margin-right: 50px;
}
nav a:nth-child(2) {
  margin-right: 50px;
}
nav a:nth-child(3) {
  margin-right: 100px;
}
nav a:nth-child(4) {
  margin-right: 100px;
}
nav a:last-child {
  margin-right: 40px;
}
nav a:hover {
  color: orange;
  font-size: 15px;
}

/* .link-hover:hover {
  color: orange;
  font-size: 20px;
} */

/* --------- Main ----------- */

/* section */

main {
  /* justify-content: center;
  width: auto;
  height: auto; */
  /* padding-top: 30px; */
  /* V1 */
  /* font-family: sans-serif; */
  /* width: 1256px; */

  /* v2 */
  /* font-family: sans-serif; */
  /* margin: 60px auto; */
  /* padding: 0 150px; */
  /* v3 */
  font-size: 0;
  width: inherit;
  margin-bottom: 270px;
}
div.content {
  margin: o auto;
  width: 1200px;
  text-align: center;
  padding: 50px 0;
}
main div section {
  /* width: 900px;
  padding-left: 180px;
  margin-top: 60px; */
  /* width: 400px;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 20px; */

  /* v2 */
  /* width: 400px;
  display: inline-block; */
  /* padding-left: 100px; */
  /* vertical-align: top; */

  /* v3 */
  width: 400px;
  display: inline-block;
  vertical-align: middle;
}

section h2 {
  font-size: 60px;
  font-weight: 500;
  line-height: 60px;
  margin: 0;
}

section h3 {
  font-size: 25px;
  font-weight: 300;
  margin: 0;
}
section p {
  color: #808080;
  font-size: 15px;
}
section div.button {
  width: inherit;
  text-align: center;
}

/* button */

section button {
  color: #fff;
  font-size: 25px;
  border-radius: 10px;
  height: 60px;
  width: 230px;
  background-image: linear-gradient(#ffba53 50%, #f99303 50%);
}

section div.button p {
  font-size: 12px;
  margin: 5px 0;
  text-align: center;
}

/* Section img */
div figure {
  display: inline-block;
  vertical-align: middle;
}

/*-----   article  --------- */

main article {
  margin: 100px auto;
  width: 1200px;
}

article .wrapper {
  /* width: 1100px; */
  column-count: 2;
  column-gap: 50px;
  margin: 0 200px;
}
article h3 {
  /* v2 */
  column-span: all;
  font-size: 25px;
  margin: 5px 20px;
}

/* Ｑ：如何抓寬度？ */
article p {
  /* v2 */
  font-size: 14px;
  line-height: 24px;
}

article p:nth-child(2) {
  margin: 0;
}

/* -----footer----------- */

footer {
  /* background-color: gainsboro; */
  /* height: 75px; */
  /* width: 1256px; */
  /* border: 1px solid #d8d8d8; */
  /* overflow: hidden; */
  /* margin-top: 170px; */

  /* v2 */
  background-color: gainsboro;
  border: 1px solid #d8d8d8;
  line-height: 40px;
  padding-top: 20px;
}

footer span {
  /* float: left; */
  font-size: 12px;
  /* v3 */
  display: inline-block;
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

footer div {
  /* float: right; */
  /* padding-right: 340px; */
  display: inline-block;
  /* v3 */
  width: 600px;
  margin: 0 auto;
  text-align: center;
  margin-right: 50px;
}

footer a {
  font-size: 30px;
  margin-left: 30px;
}

.web_socialLogo_logostyle:hover {
  color: orange;
  font-size: 50px;
}
