/* 看板輔助用 */

* {
  outline: 1px solid red;
  font-family: sans-serif;
}

/* 方便比對切版精確度 */
.template {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
}

/* Body */

body {
  margin: 0 auto;
  box-sizing: border-box;
}

body .wrapper {
  min-width: 1280px;
}

/* HEADER */

header {
  background-color: #eeeeee;
}
header .container {
  /* text-align: center; */
  font-size: 0;
  padding: 30px 0;
  margin: 0 auto;
  width: fit-content;
}

header h1 {
  display: inline-block;
  vertical-align: middle;
  margin-right: 80px;
}

header h1 a {
  display: block;
}

header nav {
  display: inline-block;
  vertical-align: middle;
}
header nav a {
  font-size: 14px;
  text-decoration: none;
  color: #333;
  padding: 20px 20px;
  margin-right: 50px;
}

header nav a:hover {
  color: orange;
  /* font-size: 20px; */
}

/* --------- Main ----------- */

main {
  font-size: 0;
  padding-bottom: 180px;
}

/* SECTION */

main div.content {
  padding: 60px 240px;
  margin: 0 auto;
}
/* main div.content::after {
  content: "";
  display: block;
  clear: both;
} */

main div section {
  width: 400px;
  /* float: left; */
  /* margin-left: 150px; */
  display: inline-block;
  vertical-align: middle;
}

section h2 {
  font-size: 60px;
  font-weight: 500;
  margin: 0;
}

section h3 {
  font-size: 28px;
  font-weight: 500;
  margin: 0;
}
section p {
  color: #333;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

/* BUTTON */

section .button_container {
  /* padding: 15px 0 0 60px; */
}

section button {
  color: #fff;
  font-size: 25px;
  border-radius: 10px;
  border: none;
  height: 60px;
  width: 230px;
  background-image: linear-gradient(#ffba53 50%, #f99303 50%);
}

section .button_container p {
  font-size: 12px;
  margin: 0;
}

/* Section img */
main div.img_container {
  /* float: right; */
  /* padding-right: 80px; */
  display: inline-block;
  vertical-align: middle;
}

/*-----   article  --------- */

article .container {
  column-count: 2;
  column-gap: 50px;
  margin: 0 auto;
  padding: 70px 200px;
}
article h3 {
  /* v2 */
  column-span: all;
  font-size: 25px;
}

article p {
  font-size: 15px;
  font-weight: 500;
  display: inline-block;
}

/* ----------FOOTER----------- */

footer {
  background-color: gainsboro;
  border: 1px solid #d8d8d8;
  padding: 20px 15%;
}

footer::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

footer span {
  font-size: 12px;
  margin: 0 auto;
  /* float: left; */
  /* padding: 8px 0 0 190px; */
  vertical-align: middle;
}

footer nav {
  margin: 0;
  float: right;
  /* padding-right: 180px; */
  vertical-align: middle;
}

footer a {
  font-size: 30px;
  margin-right: 20px;
  color: #333;
  text-decoration: none;
}
