/* 看板輔助用 */

* {
  /* outline: 1px solid red; */
  font-family: sans-serif;
}

/* 方便比對切版精確度 */
.template {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
}

/* Common setting */

body {
  margin: 0 auto;
  box-sizing: border-box;
  min-width: 900px;
}

.container {
  width: 900px;
  margin: 0 auto;
}

/* HEADER */

header {
  background-color: #eeeeee;
}
header .container {
  font-size: 0;
  line-height: 150px;
}

header h1 {
  display: inline-block;
  margin-right: 50px;
}

header h1 a {
  display: block;
}

header h1 img {
  width: 79px;
  height: 85px;
  object-fit: contain;
  vertical-align: middle;
}

header nav {
  display: inline-block;
  vertical-align: middle;
}
header nav a {
  font-size: 14px;
  text-decoration: none;
  color: #333;
  padding: 20px 20px;
  margin-right: 80px;
}

header nav a:last-child {
  margin-right: 0;
}

header nav a:hover {
  color: orange;
}

/* --------- Main ----------- */

section {
  font-size: 0;
}

/* SECTION */

main.container {
  padding: 60px 0;
}

main div.message {
  width: 45%;
  display: inline-block;
  vertical-align: top;
  padding-left: 5%;
}

.message h2 {
  font-size: 60px;
  font-weight: 500;
  margin: 0;
}

.message h3 {
  font-size: 28px;
  font-weight: 500;
  margin: 0;
}
.message p {
  color: #333;
  font-size: 15px;
  font-weight: 500;
  margin: 0;
}

/* BUTTON */

.message_button_container {
  margin: 20px auto;
  width: 230px;
}

.message_button_container button {
  color: #fff;
  font-size: 25px;
  border-radius: 10px;
  border: none;
  height: 60px;
  width: 230px;
  background-image: linear-gradient(#ffba53 50%, #f99303 50%);
}

.message_button_container p {
  font-size: 12px;
  margin: 0;
}

/* Section img */
main div.image_container {
  display: inline-block;
  vertical-align: top;
  width: 45%;
  object-fit: contain;
  margin-left: 5%;
}

/*-----   article  --------- */

article .container {
  column-count: 2;
  column-gap: 50px;
  padding-top: 80px;
  padding-bottom: 180px;
}
article h3 {
  column-span: all;
  font-size: 25px;
}

article p {
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 40px;
}

/* ----------FOOTER----------- */

footer {
  background-color: gainsboro;
  border: 1px solid #d8d8d8;
}

footer .container {
  margin: 20px auto;
  line-height: 50px;
}

footer .clearfix::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

footer span {
  font-size: 12px;
  margin: 0 auto;
  vertical-align: middle;
}

footer nav {
  margin: 0;
  float: right;
  vertical-align: middle;
}

footer i {
  font-size: 30px;
  margin-right: 20px;
}

footer a {
  color: #333;
  text-decoration: none;
}

footer a:hover {
  color: #f99303;
}
