* {
    outline: 1px solid red;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

h1,h2,h3,p,a,ul,li {
    margin: 0;
}

/* top */

header{
    background-color: rgb(238, 239, 239);
}
.header__container {
    padding: 30px 0 30px 0;
    margin: 0 auto;
    width: 1200px;
    text-align: center;
    font-size: 0;
}

.header__logo {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    width: 120px;
    height: 100px;
}
.header__logo a {
    float: left;
    font-size: 0;
    width: 120px;
    height: 80px;
    object-fit: cover;
}



.header__logo h1{
    width: 120px;
    height: 100px;
    font-size: 15pt;
}
.header__nav {
    vertical-align: bottom;
    display: inline-block;
}
.header__nav ul {
    width: 1080px;
    padding: 20px 0 20px 0;
    font-size: 0;
    height: 60px;
}

.header__nav li {
    display: inline-block;
    list-style: none;
    margin: 0 50px 0 50px;
    padding: 18px 0px;
    /* border: 1px solid transparent; */
}

.header__nav a {
    padding: 18px;
    /* margin: 0 0 0 40px; */
    font-size: 15pt;
    text-decoration: none;
    text-transform: capitalize;
    color: black;

} 
.header__nav a:hover {
    color: #f99303;
}

/* middle */

.main__container {
    margin: 0 auto;
    width: 1200px;
}

.__logo{

}

/* buttom */
