.clear {
    clear: both;
}

#bar {
    width: 100%;
    margin: 0px auto;
    background-color: #efefef;
}

#icon {
    width: 80%;
    margin: 0px auto;
    background-color: #efefef;
    text-align: center;
    height: 100%;
}

#icon ul {
    width: 100%;
    height: 190px;
    /*background-color: pink;*/
}

#icon li {
    float: left;
    text-align: center;
    width: 15.5%;
    height: 190px;
    /*outline: solid;*/
    background-color: #efefef;
    display: flex;
    align-items: center;
    justify-content: center;
}

#icon img {
    /*outline: solid;*/
    height: 50%;
}

@media screen and (min-width: 300px) and (max-width: 750px) {
    #icon {
        width: 100%;
        background-color: #efefef;
        height: 100%;
    }
    #icon ul {
        width: 100%;
        height: 100%;
        /*background-color: pink;*/
    }
    #icon li {
        float: none;
        width: 100%;
        height: 100%;
        /*outline: solid;*/
        background-color: #efefef;
        display: inline-block;
        line-height: 40px;
    }
    #icon img {
        /*outline: solid;*/
        width: 30%;
    }
}

#text1 {
    width: 100%;
    height: 100%;
    background-color: #fdfdfd;
}

#text2 {
    width: 100%;
    height: 100%;
    /*background-color: #fdfdfd;*/
}

.textmid {
    width: 80%;
    height: 100%;
    /*background-color: red;*/
    /*outline: solid;*/
    margin: 0 auto;
}

#texth2 h2 {
    font-size: 35px;
    line-height: normal;
    padding-left: 100px;
    padding-top: 50px;
}

.textlist {
    width: 40%;
    height: 100%;
    padding-top: 50px;
    padding-left: 100px;
    padding-bottom: 50px;
    /*background-color: green;*/
    float: left;
}

.textlist h1 {
    font-size: 60px;
    line-height: normal;
}

.textlist h2 {
    font-size: 30px;
    line-height: normal;
}

.textlist h3 {
    font-size: 15px;
    /*display: block;*/
    line-height: normal;
    width: 50%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.textlist p {
    font-size: 15px;
    line-height: 2;
}

.textlist img {
    display: block;
    width: 60%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.textimg {
    width: auto;
    float: left;
    height: 500px;
    padding-top: 50px;
    /*margin-left: 50px;*/
}

@media screen and (min-width: 300px) and (max-width: 760px) {
    #text2 {
        width: 100%;
        height: 100%;
        /*background-color: #fdfdfd;*/
    }
    .textmid {
        width: 90%;
        height: 100%;
        /*outline: solid*/
    }
    .textlist {
        float: none;
        width: 100%;
        height: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 0px;
        /*background-color: green;*/
    }
    .textlist h1 {
        font-size: 70px;
        line-height: 2;
    }
    .textlist h2 {
        font-size: 40px;
        line-height: 2;
    }
    .textlist h3 {
        font-size: 20px;
        /*display: block;*/
        line-height: 2;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .textlist p {
        font-size: 18px;
        line-height: 1.6;
    }
    .textlist img {
        /*display: block;*/
        width: 60%;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        /*text-align: center;*/
    }
    .textimg {
        width: 80%;
        float: none;
        margin: 0 auto;
        height: 100%;
        padding-top: 0px;
        padding-bottom: 30px;
        /*background-color: blue;*/
        display: flex;
        justify-content: center;
    }
    .textimg img {
        /*background-color: red;*/
        /*text-align: center;*/
    }
    #texth2 h2 {
        font-size: 45px;
        line-height: 2;
        padding-left: 0px;
        padding-top: 0px;
    }
}

#bottom {
    width: 100%;
    height: 100%;
    background-color: #efefef;
}

#bottomA {
    font-size: 13px;
    /*background-color: green;*/
    padding-top: 10px;
    margin-left: 210px;
    line-height: 90px;
}

#bottomB {
    float: right;
    /*background-color: blue;*/
    margin-right: 200px;
}

#bottomB img {
    width: 11%;
    padding-left: 20px;
    padding-top: 30px;
}

@media screen and (min-width: 300px) and (max-width: 750px) {
    #bottomA {
        font-size: auto;
        /*background-color: green;*/
        width: 90%;
        height: 100%;
        padding-left: 0px;
        margin: 0 auto;
        line-height: 30px;
        text-align: left;
    }
    #bottomB {
        float: none;
        width: 100%;
        /*background-color: blue;*/
        /*margin: 0 auto;*/
    }
    #bottomB img {
        height: auto;
        padding-left: 40px;
        padding-top: 30px;
    }
}