			* {
				margin: 0;
			}

			h1 {
				font-size: 3rem;
			}

			h2 {
				font-size: 1.8rem;
			}

			.text-small {
				font-size: 1rem;

			}

			#header {
				background: #EEEEEE;
				border-bottom: 1px solid #dbdbdb;				
			}


			#logo {
				display: inline-block;
				width: 15%;
				vertical-align: middle;
			}

			nav {
				width: 84%;
				display: inline-block;
				font-size: 1vw;
			}

			nav a, nav a:visited {
				color: #838383;
				text-decoration: none;
				display:inline-block;
				width: 19%;
				text-align: center;

			}

			nav a:hover {
				color: #fa9805;
			}

			.padding {
				padding: 25px 12%;
			}

			.banner {
				background-color: #fdfdfd;

			}

			.block {
				display: inline-block;
				width: 39%;
				padding: 2% 4%;
				vertical-align: top;
				position: relative;
			}

			 #banner-img {
			 	width: 100%;
			 }

			.button {
			    font-size: 1.8rem;
			    padding: 3% 10%;
			    border-radius: 10px;
			    border: none;
			    background: linear-gradient(#ffb847 50%, #fa9500 50%);
			    color: #FFF;
			    text-decoration: none;
			    display: inline-block;
			}

			.btn-zone{
				position: absolute;
				left: 50%;
				transform: translate(-50%, 0%);
				width: 70%;
				margin: 5% 0%;
			}

			.content-head {
				padding: 1% 4%;
			}

			.content p {
				padding: 5% 0%;
			}

			.footer {
				background: #efefef;
				border-top: 1px solid #dbdbdb;
				overflow: hidden;
			}

			.ftr-l, .ftr-r {
				display:inline-block;				
			}

			.ftr-l {
				padding: 1% 0%;
			}

			.ftr-r {
				float: right;
				width: 30%;
				padding-right: 5%;
			}

			.ftr-r a, .ftr-r a:visited {
				color: #000;
			}

			.ftr-r i {
				padding: 0% 3%;
			}