			* {
				margin: 0;
			}

			h1 {
				font-size: 3rem;
			}

			h2 {
				font-size: 1.8rem;
			}

			p {
				font-size: 1.2rem;
			}

			.text-small {
				font-size: 1rem;

			}

			.nav {
				background: #EEEEEE;
				position: relative;
				padding: 25px 5%;
				border-bottom: 1px solid #dbdbdb;
			}

			#logo {
				padding: 0px 50px;
				margin-left: 50px;
			}

			nav {
				display: inline-block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: 1.2rem;
			}

			nav a, nav a:visited {
				color: #838383;
				text-decoration: none;
				margin: 0px 50px 0px;
			}

			nav a:hover {
				color: #fa9805;
			}

			.padding {
				padding: 25px 20% 50px;
			}

			.banner {
				background-color: #fdfdfd;

			}

			.block {
				display: inline-block;
				width: 45%;
				padding: 2%;
				vertical-align: top;
				position: relative;
			}

			 #banner-img {
			 	width: 100%;
			 }

			.button {
			    font-size: 1.8rem;
			    padding: 3% 10%;
			    border-radius: 10px;
			    border: none;
			    background: linear-gradient(#ffb847 50%, #fa9500 50%);
			    color: #FFF;
			    text-decoration: none;
			    display: inline-block;
			}

			.btn-zone{
				position: absolute;
				left: 50%;
				transform: translate(-50%, 0%);
				width: 70%;
				margin: 10% 0%;
			}

			.content-head {
				padding: 0% 2%;
			}

			.content p {
				padding: 5% 0%;
			}

			.footer {
				background: #efefef;
				border-top: 1px solid #dbdbdb;
			}

			.link {
				text-align: right;
			}

			.link a, .link a:visited {
				color: #000;
			}

			.link i {
				padding: 0% 3%;

			}