body{
	margin: 0px;
}

/* header and footer row */
.border-row{
	background-color: #eee;
}

.content-row{
	width: 75%;
	margin: auto;
	padding: 0;
}

.content-row-2{
	width: 70%;
	margin: auto;
	padding: 0;
	text-align: center;
}

.content-row-3{
	width: 70%;
	margin: auto;
	padding: 0;
}

/*header row*/
header{
	padding: 2% 0;
}

div.logo{
	display: inline-block;
	width: 15%;
	vertical-align: middle;
}

.nav{
	display: inline-block;
	width: 80%;
}

/*
怎麼讓 nav li 平均展開
ref: http://stackoverflow.com/questions/49536/how-do-i-really-justify-a-horizontal-menu-in-htmlcss
*/
.nav ul{
	display: flex;
	justify-content: space-between;
	/*justify-content: space-around;*/
}

.nav ul li{
	display: inline-block;
}

/*nav ul::after {
	width: 100%; 
	display: inline-block; 
	content: " "; 
}*/

.nav a{
	color: #818181;
	text-decoration: none;
}

a.active{
	color: #f99600;
}


/*section rows*/
.section{
	padding-bottom: 7%;
}

.section-column{
	width: 45%;
	min-width: 40%;
	display: inline-block;
	margin-top: 0;
	margin-right: 3%;
	text-align: left;
}

.text-section-column{
	line-height: 24px;
}

h1#idea{
	font-size: 60px;
	line-height: 1em;
}

h2{
	font-size: 24px;
}

div.btn-area{
	margin-top: 5%;
	padding-left: 20%;
}

button.try-btn{
	width: 230px;
	height: 60px;
	background: url(./bg-button.png) no-repeat;
	background-position: 0 -70px;
	color: #ffffff;
	font: 24px/60px 'OpenSans';
	border-width: 0;
}

span#notice{
	font-size: 8pt;
}

.up{
	background: url(./bg-adbox.jpg);
}

.box-img{
	vertical-align: -350%;
}

.down h2{
	padding: 3% 0;
}

.down p{
	color: #585858;
	margin: 5% 0;
}


/*footer*/
footer{
	border-top: 1px solid #d8d8d8;
}

.footer-column{
	display: inline-block;
	vertical-align: middle;
	padding: 1% 0;
}

.copyright{
	font-size: 8pt;
	color: #585858;
}

.link{
	width: 70%;
	text-align: right;
}
.link a{
	background: url(./icons.png) no-repeat; 
	height: 30px;
	width: 30px;
	display: inline-block;
	margin-left: 1%;
	margin-right: 1%;
}

a.fb{
	background-position: 0 0;
}

a.google{
	background-position: 0 -40px;
}

a.twitter{
	background-position: 0 -80px;
}

a.pin{
	background-position: 0 -120px;
}