#title {
  /*background-color: #C8FE2E;*/
  width: 54em;
  height: 5em;
  margin-left: 13em;
  padding-left: 2em;
  padding-right: 2em;

  display: flex;
  align-items: center;
}

#content {
  /*background-color: #01A9DB;*/
  width: 54em;
  height: 18em;
  margin-left: 13em;
  padding-left: 2em;
  padding-right: 2em;

  /* # of columns */
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  /* gap between columns */
  -webkit-column-gap: 5em; /* Chrome, Safari, Opera */
  -moz-column-gap: 5em; /* Firefox */
  column-gap: 5em;
}
