#header ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding-left: 8em;
  padding-top: 1em;
}

#header img {
  width: 6em;
  height: 6em;
}

#header li {
  padding-left: 3em;
  padding-right: 1em;
  width: 7em;
  height:auto;
}

#header a:visited, a:link {
  display: inline-block;
  /*background-color: #FFFFFF;*/
  width: 100%;
  height: auto;
  text-decoration: none;
  padding: 0.5em;
  color: #848484;
  text-align: center;
}

#header a:hover, a:active {
  color: #FA8258;
}
