#header {
  background-color: #E6E6E6;
  width: 85em;
  height: 8em;
}

#topContainer {
  background-color: #F2F2F2;
  width: 85em;
  height: 25em;
}


#bottomContainer {
  background-color: white;
  width: 85em;
  height:30em;
}

#footer {
  background-color: gray;
  width: 85em;
  height: 4em;
}
