/* MY CODE */

* {
    /* outline: 1px solid red; */
    font-family: 'Noto Sans TC', sans-serif;
} 

/* html {
    min-width: 1000px;
} */

body {
    min-width: 1000px;
    margin: 0 auto;
} 

header {
    background-color: #efefef;
}

h1 {
    display: inline-block;
    vertical-align: middle;
    margin: 0 90px 0 0;
}

.logo {
    display: block;
    width: 90px;
} 

nav {
    display: inline-block;
    vertical-align: middle;
}

nav a + a {
    margin-left: 120px;
}

nav a { 
    line-height: 10;
    padding: 4px;
    text-decoration: none;
    color: #808080;
    font-size: 18px;
}

nav a:hover {
    color: #ffa500;
}

/* MAIN */

section {
    background-color: #fdfdfd;
    padding-top: 50px;
    padding-bottom: 100px;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
    font-size: 0;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.intro, .intro__img {
    /* float: left; */
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

h2 {
    font-size: 70px;
    text-transform: uppercase;
    margin: 0;
}


.intro__text {
    margin-bottom: 40px;
}

h2 + p {
    font-size: 35px;
    margin: 0;
}

.intro__text p:last-child {
    font-size: 18px;
    margin: 0;
}

.intro__button {
    margin: 0 auto;
    width: fit-content;
}

button {
    border: none;
    background-image: linear-gradient( #FFBB62 50%,#FA922B 50%);
    width: 250px;
    height: 70px;
    border-radius: 6px;
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
}

button:hover {
    transform: scale(1.05);
    transition: transform 0.5s;
    cursor: pointer;
}

.intro__button p {
    margin: 0;
    font-size: 15px;
}

.intro__img img {
    /* width: 100%;
    vertical-align: bottom; */
    width: 500px;
    height: 470px;
    object-fit: contain;
}

article {
    padding-top: 60px;
    padding-bottom: 250px;
}

h3 {
    margin: 0;
    font-size: 36px;
}

.article__content {
    columns: 2;
    column-gap: 30px;
} 

.article__content p {
    font-size: 20px;
    margin: 0; 
    margin-top: 20px;
    display: inline-block; /* to fix the margin collapse*/
}  

/* .article__content p:nth-child(3n) {
    margin-bottom: 0;
}  */


/* FOOTER */

footer .wrapper {
    padding: 25px 0;
}

footer {
    background-color: #efefef;
    border-top: 1px solid #e9e9e9;
}

.footer__copyright {
    display: inline-block;
    vertical-align: middle;
}

.footer__copyright span{
    font-size: 16px;
}

.footer__link {
    float: right;
    /* font-size: 0; */ 
}

.footer__link  a {
    display: inline-block;
}

.footer__link a + a {
    margin-left: 20px;
}

.footer__link i {
    background-color: #000;
    border-radius: 5px;
    width: 30px;
    line-height: 30px;
    font-size: 20px;
    color: #fff;
    text-align: center;
}

.footer__link i:hover {
    color: #ffa500;
}


/* Layout Model */
.template {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: .5;
    z-index: 2;
    /* z-index: -1; */
}