body {
  background: url(../img/0Template_1.png) top center no-repeat;
  background-size: 120%;
  outline: 4px solid red;
}

/* ========== navigation ========== */
#header {
  padding: 27px  0;
  background-color: #efefef;
  /* outline: 4px dashed black; */
}

nav {
  margin-left: 68px;
  /* outline: 1px dashed green; */
}

nav #logo {
  float: left;
  /* outline: 2px solid blue; */
}

#logo .logo-img {
  width: 50px;
  margin: 0 auto;
}

#logo h4 {
  position: relative;
  bottom: 7px;

  text-transform: uppercase;
  font-size: 15px;
  font-weight: 100;
  color: #333;
}

nav ul.nav {
  display: flex;
  justify-content: space-between;
  width: 750px;
  padding-left: 70px;
  /* outline: 2px dashed red; */
}

.nav li {
  display: inline-block;
  padding: 40px 0px;
}

.nav li a {
  text-transform: capitalize;
  text-decoration: none;
  color: #989898;
}

.nav li a:hover {
  color: #333;
}

.nav li a:active {
  color: #f5ad41;
} 
