.intro {
  /* padding: 115px 0; */
  margin: 115px auto;
  max-width: 830px;
  /* outline: 1px solid red; */
}

.intro h2 {
  padding: 35px 0px;
  font-size: 30px;
  color: #333;
}

.intro p {
  width: 400px;
  line-height: 1.5;
}

.intro .col-left {
  /* margin-left: 110px; */
  margin-right: 27px;
}

.intro .col-right p {
  /* margin-left: 27px; */
}
