body {
  font-family: sans-serif;
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

h1 {
  margin: 0;
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*------------------------header-------------------------------*/

header {
  background-color: #eeeeef;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 30px 0;
}

.logo {
  vertical-align: middle;
  display: inline-block;
}

.logo img {
  position: relative;
  left: 21%;
}

.header ul {
  vertical-align: middle;
  display: inline-block;
}

.header ul li {
  margin-left: 110px;
  display: inline-block;
}

.header ul li a {
  color: black;
  text-decoration: none;
}

.header ul li a:hover {
  color: orange;
}

/*------------------------content-------------------------------*/

.content {
  width: 900px;
  margin: 100px auto;
}

.content_first {
  margin-bottom: 150px;
}

.content_first img {
  float: right;
}

.content_first_left {
  width: 50%;
}

.content_first_left h2 {
  margin: 0;
}

.content_first p {
  margin: 0;
  color: #585858;
}

.button_space {
  margin: 20px 110px;
}

button {
  color: #ffffff;
  font-size: 24px;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  background: linear-gradient(to bottom, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
}

.content_text {
  column-count: 2;
  column-gap: 50px;
}

.content_text p {
  margin-top: 0;
  margin-bottom: 28px;
}

/*------------------------footer-------------------------------*/

footer {
  background-color: #eeeeef;
}

.footer_left {
  line-height: 32px;
}

.footer_social {
  float: right;
  margin-right: 50px;
}

.footer_social li {
  margin-left: 15px;
  display: inline-block;
}

.footer_social li i {
  font-size: 200%;
}